In [1]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
!python -V

Python 3.11.2

In [3]:
import binpan
from binpan import handlers
from random import choice

Cannot import numba: only Python versions >=3.7,<3.11 are supported. Using Numpy.

In [4]:
binpan.__version__

'0.5.21'

# Database connector

In [5]:
db = binpan.Database(host="192.168.89.242")

Host: 192.168.89.242
Port: 5432
User: nando
Database: crypto

In [6]:
db.status()

Host: 192.168.89.242
Port: 5432
User: nando
Password: I6d4imwC0arZSr98WaIN5w==
Database: crypto
Connection: <connection object at 0x00000230C1C35470; dsn: 'user=nando password=xxx connect_timeout=10 dbname=crypto host=192.168.89.242 port=5432', closed: 0>
Cursor: <cursor object at 0x0000023091075EE0; closed: 0>

In [7]:
tables = db.get_tables(table_type="aggtrade")
tables

['ltcusdt_aggtrade']

In [8]:
table=choice(tables)
table

'ltcusdt_aggtrade'

In [9]:
"ltcusdt_aggtrade" in tables

True

In [10]:
db.get_columns(table_name="ltcusdt_aggtrade")

['trade_id',
 'price',
 'quantity',
 'first_trade_id',
 'last_trade_id',
 'time',
 'seller_taker']

In [11]:
symbol = table.split("_")[0]
tick_interval = table.split("_")[-1]

In [12]:
sym = binpan.Symbol(symbol=symbol,
                    tick_interval="1h",
                    time_zone='Europe/Madrid',
                    postgres_agg_trades="192.168.89.242")

2023-10-10	 01:12:46     INFO get_candles_by_time_stamps -> symbol=LTCUSDT tick_interval=1h start=2023-08-29 09:12:46 end=2023-10-10 00:59:58 channel:ltcusdt@kline_1h
2023-10-10	 01:12:46     INFO API request: LTCUSDT 2023-08-29 09:12:46 to 2023-10-10 01:12:46

In [13]:
sym.df

                                          Open time   Open   High    Low  Close     Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
LTCUSDT 1h Europe/Madrid
2023-08-29 10:00:00+02:00 2023-08-29 10:00:00+02:00  65.10  65.14  64.91  65.01  11518.675 2023-08-29 10:59:59.999000+02:00  7.489077e+05    2009               4615.717            300033.71766       0   1693296000000    1693299599999
2023-08-29 11:00:00+02:00 2023-08-29 11:00:00+02:00  65.02  65.09  64.89  64.95   7530.317 2023-08-29 11:59:59.999000+02:00  4.895728e+05    1508               3402.279            221196.89785       0   1693299600000    1693303199999
2023-08-29 12:00:00+02:00 2023-08-29 12:00:00+02:00  64.95  64.99  64.60  64.85  21927.647 2023-08-29 12:59:59.999000+02:00  1.420253e+06    2865              10756.797            696847.99878       0   1693303200000    1693306799999
2023-08-29 13:00:00+02:00 2023-08-29 13:00:00+02:00  64.86  65.04  64.79  64.81  11804.479 2023-08-29 13:59:59.999000+02:00  7.663028e+05    2136               6983.583            453447.33181       0   1693306800000    1693310399999
2023-08-29 14:00:00+02:00 2023-08-29 14:00:00+02:00  64.81  64.95  64.66  64.94  11321.209 2023-08-29 14:59:59.999000+02:00  7.338337e+05    2072               4943.972            320507.51611       0   1693310400000    1693313999999
...                                             ...    ...    ...    ...    ...        ...                              ...           ...     ...                    ...                     ...     ...             ...              ...
2023-10-09 20:00:00+02:00 2023-10-09 20:00:00+02:00  62.70  63.04  62.66  62.89  15685.020 2023-10-09 20:59:59.999000+02:00  9.858820e+05    3279               7727.567            485846.55403       0   1696874400000    1696877999999
2023-10-09 21:00:00+02:00 2023-10-09 21:00:00+02:00  62.88  63.06  62.76  63.05  10855.085 2023-10-09 21:59:59.999000+02:00  6.828348e+05    2226               4920.118            309615.77774       0   1696878000000    1696881599999
2023-10-09 22:00:00+02:00 2023-10-09 22:00:00+02:00  63.05  63.19  62.95  62.96   8608.566 2023-10-09 22:59:59.999000+02:00  5.430335e+05    2094               3526.892            222539.44320       0   1696881600000    1696885199999
2023-10-09 23:00:00+02:00 2023-10-09 23:00:00+02:00  62.96  63.18  62.85  63.07   3520.724 2023-10-09 23:59:59.999000+02:00  2.218731e+05    1495               1982.687            124962.93406       0   1696885200000    1696888799999
2023-10-10 00:00:00+02:00 2023-10-10 00:00:00+02:00  63.08  63.12  62.95  62.96   3759.588 2023-10-10 00:59:59.999000+02:00  2.369907e+05    1203               1777.164            112034.88593       0   1696888800000    1696892399999

[999 rows x 14 columns]

In [14]:
sym.get_agg_trades()

2023-10-10	 01:12:46     INFO Getting data from table ltcusdt_aggtrade from 1693296000000 to 1696888800000

Requesting aggregated trades between 2023-08-29 10:00:00 and 2023-10-10 00:00:00

                                  Aggregate tradeId  Price  Quantity  First tradeId  Last tradeId      Timestamp  Buyer was maker                             Date
LTCUSDT Europe/Madrid
2023-10-09 22:22:22.545000+02:00          217798619  63.11     0.317      308518924     308518924  1696882942545            False 2023-10-09 22:22:22.545000+02:00
2023-10-09 22:22:33.022000+02:00          217798620  63.11     0.997      308518925     308518925  1696882953022            False 2023-10-09 22:22:33.022000+02:00
2023-10-09 22:22:38.289000+02:00          217798621  63.11     0.382      308518926     308518926  1696882958289            False 2023-10-09 22:22:38.289000+02:00
2023-10-09 22:22:44.081000+02:00          217798622  63.11     0.146      308518927     308518927  1696882964081            False 2023-10-09 22:22:44.081000+02:00
2023-10-09 22:22:44.271000+02:00          217798623  63.11    45.952      308518928     308518929  1696882964271             True 2023-10-09 22:22:44.271000+02:00
...                                             ...    ...       ...            ...           ...            ...              ...                              ...
2023-10-09 23:27:54.007000+02:00          217799903  63.05     6.300      308520714     308520715  1696886874007            False 2023-10-09 23:27:54.007000+02:00
2023-10-09 23:27:54.107000+02:00          217799904  63.05     3.916      308520716     308520716  1696886874107            False 2023-10-09 23:27:54.107000+02:00
2023-10-09 23:28:01.506000+02:00          217799905  63.04     2.294      308520717     308520717  1696886881506             True 2023-10-09 23:28:01.506000+02:00
2023-10-09 23:28:02.209000+02:00          217799906  63.04     2.468      308520718     308520719  1696886882209             True 2023-10-09 23:28:02.209000+02:00
2023-10-09 23:28:04.962000+02:00          217799907  63.05     1.264      308520720     308520720  1696886884962            False 2023-10-09 23:28:04.962000+02:00

[1289 rows x 8 columns]

In [15]:
table=choice(tables)
symbol = table.split("_")[0]
tick_interval = table.split("_")[-1]

sym = binpan.Symbol(symbol=symbol,
                    tick_interval=tick_interval,
                    time_zone='Europe/Madrid')
sym.plot()

Exception: BinPan Error on tick_interval: aggtrade not in expected API intervals.
['1m', '3m', '5m', '15m', '30m', '1h', '2h', '4h', '6h', '8h', '12h', '1d', '3d', '1w', '1M']