In [1]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
from binpan import binpan
import redis
from handlers import redis_fetch
from random import choice

In [3]:
binpan.__version__

'0.2.34'

In [4]:
# test done calling redis docker in raspberry-pi running unicorn websockets

redis_conf = {'host': '192.168.89.241', 'port': 6379, 'db': 0, 'decode_responses': True}
redisClient = redis.StrictRedis(**redis_conf)

In [5]:
keys = redis_fetch.fetch_keys(redisClient=redisClient)

In [6]:
keys = list(keys)
keys[:15]

['eurbusd@kline_5m',
 'wavesbusd@kline_1h',
 'mcbusd@kline_1h',
 'rarebusd@kline_1m',
 'audiobusd@kline_1h',
 'epxbusd@kline_1m',
 'cosbusd@kline_5m',
 'sfpbusd@kline_1m',
 'bnxbusd@kline_5m',
 'filbusd@kline_1h',
 'batbusd@kline_1h',
 'dydxbusd@kline_1h',
 'farmbusd@kline_1h',
 'perpbusd@kline_5m',
 'tomobusd@kline_1m']

In [7]:
mykey = choice(keys)
mykey

'lptbusd@kline_1m'

In [8]:
response = redis_fetch.fetch_zset_range(redisClient=redisClient, key=mykey)
response[-15:]

['{"t": 1666519200000, "o": "8.86000000", "h": "8.86000000", "l": "8.86000000", "c": "8.86000000", "v": "0.00000000", "T": 1666519259999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1666519260000, "o": "8.86000000", "h": "8.86000000", "l": "8.86000000", "c": "8.86000000", "v": "0.00000000", "T": 1666519319999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1666519320000, "o": "8.86000000", "h": "8.86000000", "l": "8.86000000", "c": "8.86000000", "v": "0.00000000", "T": 1666519379999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1666519380000, "o": "8.86000000", "h": "8.86000000", "l": "8.86000000", "c": "8.86000000", "v": "0.00000000", "T": 1666519439999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1666519440000, "o": "8.86000000", "h": "8.86000000", "l": "8.86000000", "c": "8.86000000", "v": "0.00000000", "T": 1666519499999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1666519500000, "o": "8.86000000", "h": "8.86000000", "l": "8.86000000", "c": "8.86000000", "v": "0.00000000", "T": 1666519559999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1666519560000, "o": "8.86000000", "h": "8.86000000", "l": "8.86000000", "c": "8.86000000", "v": "0.00000000", "T": 1666519619999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1666519620000, "o": "8.86000000", "h": "8.86000000", "l": "8.86000000", "c": "8.86000000", "v": "0.00000000", "T": 1666519679999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1666519680000, "o": "8.86000000", "h": "8.86000000", "l": "8.86000000", "c": "8.86000000", "v": "0.00000000", "T": 1666519739999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1666519740000, "o": "8.86000000", "h": "8.86000000", "l": "8.86000000", "c": "8.86000000", "v": "0.00000000", "T": 1666519799999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1666519800000, "o": "8.86000000", "h": "8.86000000", "l": "8.86000000", "c": "8.86000000", "v": "0.00000000", "T": 1666519859999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1666519860000, "o": "8.86000000", "h": "8.86000000", "l": "8.86000000", "c": "8.86000000", "v": "0.00000000", "T": 1666519919999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1666519920000, "o": "8.86000000", "h": "8.86000000", "l": "8.86000000", "c": "8.86000000", "v": "0.00000000", "T": 1666519979999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1666519980000, "o": "8.86000000", "h": "8.86000000", "l": "8.86000000", "c": "8.86000000", "v": "0.00000000", "T": 1666520039999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1666520040000, "o": "8.86000000", "h": "8.86000000", "l": "8.86000000", "c": "8.86000000", "v": "0.00000000", "T": 1666520099999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}']

In [9]:
%timeit redis_fetch.fetch_zset_range(redisClient=redisClient, key=mykey)

2.42 ms ± 39.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [10]:
data = redis_fetch.fetch_set_and_parse(redisClient=redisClient, key=mykey)
data

                                     Open time  Open  High   Low  Close  Volume           Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
LPTBUSD 1m Europe/madrid
2022-10-23 05:41:00+02:00  2022-10-23 05:41:00  8.89  8.89  8.89   8.89     0.0  2022-10-23 05:41:59           0.0       0                    0.0                     0.0       0   1666496460000    1666496519999
2022-10-23 05:42:00+02:00  2022-10-23 05:42:00  8.89  8.89  8.89   8.89     0.0  2022-10-23 05:42:59           0.0       0                    0.0                     0.0       0   1666496520000    1666496579999
2022-10-23 05:43:00+02:00  2022-10-23 05:43:00  8.89  8.89  8.89   8.89     0.0  2022-10-23 05:43:59           0.0       0                    0.0                     0.0       0   1666496580000    1666496639999
2022-10-23 05:44:00+02:00  2022-10-23 05:44:00  8.89  8.89  8.89   8.89     0.0  2022-10-23 05:44:59           0.0       0                    0.0                     0.0       0   1666496640000    1666496699999
2022-10-23 05:45:00+02:00  2022-10-23 05:45:00  8.89  8.89  8.89   8.89     0.0  2022-10-23 05:45:59           0.0       0                    0.0                     0.0       0   1666496700000    1666496759999
...                                        ...   ...   ...   ...    ...     ...                  ...           ...     ...                    ...                     ...     ...             ...              ...
2022-10-23 12:10:00+02:00  2022-10-23 12:10:00  8.86  8.86  8.86   8.86     0.0  2022-10-23 12:10:59           0.0       0                    0.0                     0.0       0   1666519800000    1666519859999
2022-10-23 12:11:00+02:00  2022-10-23 12:11:00  8.86  8.86  8.86   8.86     0.0  2022-10-23 12:11:59           0.0       0                    0.0                     0.0       0   1666519860000    1666519919999
2022-10-23 12:12:00+02:00  2022-10-23 12:12:00  8.86  8.86  8.86   8.86     0.0  2022-10-23 12:12:59           0.0       0                    0.0                     0.0       0   1666519920000    1666519979999
2022-10-23 12:13:00+02:00  2022-10-23 12:13:00  8.86  8.86  8.86   8.86     0.0  2022-10-23 12:13:59           0.0       0                    0.0                     0.0       0   1666519980000    1666520039999
2022-10-23 12:14:00+02:00  2022-10-23 12:14:00  8.86  8.86  8.86   8.86     0.0  2022-10-23 12:14:59           0.0       0                    0.0                     0.0       0   1666520040000    1666520099999

[394 rows x 14 columns]

In [11]:
%%timeit
data = redis_fetch.fetch_set_and_parse(redisClient=redisClient, key=mykey)

26.8 ms ± 264 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

### It is possible to pass a redis client to Symbol class.

In [12]:
symbol = 'btcbusd'
sym = binpan.Symbol(symbol=symbol, tick_interval='1h', from_redis=redisClient, time_zone='Europe/Madrid')

In [13]:
sym.df

                                     Open time      Open      High       Low     Close      Volume           Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
BTCBUSD 1h Europe/Madrid
2022-10-08 21:00:00+02:00  2022-10-08 21:00:00  19480.00  19481.38  19440.49  19469.04  1530.90692  2022-10-08 21:59:59  2.979339e+07   35073              736.47349            1.433357e+07       0   1665255600000    1665259199999
2022-10-08 22:00:00+02:00  2022-10-08 22:00:00  19469.58  19481.00  19418.00  19452.05  2075.13973  2022-10-08 22:59:59  4.035642e+07   46851              968.03624            1.882657e+07       0   1665259200000    1665262799999
2022-10-08 23:00:00+02:00  2022-10-08 23:00:00  19452.00  19459.63  19247.77  19317.70  2966.95896  2022-10-08 23:59:59  5.738682e+07   69167             1423.57127            2.753206e+07       0   1665262800000    1665266399999
2022-10-09 00:00:00+02:00  2022-10-09 00:00:00  19318.32  19377.75  19266.68  19363.28  2692.68560  2022-10-09 00:59:59  5.203137e+07   58791             1390.77239            2.687556e+07       0   1665266400000    1665269999999
2022-10-09 01:00:00+02:00  2022-10-09 01:00:00  19362.31  19445.61  19357.77  19418.10  2011.40256  2022-10-09 01:59:59  3.903970e+07   39888             1043.03872            2.024467e+07       0   1665270000000    1665273599999
...                                        ...       ...       ...       ...       ...         ...                  ...           ...     ...                    ...                     ...     ...             ...              ...
2022-10-23 07:00:00+02:00  2022-10-23 07:00:00  19187.75  19196.98  19169.00  19179.98  1402.59640  2022-10-23 07:59:59  2.691106e+07   36957              675.99341            1.297051e+07       0   1666501200000    1666504799999
2022-10-23 08:00:00+02:00  2022-10-23 08:00:00  19179.72  19189.41  19157.00  19177.04  1475.16926  2022-10-23 08:59:59  2.828894e+07   41524              707.89415            1.357536e+07       0   1666504800000    1666508399999
2022-10-23 09:00:00+02:00  2022-10-23 09:00:00  19176.77  19190.00  19150.11  19163.98  1788.38355  2022-10-23 09:59:59  3.426792e+07   44627              873.11629            1.673116e+07       0   1666508400000    1666511999999
2022-10-23 10:00:00+02:00  2022-10-23 10:00:00  19163.81  19187.13  19151.45  19184.95  1282.18659  2022-10-23 10:59:59  2.458097e+07   32784              656.55354            1.258741e+07       0   1666512000000    1666515599999
2022-10-23 11:00:00+02:00  2022-10-23 11:00:00  19185.67  19192.69  19179.68  19186.43  1297.36969  2022-10-23 11:59:59  2.489005e+07   30460              640.66845            1.229154e+07       0   1666515600000    1666519199999

[351 rows x 14 columns]

In [14]:
binpan.Exchange().df.loc['BTCUSDT'].to_dict()['status']

'TRADING'