In [1]:
import binpan
from handlers.postgresql_database import *
from handlers.postgresql import *

from secret import postgresql_database, postgresql_port, postgresql_user, postgresql_password

Cannot import numba: only Python versions >=3.7,<3.11 are supported. Using Numpy.

In [2]:
binpan.__version__

'0.6.06'

# Database size

In [3]:
conn, cursor = create_connection(user=postgresql_user,
                                 enc_password=postgresql_password,
                                 host="192.168.89.211",
                                 port=postgresql_port,
                                 database=postgresql_database)

In [4]:
get_db_size(cursor)

'16 GB'

In [5]:
get_table_sizes(cursor, only_public_schema=True)

    schemaname             tablename  table_size_kb  indexes_size_kb  total_size_kb
0       public      aptusdt_kline_1m            8.0             16.0           24.0
23      public     dockusdt_kline_1m            8.0             16.0           24.0
25      public   burgerusdt_kline_1m            8.0             16.0           24.0
26      public  ethdownusdt_kline_1m            8.0             16.0           24.0
27      public     ctxcusdt_kline_1m            8.0             16.0           24.0
..         ...                   ...            ...              ...            ...
148     public      rlcusdt_kline_1m            0.0             16.0           16.0
147     public     kavausdt_kline_1m            0.0             16.0           16.0
146     public      stxusdt_kline_1m            0.0             16.0           16.0
145     public     hbarusdt_kline_1m            0.0             16.0           16.0
363     public     shibusdt_kline_1m            0.0             16.0           16.0

[364 rows x 5 columns]

In [6]:
get_wal_gb_size(cursor)

26.33792907744646

In [7]:
get_active_connections(cursor)

1

In [8]:
get_autovacuum_level(cursor)

                 schemaname                relname                  last_autovacuum                 last_autoanalyze  n_dead_tup  n_live_tup  n_mod_since_analyze  seq_scan  idx_scan
0     _timescaledb_internal   _hyper_26_3447_chunk 2023-10-23 16:37:41.233586+00:00 2023-10-23 16:37:41.300575+00:00         0.0     10080.0                  0.0       2.0   10086.0
1     _timescaledb_internal  _hyper_151_7182_chunk 2023-10-24 08:41:10.246832+00:00 2023-10-24 08:41:10.273502+00:00         0.0     10080.0                  0.0       2.0   10080.0
2     _timescaledb_internal   _hyper_71_6749_chunk 2023-10-24 07:45:37.238519+00:00 2023-10-24 07:45:37.267069+00:00         1.0     10020.0                  0.0       2.0   10024.0
3     _timescaledb_internal   _hyper_39_5157_chunk 2023-10-23 22:26:26.642599+00:00 2023-10-23 22:26:26.716549+00:00         0.0     10080.0                  0.0       2.0   10083.0
4     _timescaledb_internal     _hyper_7_494_chunk 2023-10-23 09:36:30.010811+00:00 2023-10-23 09:36:30.068161+00:00         0.0     10080.0                  0.0       2.0   10086.0
...                     ...                    ...                              ...                              ...         ...         ...                  ...       ...       ...
7797  _timescaledb_internal   _hyper_30_4106_chunk 2023-10-23 18:13:11.507759+00:00 2023-10-23 18:13:11.573842+00:00         0.0     10080.0                  0.0       3.0   10086.0
7798  _timescaledb_internal   _hyper_10_1116_chunk 2023-10-23 11:04:07.326764+00:00 2023-10-23 11:04:07.375141+00:00         0.0      9930.0                844.0       2.0    9937.0
7799  _timescaledb_internal   _hyper_20_2742_chunk 2023-10-23 14:55:56.824006+00:00 2023-10-23 14:55:56.892284+00:00         0.0     10080.0                284.0       2.0   10084.0
7800  _timescaledb_internal  _hyper_314_6917_chunk 2023-10-24 08:07:29.055339+00:00 2023-10-24 08:07:29.083450+00:00         0.0     10080.0                  0.0       2.0   10083.0
7801  _timescaledb_internal   _hyper_26_3503_chunk 2023-10-23 16:45:42.306002+00:00 2023-10-23 16:45:42.380347+00:00         0.0     10080.0                  0.0       2.0   10086.0

[7802 rows x 9 columns]

In [9]:
get_ungranted_locks(cursor)

Empty DataFrame
Columns: []
Index: []

In [10]:
get_cache_statistics(cursor)

                 table_name  heap_blks_read  heap_blks_hit  idx_blks_read  idx_blks_hit  toast_blks_read  toast_blks_hit  tidx_blks_read  tidx_blks_hit  heap_cache_hit_rate  idx_cache_hit_rate
0      _hyper_41_5472_chunk           210.0        21173.0          133.0       59159.0              0.0             0.0             0.0            0.0             0.990179            0.997757
1     _hyper_327_6189_chunk             8.0          310.0            8.0         462.0              NaN             NaN             NaN            NaN             0.974843            0.982979
2        _hyper_7_546_chunk           202.0        21522.0          146.0       59546.0              0.0             0.0             0.0            0.0             0.990702            0.997554
3      _hyper_34_4596_chunk           220.0        21154.0          117.0       59469.0              0.0             0.0             0.0            0.0             0.989707            0.998036
4      _hyper_29_3974_chunk           144.0        13526.0           84.0       37508.0              0.0             0.0             0.0            0.0             0.989466            0.997765
...                     ...             ...            ...            ...           ...              ...             ...             ...            ...                  ...                 ...
7797   _hyper_11_1341_chunk           409.0        21394.0          118.0       59475.0              0.0             0.0             0.0            0.0             0.981241            0.998020
7798   _hyper_10_1105_chunk           200.0        21294.0          157.0       59571.0              0.0             0.0             0.0            0.0             0.990695            0.997371
7799   _hyper_38_4917_chunk           198.0        21186.0          133.0       59513.0              0.0             0.0             0.0            0.0             0.990741            0.997770
7800   _hyper_20_2806_chunk           206.0        20628.0          133.0       57887.0              0.0             0.0             0.0            0.0             0.990112            0.997708
7801  _hyper_151_7177_chunk           157.0        20694.0           85.0       58519.0              NaN             NaN             NaN            NaN             0.992470            0.998550

[7802 rows x 11 columns]

In [11]:
get_hypertable_info(cursor)

    hypertable_schema     hypertable_name  owner  num_dimensions  num_chunks  compression_enabled  is_distributed replication_factor data_nodes tablespaces
10             public    vetusdt_kline_1m  nando               1         275                False           False               None       None        None
8              public  wavesusdt_kline_1m  nando               1         249                False           False               None       None        None
6              public    ongusdt_kline_1m  nando               1         245                False           False               None       None        None
11             public    xmrusdt_kline_1m  nando               1         241                False           False               None       None        None
40             public   dashusdt_kline_1m  nando               1         239                False           False               None       None        None
..                ...                 ...    ...             ...         ...                  ...             ...                ...        ...         ...
149            public    btsusdt_kline_1m  nando               1           1                False           False               None       None        None
148            public    eurusdt_kline_1m  nando               1           1                False           False               None       None        None
147            public   troyusdt_kline_1m  nando               1           1                False           False               None       None        None
146            public   iotxusdt_kline_1m  nando               1           1                False           False               None       None        None
363            public  cyberusdt_kline_1m  nando               1           1                False           False               None       None        None

[364 rows x 10 columns]