In [1]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
from binpan import binpan

In [3]:
from binpan import handlers

In [4]:
from redis import StrictRedis
from handlers import redis_fetch
from random import choice

In [5]:
!python -V

Python 3.11.2

In [6]:
binpan.__version__

'0.4.19'

# Symbol class can configure automatically redis client

If from_redis=True, and if configuration exists in secret.py like this:
```
redis_conf = {'host': '192.168.89.241', 'port': 6379, 'db': 0, 'decode_responses': True}
```

In [74]:
sym = binpan.Symbol(symbol='ltcbtc', tick_interval='1m', from_redis=True, time_zone='Europe/Madrid', limit=5000)
sym.from_redis

Redis<ConnectionPool<Connection<host=192.168.89.241,port=6379,db=0>>>

In [75]:
sym.df

                                          Open time      Open      High       Low     Close  Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
LTCBTC 1m Europe/Madrid
2023-05-05 20:01:00+02:00 2023-05-05 20:01:00+02:00  0.003007  0.003008  0.003007  0.003008   3.596 2023-05-05 20:01:59.999000+02:00      0.010815       2                  0.000                0.000000       0   1683309660000    1683309719999
2023-05-05 20:02:00+02:00 2023-05-05 20:02:00+02:00  0.003009  0.003009  0.003007  0.003007  53.482 2023-05-05 20:02:59.999000+02:00      0.160831       7                  2.340                0.007041       0   1683309720000    1683309779999
2023-05-05 20:03:00+02:00 2023-05-05 20:03:00+02:00  0.003008  0.003008  0.003007  0.003007   5.448 2023-05-05 20:03:59.999000+02:00      0.016384       5                  5.448                0.016384       0   1683309780000    1683309839999
2023-05-05 20:04:00+02:00 2023-05-05 20:04:00+02:00  0.003007  0.003007  0.003007  0.003007   0.000 2023-05-05 20:04:59.999000+02:00      0.000000       0                  0.000                0.000000       0   1683309840000    1683309899999
2023-05-05 20:05:00+02:00 2023-05-05 20:05:00+02:00  0.003009  0.003009  0.003009  0.003009   1.550 2023-05-05 20:05:59.999000+02:00      0.004664       3                  1.550                0.004664       0   1683309900000    1683309959999
...                                             ...       ...       ...       ...       ...     ...                              ...           ...     ...                    ...                     ...     ...             ...              ...
2023-05-05 22:03:00+02:00 2023-05-05 22:03:00+02:00  0.003004  0.003006  0.003004  0.003005  51.508 2023-05-05 22:03:59.999000+02:00      0.154762      21                  4.621                0.013886       0   1683316980000    1683317039999
2023-05-05 22:04:00+02:00 2023-05-05 22:04:00+02:00  0.003005  0.003006  0.003005  0.003006   2.603 2023-05-05 22:04:59.999000+02:00      0.007824       5                  2.603                0.007824       0   1683317040000    1683317099999
2023-05-05 22:05:00+02:00 2023-05-05 22:05:00+02:00  0.003005  0.003006  0.003004  0.003004   3.509 2023-05-05 22:05:59.999000+02:00      0.010545       4                  3.208                0.009641       0   1683317100000    1683317159999
2023-05-05 22:06:00+02:00 2023-05-05 22:06:00+02:00  0.003005  0.003005  0.003003  0.003005   2.324 2023-05-05 22:06:59.999000+02:00      0.006980       4                  1.089                0.003272       0   1683317160000    1683317219999
2023-05-05 22:07:00+02:00 2023-05-05 22:07:00+02:00  0.003005  0.003005  0.003004  0.003004  23.847 2023-05-05 22:07:59.999000+02:00      0.071644       6                 10.612                0.031886       0   1683317220000    1683317279999

[127 rows x 14 columns]

In [76]:
sym.get_atomic_trades()

Requesting atomic trades between 2023-05-05 20:01:00 and 2023-05-05 22:07:59

2023-05-05	 22:08:39     INFO Fetching atomic trades from redis server for LTCBTC
2023-05-05	 22:08:41     INFO Clean atomic 797 trades found for LTCBTC

                                  Trade Id     Price  Quantity  Buyer Order Id  Seller Order Id                 Date      Timestamp  Buyer was maker  Best price match
LTCBTC Europe/Madrid
2023-05-05 20:01:38.079000+02:00  90740182  0.003007     2.205      1073479749       1073479785  1683309698000000000  1683309698079             True              True
2023-05-05 20:01:58.897000+02:00  90740183  0.003008     1.391      1073479851       1073479852  1683309718000000000  1683309718897             True              True
2023-05-05 20:02:14.499000+02:00  90740184  0.003009     2.340      1073479907       1073479048  1683309734000000000  1683309734499            False              True
2023-05-05 20:02:14.845000+02:00  90740185  0.003008     3.000      1073479893       1073479908  1683309734000000000  1683309734845             True              True
2023-05-05 20:02:14.851000+02:00  90740186  0.003008     3.000      1073479893       1073479909  1683309734000000000  1683309734851             True              True
...                                    ...       ...       ...             ...              ...                  ...            ...              ...               ...
2023-05-05 22:07:33.714000+02:00  90740974  0.003005     0.410      1073499830       1073499684  1683317253000000000  1683317253714            False              True
2023-05-05 22:07:34.937000+02:00  90740975  0.003004     2.600      1073499833       1073499832  1683317254000000000  1683317254937            False              True
2023-05-05 22:07:34.937000+02:00  90740976  0.003005     4.306      1073499833       1073499684  1683317254000000000  1683317254937            False              True
2023-05-05 22:07:34.937000+02:00  90740977  0.003005     2.929      1073499833       1073499778  1683317254000000000  1683317254937            False              True
2023-05-05 22:07:50.147000+02:00  90740978  0.003004    13.235      1073499856       1073499865  1683317270000000000  1683317270147             True              True

[797 rows x 9 columns]

# Using dict with config in Symbol class arguments

In [77]:
data = {'host': '192.168.89.241', 'port': 6379, 'db': 0, 'decode_responses': True}

sym = binpan.Symbol(symbol='ltcbtc', tick_interval='1m', from_redis=data, time_zone='Europe/Madrid', limit=5000)
sym.from_redis

Redis<ConnectionPool<Connection<host=192.168.89.241,port=6379,db=0>>>

In [78]:
sym.df

                                          Open time      Open      High       Low     Close  Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
LTCBTC 1m Europe/Madrid
2023-05-05 20:01:00+02:00 2023-05-05 20:01:00+02:00  0.003007  0.003008  0.003007  0.003008   3.596 2023-05-05 20:01:59.999000+02:00      0.010815       2                  0.000                0.000000       0   1683309660000    1683309719999
2023-05-05 20:02:00+02:00 2023-05-05 20:02:00+02:00  0.003009  0.003009  0.003007  0.003007  53.482 2023-05-05 20:02:59.999000+02:00      0.160831       7                  2.340                0.007041       0   1683309720000    1683309779999
2023-05-05 20:03:00+02:00 2023-05-05 20:03:00+02:00  0.003008  0.003008  0.003007  0.003007   5.448 2023-05-05 20:03:59.999000+02:00      0.016384       5                  5.448                0.016384       0   1683309780000    1683309839999
2023-05-05 20:04:00+02:00 2023-05-05 20:04:00+02:00  0.003007  0.003007  0.003007  0.003007   0.000 2023-05-05 20:04:59.999000+02:00      0.000000       0                  0.000                0.000000       0   1683309840000    1683309899999
2023-05-05 20:05:00+02:00 2023-05-05 20:05:00+02:00  0.003009  0.003009  0.003009  0.003009   1.550 2023-05-05 20:05:59.999000+02:00      0.004664       3                  1.550                0.004664       0   1683309900000    1683309959999
...                                             ...       ...       ...       ...       ...     ...                              ...           ...     ...                    ...                     ...     ...             ...              ...
2023-05-05 22:03:00+02:00 2023-05-05 22:03:00+02:00  0.003004  0.003006  0.003004  0.003005  51.508 2023-05-05 22:03:59.999000+02:00      0.154762      21                  4.621                0.013886       0   1683316980000    1683317039999
2023-05-05 22:04:00+02:00 2023-05-05 22:04:00+02:00  0.003005  0.003006  0.003005  0.003006   2.603 2023-05-05 22:04:59.999000+02:00      0.007824       5                  2.603                0.007824       0   1683317040000    1683317099999
2023-05-05 22:05:00+02:00 2023-05-05 22:05:00+02:00  0.003005  0.003006  0.003004  0.003004   3.509 2023-05-05 22:05:59.999000+02:00      0.010545       4                  3.208                0.009641       0   1683317100000    1683317159999
2023-05-05 22:06:00+02:00 2023-05-05 22:06:00+02:00  0.003005  0.003005  0.003003  0.003005   2.324 2023-05-05 22:06:59.999000+02:00      0.006980       4                  1.089                0.003272       0   1683317160000    1683317219999
2023-05-05 22:07:00+02:00 2023-05-05 22:07:00+02:00  0.003005  0.003005  0.003004  0.003004  23.847 2023-05-05 22:07:59.999000+02:00      0.071644       6                 10.612                0.031886       0   1683317220000    1683317279999

[127 rows x 14 columns]

In [79]:
sym.get_atomic_trades()

Requesting aggregated trades between 2023-05-05 20:01:00 and 2023-05-05 22:07:59

2023-05-05	 22:08:53     INFO Fetching aggregated trades from redis server for LTCBTC
2023-05-05	 22:08:53     INFO Clean aggregated 400 trades found for LTCBTC

                                  Aggregate tradeId     Price  Quantity  First tradeId  Last tradeId                 Date      Timestamp  Buyer was maker  Best price match
LTCBTC Europe/Madrid
2023-05-05 20:22:04.868000+02:00           71185215  0.003009     2.166       90740289      90740289  1683310924000000000  1683310924868            False              True
2023-05-05 20:22:26.638000+02:00           71185216  0.003009     5.131       90740290      90740290  1683310946000000000  1683310946638             True              True
2023-05-05 20:22:26.638000+02:00           71185217  0.003008     9.173       90740291      90740291  1683310946000000000  1683310946638             True              True
2023-05-05 20:22:29.392000+02:00           71185218  0.003010     0.266       90740292      90740292  1683310949000000000  1683310949392            False              True
2023-05-05 20:22:33.436000+02:00           71185219  0.003009     3.620       90740293      90740293  1683310953000000000  1683310953436             True              True
...                                             ...       ...       ...            ...           ...                  ...            ...              ...               ...
2023-05-05 21:53:15.028000+02:00           71185610  0.003002     0.116       90740859      90740859  1683316395000000000  1683316395028            False              True
2023-05-05 21:53:25.173000+02:00           71185611  0.003001     6.999       90740860      90740860  1683316405000000000  1683316405173             True              True
2023-05-05 21:53:28.977000+02:00           71185612  0.003003     0.544       90740861      90740861  1683316408000000000  1683316408977            False              True
2023-05-05 21:53:40.809000+02:00           71185613  0.003002     4.949       90740862      90740862  1683316420000000000  1683316420809             True              True
2023-05-05 21:54:12.368000+02:00           71185614  0.003002     0.542       90740863      90740863  1683316452000000000  1683316452368            False              True

[400 rows x 9 columns]

# It's possible to pass a redis client directly as argument to Symbol class.

In [71]:
symbol='ltcbtc'
redis_conf_klines = {'host': '192.168.89.241', 'port': 6379, 'db': 0, 'decode_responses': True}
redisClient_klines = StrictRedis(**redis_conf_klines)

In [72]:
sym = binpan.Symbol(symbol=symbol, tick_interval='1m', from_redis=redisClient_klines, time_zone='Europe/Madrid', hours=3)

In [73]:
sym.df

                                          Open time      Open      High       Low     Close  Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
LTCBTC 1m Europe/Madrid
2023-05-05 20:01:00+02:00 2023-05-05 20:01:00+02:00  0.003007  0.003008  0.003007  0.003008   3.596 2023-05-05 20:01:59.999000+02:00      0.010815       2                  0.000                0.000000       0   1683309660000    1683309719999
2023-05-05 20:02:00+02:00 2023-05-05 20:02:00+02:00  0.003009  0.003009  0.003007  0.003007  53.482 2023-05-05 20:02:59.999000+02:00      0.160831       7                  2.340                0.007041       0   1683309720000    1683309779999
2023-05-05 20:03:00+02:00 2023-05-05 20:03:00+02:00  0.003008  0.003008  0.003007  0.003007   5.448 2023-05-05 20:03:59.999000+02:00      0.016384       5                  5.448                0.016384       0   1683309780000    1683309839999
2023-05-05 20:04:00+02:00 2023-05-05 20:04:00+02:00  0.003007  0.003007  0.003007  0.003007   0.000 2023-05-05 20:04:59.999000+02:00      0.000000       0                  0.000                0.000000       0   1683309840000    1683309899999
2023-05-05 20:05:00+02:00 2023-05-05 20:05:00+02:00  0.003009  0.003009  0.003009  0.003009   1.550 2023-05-05 20:05:59.999000+02:00      0.004664       3                  1.550                0.004664       0   1683309900000    1683309959999
...                                             ...       ...       ...       ...       ...     ...                              ...           ...     ...                    ...                     ...     ...             ...              ...
2023-05-05 22:03:00+02:00 2023-05-05 22:03:00+02:00  0.003004  0.003006  0.003004  0.003005  51.508 2023-05-05 22:03:59.999000+02:00      0.154762      21                  4.621                0.013886       0   1683316980000    1683317039999
2023-05-05 22:04:00+02:00 2023-05-05 22:04:00+02:00  0.003005  0.003006  0.003005  0.003006   2.603 2023-05-05 22:04:59.999000+02:00      0.007824       5                  2.603                0.007824       0   1683317040000    1683317099999
2023-05-05 22:05:00+02:00 2023-05-05 22:05:00+02:00  0.003005  0.003006  0.003004  0.003004   3.509 2023-05-05 22:05:59.999000+02:00      0.010545       4                  3.208                0.009641       0   1683317100000    1683317159999
2023-05-05 22:06:00+02:00 2023-05-05 22:06:00+02:00  0.003005  0.003005  0.003003  0.003005   2.324 2023-05-05 22:06:59.999000+02:00      0.006980       4                  1.089                0.003272       0   1683317160000    1683317219999
2023-05-05 22:07:00+02:00 2023-05-05 22:07:00+02:00  0.003005  0.003005  0.003004  0.003004  23.847 2023-05-05 22:07:59.999000+02:00      0.071644       6                 10.612                0.031886       0   1683317220000    1683317279999

[127 rows x 14 columns]

In [82]:
# will get just EXISTING trades in the server
sym.get_atomic_trades()

Requesting atomic trades between 2023-05-05 20:01:00 and 2023-05-05 22:07:59

2023-05-05	 22:09:25     INFO Fetching atomic trades from redis server for LTCBTC
2023-05-05	 22:09:27     INFO Clean atomic 797 trades found for LTCBTC

                                  Trade Id     Price  Quantity  Buyer Order Id  Seller Order Id                 Date      Timestamp  Buyer was maker  Best price match
LTCBTC Europe/Madrid
2023-05-05 20:01:38.079000+02:00  90740182  0.003007     2.205      1073479749       1073479785  1683309698000000000  1683309698079             True              True
2023-05-05 20:01:58.897000+02:00  90740183  0.003008     1.391      1073479851       1073479852  1683309718000000000  1683309718897             True              True
2023-05-05 20:02:14.499000+02:00  90740184  0.003009     2.340      1073479907       1073479048  1683309734000000000  1683309734499            False              True
2023-05-05 20:02:14.845000+02:00  90740185  0.003008     3.000      1073479893       1073479908  1683309734000000000  1683309734845             True              True
2023-05-05 20:02:14.851000+02:00  90740186  0.003008     3.000      1073479893       1073479909  1683309734000000000  1683309734851             True              True
...                                    ...       ...       ...             ...              ...                  ...            ...              ...               ...
2023-05-05 22:07:33.714000+02:00  90740974  0.003005     0.410      1073499830       1073499684  1683317253000000000  1683317253714            False              True
2023-05-05 22:07:34.937000+02:00  90740975  0.003004     2.600      1073499833       1073499832  1683317254000000000  1683317254937            False              True
2023-05-05 22:07:34.937000+02:00  90740976  0.003005     4.306      1073499833       1073499684  1683317254000000000  1683317254937            False              True
2023-05-05 22:07:34.937000+02:00  90740977  0.003005     2.929      1073499833       1073499778  1683317254000000000  1683317254937            False              True
2023-05-05 22:07:50.147000+02:00  90740978  0.003004    13.235      1073499856       1073499865  1683317270000000000  1683317270147             True              True

[797 rows x 9 columns]

# Using sentinel secret.py configuration

In [83]:
sym = binpan.Symbol(symbol='ltcbtc', tick_interval='1m', sentinel_redis=True, time_zone='Europe/Madrid', limit=5000)
sym.df

                                          Open time      Open      High       Low     Close  Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
LTCBTC 1m Europe/Madrid
2023-05-05 20:01:00+02:00 2023-05-05 20:01:00+02:00  0.003007  0.003008  0.003007  0.003008   3.596 2023-05-05 20:01:59.999000+02:00      0.010815       2                  0.000                0.000000       0   1683309660000    1683309719999
2023-05-05 20:02:00+02:00 2023-05-05 20:02:00+02:00  0.003009  0.003009  0.003007  0.003007  53.482 2023-05-05 20:02:59.999000+02:00      0.160831       7                  2.340                0.007041       0   1683309720000    1683309779999
2023-05-05 20:03:00+02:00 2023-05-05 20:03:00+02:00  0.003008  0.003008  0.003007  0.003007   5.448 2023-05-05 20:03:59.999000+02:00      0.016384       5                  5.448                0.016384       0   1683309780000    1683309839999
2023-05-05 20:04:00+02:00 2023-05-05 20:04:00+02:00  0.003007  0.003007  0.003007  0.003007   0.000 2023-05-05 20:04:59.999000+02:00      0.000000       0                  0.000                0.000000       0   1683309840000    1683309899999
2023-05-05 20:05:00+02:00 2023-05-05 20:05:00+02:00  0.003009  0.003009  0.003009  0.003009   1.550 2023-05-05 20:05:59.999000+02:00      0.004664       3                  1.550                0.004664       0   1683309900000    1683309959999
...                                             ...       ...       ...       ...       ...     ...                              ...           ...     ...                    ...                     ...     ...             ...              ...
2023-05-05 22:04:00+02:00 2023-05-05 22:04:00+02:00  0.003005  0.003006  0.003005  0.003006   2.603 2023-05-05 22:04:59.999000+02:00      0.007824       5                  2.603                0.007824       0   1683317040000    1683317099999
2023-05-05 22:05:00+02:00 2023-05-05 22:05:00+02:00  0.003005  0.003006  0.003004  0.003004   3.509 2023-05-05 22:05:59.999000+02:00      0.010545       4                  3.208                0.009641       0   1683317100000    1683317159999
2023-05-05 22:06:00+02:00 2023-05-05 22:06:00+02:00  0.003005  0.003005  0.003003  0.003005   2.324 2023-05-05 22:06:59.999000+02:00      0.006980       4                  1.089                0.003272       0   1683317160000    1683317219999
2023-05-05 22:07:00+02:00 2023-05-05 22:07:00+02:00  0.003005  0.003005  0.003004  0.003004  23.847 2023-05-05 22:07:59.999000+02:00      0.071644       6                 10.612                0.031886       0   1683317220000    1683317279999
2023-05-05 22:08:00+02:00 2023-05-05 22:08:00+02:00  0.003005  0.003005  0.003005  0.003005   1.833 2023-05-05 22:08:59.999000+02:00      0.005508       2                  0.542                0.001629       0   1683317280000    1683317339999

[128 rows x 14 columns]

In [84]:
sym.from_redis

Redis<SentinelConnectionPool<service=mymaster(master)>

In [85]:
sym.get_atomic_trades()

Requesting atomic trades between 2023-05-05 20:01:00 and 2023-05-05 22:08:59

2023-05-05	 22:09:35     INFO Fetching atomic trades from redis server for LTCBTC
2023-05-05	 22:09:37     INFO Clean atomic 799 trades found for LTCBTC

                                  Trade Id     Price  Quantity  Buyer Order Id  Seller Order Id                 Date      Timestamp  Buyer was maker  Best price match
LTCBTC Europe/Madrid
2023-05-05 20:01:38.079000+02:00  90740182  0.003007     2.205      1073479749       1073479785  1683309698000000000  1683309698079             True              True
2023-05-05 20:01:58.897000+02:00  90740183  0.003008     1.391      1073479851       1073479852  1683309718000000000  1683309718897             True              True
2023-05-05 20:02:14.499000+02:00  90740184  0.003009     2.340      1073479907       1073479048  1683309734000000000  1683309734499            False              True
2023-05-05 20:02:14.845000+02:00  90740185  0.003008     3.000      1073479893       1073479908  1683309734000000000  1683309734845             True              True
2023-05-05 20:02:14.851000+02:00  90740186  0.003008     3.000      1073479893       1073479909  1683309734000000000  1683309734851             True              True
...                                    ...       ...       ...             ...              ...                  ...            ...              ...               ...
2023-05-05 22:07:34.937000+02:00  90740976  0.003005     4.306      1073499833       1073499684  1683317254000000000  1683317254937            False              True
2023-05-05 22:07:34.937000+02:00  90740977  0.003005     2.929      1073499833       1073499778  1683317254000000000  1683317254937            False              True
2023-05-05 22:07:50.147000+02:00  90740978  0.003004    13.235      1073499856       1073499865  1683317270000000000  1683317270147             True              True
2023-05-05 22:08:02.386000+02:00  90740979  0.003005     0.542      1073499911       1073499885  1683317282000000000  1683317282386            False              True
2023-05-05 22:08:07.446000+02:00  90740980  0.003005     1.291      1073499922       1073499930  1683317287000000000  1683317287446             True              True

[799 rows x 9 columns]

# Passing sentinel config to class

In [87]:
sentinel_info = {'hosts': [("192.168.89.241", 26379), ("192.168.89.242", 26379), ("192.168.89.243", 26379)],
                 'password': None,
                 'name': 'mymaster'}
sym = binpan.Symbol(symbol='ltcbtc', tick_interval='1m', sentinel_redis=sentinel_info, time_zone='Europe/Madrid', limit=5000)
sym.df

                                          Open time      Open      High       Low     Close  Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
LTCBTC 1m Europe/Madrid
2023-05-05 20:01:00+02:00 2023-05-05 20:01:00+02:00  0.003007  0.003008  0.003007  0.003008   3.596 2023-05-05 20:01:59.999000+02:00      0.010815       2                  0.000                0.000000       0   1683309660000    1683309719999
2023-05-05 20:02:00+02:00 2023-05-05 20:02:00+02:00  0.003009  0.003009  0.003007  0.003007  53.482 2023-05-05 20:02:59.999000+02:00      0.160831       7                  2.340                0.007041       0   1683309720000    1683309779999
2023-05-05 20:03:00+02:00 2023-05-05 20:03:00+02:00  0.003008  0.003008  0.003007  0.003007   5.448 2023-05-05 20:03:59.999000+02:00      0.016384       5                  5.448                0.016384       0   1683309780000    1683309839999
2023-05-05 20:04:00+02:00 2023-05-05 20:04:00+02:00  0.003007  0.003007  0.003007  0.003007   0.000 2023-05-05 20:04:59.999000+02:00      0.000000       0                  0.000                0.000000       0   1683309840000    1683309899999
2023-05-05 20:05:00+02:00 2023-05-05 20:05:00+02:00  0.003009  0.003009  0.003009  0.003009   1.550 2023-05-05 20:05:59.999000+02:00      0.004664       3                  1.550                0.004664       0   1683309900000    1683309959999
...                                             ...       ...       ...       ...       ...     ...                              ...           ...     ...                    ...                     ...     ...             ...              ...
2023-05-05 22:05:00+02:00 2023-05-05 22:05:00+02:00  0.003005  0.003006  0.003004  0.003004   3.509 2023-05-05 22:05:59.999000+02:00      0.010545       4                  3.208                0.009641       0   1683317100000    1683317159999
2023-05-05 22:06:00+02:00 2023-05-05 22:06:00+02:00  0.003005  0.003005  0.003003  0.003005   2.324 2023-05-05 22:06:59.999000+02:00      0.006980       4                  1.089                0.003272       0   1683317160000    1683317219999
2023-05-05 22:07:00+02:00 2023-05-05 22:07:00+02:00  0.003005  0.003005  0.003004  0.003004  23.847 2023-05-05 22:07:59.999000+02:00      0.071644       6                 10.612                0.031886       0   1683317220000    1683317279999
2023-05-05 22:08:00+02:00 2023-05-05 22:08:00+02:00  0.003005  0.003005  0.003005  0.003005   1.833 2023-05-05 22:08:59.999000+02:00      0.005508       2                  0.542                0.001629       0   1683317280000    1683317339999
2023-05-05 22:09:00+02:00 2023-05-05 22:09:00+02:00  0.003005  0.003005  0.003005  0.003005  16.703 2023-05-05 22:09:59.999000+02:00      0.050192       9                 16.703                0.050192       0   1683317340000    1683317399999

[129 rows x 14 columns]

In [88]:
sym.get_atomic_trades()

Requesting atomic trades between 2023-05-05 20:01:00 and 2023-05-05 22:09:59

2023-05-05	 22:11:02     INFO Fetching atomic trades from redis server for LTCBTC
2023-05-05	 22:11:04     INFO Clean atomic 808 trades found for LTCBTC

                                  Trade Id     Price  Quantity  Buyer Order Id  Seller Order Id                 Date      Timestamp  Buyer was maker  Best price match
LTCBTC Europe/Madrid
2023-05-05 20:01:38.079000+02:00  90740182  0.003007     2.205      1073479749       1073479785  1683309698000000000  1683309698079             True              True
2023-05-05 20:01:58.897000+02:00  90740183  0.003008     1.391      1073479851       1073479852  1683309718000000000  1683309718897             True              True
2023-05-05 20:02:14.499000+02:00  90740184  0.003009     2.340      1073479907       1073479048  1683309734000000000  1683309734499            False              True
2023-05-05 20:02:14.845000+02:00  90740185  0.003008     3.000      1073479893       1073479908  1683309734000000000  1683309734845             True              True
2023-05-05 20:02:14.851000+02:00  90740186  0.003008     3.000      1073479893       1073479909  1683309734000000000  1683309734851             True              True
...                                    ...       ...       ...             ...              ...                  ...            ...              ...               ...
2023-05-05 22:09:48.355000+02:00  90740985  0.003005     0.099      1073500096       1073499987  1683317388000000000  1683317388355            False              True
2023-05-05 22:09:48.679000+02:00  90740986  0.003005     0.699      1073500097       1073499987  1683317388000000000  1683317388679            False              True
2023-05-05 22:09:49.641000+02:00  90740987  0.003005     0.035      1073500099       1073500070  1683317389000000000  1683317389641            False              True
2023-05-05 22:09:49.655000+02:00  90740988  0.003005     6.396      1073500101       1073500070  1683317389000000000  1683317389655            False              True
2023-05-05 22:09:51.813000+02:00  90740989  0.003005     2.600      1073500114       1073500077  1683317391000000000  1683317391813            False              True

[808 rows x 9 columns]

# Creating your own client mode

In [89]:
redis_conf_klines = {'host': '192.168.89.241', 'port': 6379, 'db': 0, 'decode_responses': True}

redisClient_klines = StrictRedis(**redis_conf_klines)

In [90]:
keys = redis_fetch.fetch_keys(redisClient=redisClient_klines)

In [91]:
keys = list(keys)
keys[:15]

['compbtc@kline_1m',
 'sntbtc@trade',
 'idbtc@trade',
 'rlcbtc@kline_1m',
 'rvnbtc@kline_1m',
 'xnobtc@trade',
 'pivxbtc@kline_1m',
 'qtumbtc@trade',
 'cfxbtc@trade',
 'psgbtc@trade',
 'rarebtc@kline_1m',
 'apebtc@kline_1m',
 'etcbtc@trade',
 'snmbtc@trade',
 'ctkbtc@kline_1m']

In [92]:
mykey = choice(keys)
mykey = 'ltcbtc@kline_1m'

In [93]:
response = redis_fetch.fetch_zset_range(redisClient=redisClient_klines, key=mykey)
print(len(response))
response[-15:]

130

['{"t": 1683316560000, "T": 1683316619999, "s": "LTCBTC", "i": "1m", "f": 90740866, "L": 90740867, "o": "0.00300200", "c": "0.00300400", "h": "0.00300400", "l": "0.00300200", "v": "0.95000000", "n": 2, "x": true, "q": "0.00285210", "V": "0.10700000", "Q": "0.00032142", "B": "0"}',
 '{"t": 1683316620000, "T": 1683316679999, "s": "LTCBTC", "i": "1m", "f": 90740868, "L": 90740876, "o": "0.00300400", "c": "0.00300100", "h": "0.00300400", "l": "0.00300100", "v": "13.61200000", "n": 9, "x": true, "q": "0.04087793", "V": "12.59400000", "Q": "0.03782292", "B": "0"}',
 '{"t": 1683316680000, "T": 1683316739999, "s": "LTCBTC", "i": "1m", "f": 90740877, "L": 90740878, "o": "0.00300200", "c": "0.00300200", "h": "0.00300200", "l": "0.00300200", "v": "6.77900000", "n": 2, "x": true, "q": "0.02035055", "V": "6.77900000", "Q": "0.02035055", "B": "0"}',
 '{"t": 1683316740000, "T": 1683316799999, "s": "LTCBTC", "i": "1m", "f": 90740879, "L": 90740883, "o": "0.00300200", "c": "0.00300000", "h": "0.00300200", "l": "0.00300000", "v": "12.73700000", "n": 5, "x": true, "q": "0.03823639", "V": "12.69500000", "Q": "0.03811039", "B": "0"}',
 '{"t": 1683316800000, "T": 1683316859999, "s": "LTCBTC", "i": "1m", "f": 90740884, "L": 90740922, "o": "0.00300000", "c": "0.00300300", "h": "0.00300300", "l": "0.00300000", "v": "216.76900000", "n": 39, "x": true, "q": "0.65061899", "V": "192.08100000", "Q": "0.57652060", "B": "0"}',
 '{"t": 1683316860000, "T": 1683316919999, "s": "LTCBTC", "i": "1m", "f": 90740923, "L": 90740931, "o": "0.00300300", "c": "0.00300400", "h": "0.00300400", "l": "0.00300300", "v": "22.15800000", "n": 9, "x": true, "q": "0.06654147", "V": "1.44800000", "Q": "0.00434936", "B": "0"}',
 '{"t": 1683316920000, "T": 1683316979999, "s": "LTCBTC", "i": "1m", "f": 90740932, "L": 90740938, "o": "0.00300400", "c": "0.00300400", "h": "0.00300400", "l": "0.00300400", "v": "11.53200000", "n": 7, "x": true, "q": "0.03464211", "V": "1.71100000", "Q": "0.00513984", "B": "0"}',
 '{"t": 1683316980000, "T": 1683317039999, "s": "LTCBTC", "i": "1m", "f": 90740939, "L": 90740959, "o": "0.00300400", "c": "0.00300500", "h": "0.00300600", "l": "0.00300400", "v": "51.50800000", "n": 21, "x": true, "q": "0.15476238", "V": "4.62100000", "Q": "0.01388612", "B": "0"}',
 '{"t": 1683317040000, "T": 1683317099999, "s": "LTCBTC", "i": "1m", "f": 90740960, "L": 90740964, "o": "0.00300500", "c": "0.00300600", "h": "0.00300600", "l": "0.00300500", "v": "2.60300000", "n": 5, "x": true, "q": "0.00782448", "V": "2.60300000", "Q": "0.00782448", "B": "0"}',
 '{"t": 1683317100000, "T": 1683317159999, "s": "LTCBTC", "i": "1m", "f": 90740965, "L": 90740968, "o": "0.00300500", "c": "0.00300400", "h": "0.00300600", "l": "0.00300400", "v": "3.50900000", "n": 4, "x": true, "q": "0.01054484", "V": "3.20800000", "Q": "0.00964064", "B": "0"}',
 '{"t": 1683317160000, "T": 1683317219999, "s": "LTCBTC", "i": "1m", "f": 90740969, "L": 90740972, "o": "0.00300500", "c": "0.00300500", "h": "0.00300500", "l": "0.00300300", "v": "2.32400000", "n": 4, "x": true, "q": "0.00698039", "V": "1.08900000", "Q": "0.00327160", "B": "0"}',
 '{"t": 1683317220000, "T": 1683317279999, "s": "LTCBTC", "i": "1m", "f": 90740973, "L": 90740978, "o": "0.00300500", "c": "0.00300400", "h": "0.00300500", "l": "0.00300400", "v": "23.84700000", "n": 6, "x": true, "q": "0.07164439", "V": "10.61200000", "Q": "0.03188645", "B": "0"}',
 '{"t": 1683317280000, "T": 1683317339999, "s": "LTCBTC", "i": "1m", "f": 90740979, "L": 90740980, "o": "0.00300500", "c": "0.00300500", "h": "0.00300500", "l": "0.00300500", "v": "1.83300000", "n": 2, "x": true, "q": "0.00550816", "V": "0.54200000", "Q": "0.00162871", "B": "0"}',
 '{"t": 1683317340000, "T": 1683317399999, "s": "LTCBTC", "i": "1m", "f": 90740981, "L": 90740989, "o": "0.00300500", "c": "0.00300500", "h": "0.00300500", "l": "0.00300500", "v": "16.70300000", "n": 9, "x": true, "q": "0.05019248", "V": "16.70300000", "Q": "0.05019248", "B": "0"}',
 '{"t": 1683317400000, "T": 1683317459999, "s": "LTCBTC", "i": "1m", "f": 90740990, "L": 90740994, "o": "0.00300500", "c": "0.00300600", "h": "0.00300600", "l": "0.00300500", "v": "16.58800000", "n": 5, "x": true, "q": "0.04986334", "V": "16.41200000", "Q": "0.04933446", "B": "0"}']

In [94]:
# %timeit redis_fetch.fetch_zset_range(redisClient=redisClient, key=mykey)
# 1.6 ms ± 24.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [95]:
df = redis_fetch.fetch_set_and_parse(redisClient=redisClient_klines, key=mykey)
df

                                          Open time      Open      High       Low     Close  Volume                Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
LTCBTC 1m Europe/madrid
2023-05-05 20:01:00+02:00 2023-05-05 20:01:00+02:00  0.003007  0.003008  0.003007  0.003008   3.596 2023-05-05 20:01:59+02:00      0.010815       2                  0.000                0.000000       0   1683309660000    1683309719999
2023-05-05 20:02:00+02:00 2023-05-05 20:02:00+02:00  0.003009  0.003009  0.003007  0.003007  53.482 2023-05-05 20:02:59+02:00      0.160831       7                  2.340                0.007041       0   1683309720000    1683309779999
2023-05-05 20:03:00+02:00 2023-05-05 20:03:00+02:00  0.003008  0.003008  0.003007  0.003007   5.448 2023-05-05 20:03:59+02:00      0.016384       5                  5.448                0.016384       0   1683309780000    1683309839999
2023-05-05 20:04:00+02:00 2023-05-05 20:04:00+02:00  0.003007  0.003007  0.003007  0.003007   0.000 2023-05-05 20:04:59+02:00      0.000000       0                  0.000                0.000000       0   1683309840000    1683309899999
2023-05-05 20:05:00+02:00 2023-05-05 20:05:00+02:00  0.003009  0.003009  0.003009  0.003009   1.550 2023-05-05 20:05:59+02:00      0.004664       3                  1.550                0.004664       0   1683309900000    1683309959999
...                                             ...       ...       ...       ...       ...     ...                       ...           ...     ...                    ...                     ...     ...             ...              ...
2023-05-05 22:06:00+02:00 2023-05-05 22:06:00+02:00  0.003005  0.003005  0.003003  0.003005   2.324 2023-05-05 22:06:59+02:00      0.006980       4                  1.089                0.003272       0   1683317160000    1683317219999
2023-05-05 22:07:00+02:00 2023-05-05 22:07:00+02:00  0.003005  0.003005  0.003004  0.003004  23.847 2023-05-05 22:07:59+02:00      0.071644       6                 10.612                0.031886       0   1683317220000    1683317279999
2023-05-05 22:08:00+02:00 2023-05-05 22:08:00+02:00  0.003005  0.003005  0.003005  0.003005   1.833 2023-05-05 22:08:59+02:00      0.005508       2                  0.542                0.001629       0   1683317280000    1683317339999
2023-05-05 22:09:00+02:00 2023-05-05 22:09:00+02:00  0.003005  0.003005  0.003005  0.003005  16.703 2023-05-05 22:09:59+02:00      0.050192       9                 16.703                0.050192       0   1683317340000    1683317399999
2023-05-05 22:10:00+02:00 2023-05-05 22:10:00+02:00  0.003005  0.003006  0.003005  0.003006  16.588 2023-05-05 22:10:59+02:00      0.049863       5                 16.412                0.049334       0   1683317400000    1683317459999

[130 rows x 14 columns]

In [96]:
# verify not missing entries
verification = df['Open timestamp'].diff().value_counts()
assert len(verification) == 1

In [97]:
# %%timeit
# data = redis_fetch.fetch_set_and_parse(redisClient=redisClient, key=mykey)
# 20.6 ms ± 412 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [98]:
sym.plot_trades_scatter()

2023-05-05	 22:11:54     INFO Empty trades, please request using: get_agg_trades() method: Example: my_symbol.get_agg_trades()

In [99]:
sym.plot_market_profile(from_agg_trades=True)

2023-05-05	 22:11:55     INFO Empty trades, please request using: get_agg_trades() method: Example: my_symbol.get_agg_trades()

In [100]:
sym.plot_market_profile(from_atomic_trades=True)

# Thank you