In [1]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
!python -V

Python 3.11.2

In [3]:
import binpan
from handlers.postgresql_database import *

In [4]:
binpan.__version__

'0.8.3'

# Database connector

In [5]:
db = binpan.Database(host="192.168.89.211")

Host: 192.168.89.211
Port: 5432
User: nando
Database: crypto

In [6]:
db.status()

Host: 192.168.89.211
Port: 5432
User: nando
Password: XXXXXXXXXXXX
Database: crypto
Connection: <connection object at 0x000001DCDF770480; dsn: 'user=nando password=xxx connect_timeout=10 dbname=crypto host=192.168.89.211 port=5432', closed: 0>
Cursor: <cursor object at 0x000001DCDF713E60; closed: 0>

In [7]:
db.size

'101 GB'

In [8]:
db.table_sizes

    schemaname                tablename  table_size_kb  indexes_size_kb  total_size_kb
0       public         gnousdt_kline_1m            8.0             16.0           24.0
34      public         ltcusdt_kline_1m            8.0             16.0           24.0
25      public      burgerusdt_kline_1m            8.0             16.0           24.0
26      public          ltcbtc_kline_1m            8.0             16.0           24.0
27      public         vetusdt_kline_1m            8.0             16.0           24.0
..         ...                      ...            ...              ...            ...
277     public  vicusdt_kline_1m_missed            0.0             16.0           16.0
278     public         rifusdt_kline_1m            0.0             16.0           16.0
279     public         truusdt_kline_1m            0.0             16.0           16.0
280     public         cfxusdt_kline_1m            0.0             16.0           16.0
743     public       voxelusdt_kline_1m            0.0             16.0           16.0

[744 rows x 5 columns]

In [9]:
db.hypertable_info

    hypertable_schema           hypertable_name  owner  num_dimensions  num_chunks  compression_enabled  is_distributed replication_factor data_nodes tablespaces
71             public          btcusdt_kline_1m  nando               1         329                False           False               None       None        None
133            public          ethusdt_kline_1m  nando               1         329                False           False               None       None        None
100            public          bnbusdt_kline_1m  nando               1         318                False           False               None       None        None
101            public          neousdt_kline_1m  nando               1         316                False           False               None       None        None
1              public          ltcusdt_kline_1m  nando               1         313                False           False               None       None        None
..                ...                       ...    ...             ...         ...                  ...             ...                ...        ...         ...
365            public           ltcbtc_kline_1m  nando               1           1                False           False               None       None        None
739            public  pivxusdt_kline_1m_missed  nando               1           1                False           False               None       None        None
443            public    ltcbtc_kline_1m_missed  nando               1           0                False           False               None       None        None
742            public  blurusdt_kline_1m_missed  nando               1           0                False           False               None       None        None
743            public   vicusdt_kline_1m_missed  nando               1           0                False           False               None       None        None

[744 rows x 10 columns]

In [10]:
tables = db.get_tables(table_type="kline_1m")
tables

['litusdt_kline_1m',
 'badgerusdt_kline_1m',
 'omusdt_kline_1m',
 'tkousdt_kline_1m',
 'barusdt_kline_1m',
 'polsusdt_kline_1m',
 'maskusdt_kline_1m',
 'gftusdt_kline_1m',
 'qntusdt_kline_1m',
 'alpacausdt_kline_1m',
 'requsdt_kline_1m',
 'xecusdt_kline_1m',
 'elfusdt_kline_1m',
 'dydxusdt_kline_1m',
 'galausdt_kline_1m',
 'agldusdt_kline_1m',
 'betausdt_kline_1m',
 'chessusdt_kline_1m',
 'adxusdt_kline_1m',
 'ensusdt_kline_1m',
 'kp3rusdt_kline_1m',
 'qiusdt_kline_1m',
 'jasmyusdt_kline_1m',
 'ampusdt_kline_1m',
 'alcxusdt_kline_1m',
 'fxsusdt_kline_1m',
 'voxelusdt_kline_1m',
 'ookiusdt_kline_1m',
 'glmrusdt_kline_1m',
 'xvsusdt_kline_1m',
 'aaveusdt_kline_1m',
 'nearusdt_kline_1m',
 'akrousdt_kline_1m',
 'roseusdt_kline_1m',
 'avausdt_kline_1m',
 'sklusdt_kline_1m',
 'grtusdt_kline_1m',
 'juvusdt_kline_1m',
 'psgusdt_kline_1m',
 'ogusdt_kline_1m',
 'asrusdt_kline_1m',
 'rifusdt_kline_1m',
 'truusdt_kline_1m',
 'ckbusdt_kline_1m',
 'twtusdt_kline_1m',
 'linausdt_kline_1m',
 'cfxusdt_kline_1m',
 'forthusdt_kline_1m',
 'bakeusdt_kline_1m',
 'shibusdt_kline_1m',
 'arusdt_kline_1m',
 'lptusdt_kline_1m',
 'gtcusdt_kline_1m',
 'ernusdt_kline_1m',
 'dentusdt_kline_1m',
 'clvusdt_kline_1m',
 'tvkusdt_kline_1m',
 'rayusdt_kline_1m',
 'mboxusdt_kline_1m',
 'waxpusdt_kline_1m',
 'vidtusdt_kline_1m',
 'dfusdt_kline_1m',
 'fidausdt_kline_1m',
 'darusdt_kline_1m',
 'portousdt_kline_1m',
 'vgxusdt_kline_1m',
 'plausdt_kline_1m',
 'rndrusdt_kline_1m',
 'mcusdt_kline_1m',
 'slpusdt_kline_1m',
 'fluxusdt_kline_1m',
 'cvxusdt_kline_1m',
 'scrtusdt_kline_1m',
 'alpineusdt_kline_1m',
 'gmtusdt_kline_1m',
 'steemusdt_kline_1m',
 'gmxusdt_kline_1m',
 'polyxusdt_kline_1m',
 'phbusdt_kline_1m',
 'agixusdt_kline_1m',
 'gnsusdt_kline_1m',
 'lqtyusdt_kline_1m',
 'gasusdt_kline_1m',
 'arbusdt_kline_1m',
 'wbtcusdt_kline_1m',
 'eduusdt_kline_1m',
 'astusdt_kline_1m',
 'arkusdt_kline_1m',
 'iqusdt_kline_1m',
 'mobusdt_kline_1m',
 'ldousdt_kline_1m',
 'epxusdt_kline_1m',
 'stgusdt_kline_1m',
 'luncusdt_kline_1m',
 'osmousdt_kline_1m',
 'prosusdt_kline_1m',
 'synusdt_kline_1m',
 'ssvusdt_kline_1m',
 'ambusdt_kline_1m',
 'ustcusdt_kline_1m',
 'idusdt_kline_1m',
 'combousdt_kline_1m',
 'wldusdt_kline_1m',
 'fdusdusdt_kline_1m',
 'seiusdt_kline_1m',
 'creamusdt_kline_1m',
 'injusdt_kline_1m',
 'ctkusdt_kline_1m',
 'celousdt_kline_1m',
 'straxusdt_kline_1m',
 'reefusdt_kline_1m',
 'alphausdt_kline_1m',
 'api3usdt_kline_1m',
 'firousdt_kline_1m',
 'sfpusdt_kline_1m',
 'dodousdt_kline_1m',
 'acmusdt_kline_1m',
 'fisusdt_kline_1m',
 'pondusdt_kline_1m',
 'degousdt_kline_1m',
 'burgerusdt_kline_1m',
 'klayusdt_kline_1m',
 'dexeusdt_kline_1m',
 'c98usdt_kline_1m',
 'flowusdt_kline_1m',
 'gnousdt_kline_1m',
 'bnbupusdt_kline_1m',
 'idexusdt_kline_1m',
 'yggusdt_kline_1m',
 'frontusdt_kline_1m',
 'cvpusdt_kline_1m',
 'rareusdt_kline_1m',
 'auctionusdt_kline_1m',
 'bnxusdt_kline_1m',
 'santosusdt_kline_1m',
 'highusdt_kline_1m',
 'spellusdt_kline_1m',
 'joeusdt_kline_1m',
 'acausdt_kline_1m',
 'kdausdt_kline_1m',
 'qtumusdt_kline_1m',
 'xrpusdt_kline_1m',
 'eosusdt_kline_1m',
 'trxusdt_kline_1m',
 'icxusdt_kline_1m',
 'usdcusdt_kline_1m',
 'audiousdt_kline_1m',
 'xemusdt_kline_1m',
 'axsusdt_kline_1m',
 'hardusdt_kline_1m',
 't_1inchusdt_kline_1m',
 'atmusdt_kline_1m',
 'cakeusdt_kline_1m',
 'aliceusdt_kline_1m',
 'ongusdt_kline_1m',
 'hotusdt_kline_1m',
 'celrusdt_kline_1m',
 'tfuelusdt_kline_1m',
 'perpusdt_kline_1m',
 'superusdt_kline_1m',
 'pundixusdt_kline_1m',
 'ftmusdt_kline_1m',
 'ankrusdt_kline_1m',
 'keyusdt_kline_1m',
 'wanusdt_kline_1m',
 'tlmusdt_kline_1m',
 'chzusdt_kline_1m',
 'icpusdt_kline_1m',
 'mdxusdt_kline_1m',
 'xvgusdt_kline_1m',
 'atausdt_kline_1m',
 'bandusdt_kline_1m',
 'hbarusdt_kline_1m',
 'stxusdt_kline_1m',
 'kavausdt_kline_1m',
 'rlcusdt_kline_1m',
 'phausdt_kline_1m',
 'bondusdt_kline_1m',
 'mlnusdt_kline_1m',
 'minausdt_kline_1m',
 'farmusdt_kline_1m',
 'quickusdt_kline_1m',
 'forusdt_kline_1m',
 'ghstusdt_kline_1m',
 'usdpusdt_kline_1m',
 'ilvusdt_kline_1m',
 'sysusdt_kline_1m',
 'radusdt_kline_1m',
 'laziousdt_kline_1m',
 'movrusdt_kline_1m',
 'cityusdt_kline_1m',
 'powrusdt_kline_1m',
 'pyrusdt_kline_1m',
 'cotiusdt_kline_1m',
 'bicousdt_kline_1m',
 'peopleusdt_kline_1m',
 'achusdt_kline_1m',
 'imxusdt_kline_1m',
 'lokausdt_kline_1m',
 'bttcusdt_kline_1m',
 'xnousdt_kline_1m',
 'bifiusdt_kline_1m',
 'woousdt_kline_1m',
 'tusdt_kline_1m',
 'astrusdt_kline_1m',
 'apeusdt_kline_1m',
 'solusdt_kline_1m',
 'pntusdt_kline_1m',
 'mkrusdt_kline_1m',
 'multiusdt_kline_1m',
 'storjusdt_kline_1m',
 'nexousdt_kline_1m',
 'reiusdt_kline_1m',
 'galusdt_kline_1m',
 'opusdt_kline_1m',
 'magicusdt_kline_1m',
 'hifiusdt_kline_1m',
 'uftusdt_kline_1m',
 'bnbdownusdt_kline_1m',
 'blzusdt_kline_1m',
 'sandusdt_kline_1m',
 'oceanusdt_kline_1m',
 'dotusdt_kline_1m',
 'trbusdt_kline_1m',
 'loomusdt_kline_1m',
 'aptusdt_kline_1m',
 'hftusdt_kline_1m',
 'vibusdt_kline_1m',
 'hookusdt_kline_1m',
 'rplusdt_kline_1m',
 'glmusdt_kline_1m',
 'promusdt_kline_1m',
 'wavesusdt_kline_1m',
 'fetusdt_kline_1m',
 'qkcusdt_kline_1m',
 'rdntusdt_kline_1m',
 'flokiusdt_kline_1m',
 'mavusdt_kline_1m',
 'pendleusdt_kline_1m',
 'cyberusdt_kline_1m',
 'xmrusdt_kline_1m',
 'zecusdt_kline_1m',
 'dogeusdt_kline_1m',
 'maticusdt_kline_1m',
 'duskusdt_kline_1m',
 'dockusdt_kline_1m',
 'funusdt_kline_1m',
 'busdusdt_kline_1m',
 'arpausdt_kline_1m',
 'mblusdt_kline_1m',
 'ognusdt_kline_1m',
 'stptusdt_kline_1m',
 'datausdt_kline_1m',
 'btcupusdt_kline_1m',
 'ardrusdt_kline_1m',
 'wbethusdt_kline_1m',
 'leverusdt_kline_1m',
 'ntrnusdt_kline_1m',
 'bswusdt_kline_1m',
 'sushiusdt_kline_1m',
 'btcusdt_kline_1m',
 'iotausdt_kline_1m',
 'suiusdt_kline_1m',
 'ontusdt_kline_1m',
 'oaxusdt_kline_1m',
 'aergousdt_kline_1m',
 'compusdt_kline_1m',
 'pepeusdt_kline_1m',
 'snxusdt_kline_1m',
 'sntusdt_kline_1m',
 'dgbusdt_kline_1m',
 'ethupusdt_kline_1m',
 'arkmusdt_kline_1m',
 'diausdt_kline_1m',
 'sxpusdt_kline_1m',
 'oxtusdt_kline_1m',
 'sunusdt_kline_1m',
 'ornusdt_kline_1m',
 'utkusdt_kline_1m',
 'jstusdt_kline_1m',
 'bnbusdt_kline_1m',
 'nmrusdt_kline_1m',
 'paxgusdt_kline_1m',
 'neousdt_kline_1m',
 'ksmusdt_kline_1m',
 'xlmusdt_kline_1m',
 'ltcusdt_kline_1m',
 'nulsusdt_kline_1m',
 'batusdt_kline_1m',
 'iostusdt_kline_1m',
 'adausdt_kline_1m',
 'viteusdt_kline_1m',
 'tusdusdt_kline_1m',
 'dashusdt_kline_1m',
 'omgusdt_kline_1m',
 'thetausdt_kline_1m',
 'oneusdt_kline_1m',
 'enjusdt_kline_1m',
 'algousdt_kline_1m',
 'perlusdt_kline_1m',
 'cvcusdt_kline_1m',
 'renusdt_kline_1m',
 'ethusdt_kline_1m',
 'etcusdt_kline_1m',
 'vetusdt_kline_1m',
 'xtzusdt_kline_1m',
 'ctxcusdt_kline_1m',
 'ctsiusdt_kline_1m',
 'scusdt_kline_1m',
 'hiveusdt_kline_1m',
 'chrusdt_kline_1m',
 'stmxusdt_kline_1m',
 'gbpusdt_kline_1m',
 'yfiusdt_kline_1m',
 'balusdt_kline_1m',
 'kmdusdt_kline_1m',
 'crvusdt_kline_1m',
 'umausdt_kline_1m',
 'flmusdt_kline_1m',
 'fttusdt_kline_1m',
 'drepusdt_kline_1m',
 'wrxusdt_kline_1m',
 'linkusdt_kline_1m',
 'zilusdt_kline_1m',
 'lskusdt_kline_1m',
 'zrxusdt_kline_1m',
 'rvnusdt_kline_1m',
 'atomusdt_kline_1m',
 'winusdt_kline_1m',
 'cosusdt_kline_1m',
 'mtlusdt_kline_1m',
 'tomousdt_kline_1m',
 'lrcusdt_kline_1m',
 'nknusdt_kline_1m',
 'wtcusdt_kline_1m',
 'iotxusdt_kline_1m',
 'btcdownusdt_kline_1m',
 'troyusdt_kline_1m',
 'mdtusdt_kline_1m',
 'kncusdt_kline_1m',
 'eurusdt_kline_1m',
 'zenusdt_kline_1m',
 'btsusdt_kline_1m',
 'bntusdt_kline_1m',
 'ltousdt_kline_1m',
 'vthousdt_kline_1m',
 'dcrusdt_kline_1m',
 'ethdownusdt_kline_1m',
 'manausdt_kline_1m',
 'irisusdt_kline_1m',
 'antusdt_kline_1m',
 'lunausdt_kline_1m',
 'runeusdt_kline_1m',
 'wingusdt_kline_1m',
 'rsrusdt_kline_1m',
 'uniusdt_kline_1m',
 'wnxmusdt_kline_1m',
 'avaxusdt_kline_1m',
 'egldusdt_kline_1m',
 'unfiusdt_kline_1m',
 'filusdt_kline_1m',
 'fiousdt_kline_1m',
 'belusdt_kline_1m',
 'memeusdt_kline_1m',
 'ltcbtc_kline_1m',
 'tiausdt_kline_1m',
 'beamxusdt_kline_1m',
 'bchusdt_kline_1m',
 'ordiusdt_kline_1m',
 'pivxusdt_kline_1m',
 'vicusdt_kline_1m',
 'blurusdt_kline_1m']

In [11]:
table_counts = db.get_table_counts()
table_counts

ethusdt_kline_1m      3281480
btcusdt_kline_1m      3280956
bnbusdt_kline_1m      3175173
neousdt_kline_1m      3154279
ltcusdt_kline_1m      3113021
                       ...
beamxusdt_kline_1m      22919
pivxusdt_kline_1m       18410
vicusdt_kline_1m         4359
blurusdt_kline_1m        4339
ltcbtc_kline_1m           113
Length: 372, dtype: int64

In [12]:
ser = pd.Series(table_counts)
ser.sort_values(ascending=False, inplace=True)
ser

ethusdt_kline_1m      3281480
btcusdt_kline_1m      3280956
bnbusdt_kline_1m      3175173
neousdt_kline_1m      3154279
ltcusdt_kline_1m      3113021
                       ...
beamxusdt_kline_1m      22919
pivxusdt_kline_1m       18410
vicusdt_kline_1m         4359
blurusdt_kline_1m        4339
ltcbtc_kline_1m           113
Length: 372, dtype: int64

In [13]:
table = ser.index[0]
table

'ethusdt_kline_1m'

In [14]:
db.get_columns(table_name=table)

['time',
 'close_timestamp',
 'first_trade_id',
 'last_trade_id',
 'open',
 'close',
 'high',
 'low',
 'volume',
 'trades',
 'quote_volume',
 'taker_buy_base_volume',
 'taker_buy_quote_volume']

In [15]:
symbol = table.split("_")[0]
tick_interval = table.split("_")[-1]

In [16]:
sym = binpan.Symbol(symbol=symbol,
                    tick_interval="1m",
                    time_zone='Europe/Madrid',
                    hours=8766,
                    postgres_klines="192.168.89.211")

2023-12-01	 17:23:30     INFO Postgres connection requested as str: 192.168.89.211
2023-12-01	 17:23:31     INFO Getting data from table ethusdt_kline_1m from 2022-12-01 11:23:30 to 2023-12-01 17:22:58
2023-12-01	 17:23:43  WARNING BinPan Warning: Dataframe has gaps in klines continuity:
                                     Open timestamp                  Close timestamp             Gap length
ETHUSDT 1m Europe/Madrid
2023-03-24 15:00:00+01:00 2023-03-24 15:00:00+01:00 2023-03-24 15:00:59.999000+01:00 0 days 00:00:59.999000
2023-10-24 09:38:00+02:00 2023-10-24 09:38:00+02:00 2023-10-24 09:38:59.999000+02:00 0 days 00:00:59.999000
2023-10-24 11:16:00+02:00 2023-10-24 11:16:00+02:00 2023-10-24 11:16:59.999000+02:00 0 days 00:00:59.999000
2023-10-24 16:03:00+02:00 2023-10-24 16:03:00+02:00 2023-10-24 16:03:59.999000+02:00 0 days 00:00:59.999000
2023-10-24 16:05:00+02:00 2023-10-24 16:05:00+02:00 2023-10-24 16:05:59.999000+02:00 0 days 00:00:59.999000
...                                             ...                              ...                    ...
2023-11-15 04:10:00+01:00 2023-11-15 04:10:00+01:00 2023-11-15 04:10:59.999000+01:00 0 days 00:00:59.999000
2023-11-16 07:03:00+01:00 2023-11-16 07:03:00+01:00 2023-11-16 07:03:59.999000+01:00 0 days 00:00:59.999000
2023-11-16 07:07:00+01:00 2023-11-16 07:07:00+01:00 2023-11-16 07:07:59.999000+01:00 0 days 00:00:59.999000
2023-11-20 17:48:00+01:00 2023-11-20 17:48:00+01:00 2023-11-20 17:48:59.999000+01:00 0 days 00:00:59.999000
2023-11-24 10:14:00+01:00 2023-11-24 10:14:00+01:00 2023-11-24 10:14:59.999000+01:00 0 days 00:00:59.999000

[30 rows x 3 columns]
2023-12-01	 17:23:43     INFO Please, repair the dataframe with the function 'repair_continuity' method or 'repair_kline_discontinuity' function from 'auxiliar.py'.

In [17]:
type(sym.df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [18]:
sym.discontinuities

                                     Open timestamp                  Close timestamp             Gap length
ETHUSDT 1m Europe/Madrid
2023-03-24 15:00:00+01:00 2023-03-24 15:00:00+01:00 2023-03-24 15:00:59.999000+01:00 0 days 00:00:59.999000
2023-10-24 09:38:00+02:00 2023-10-24 09:38:00+02:00 2023-10-24 09:38:59.999000+02:00 0 days 00:00:59.999000
2023-10-24 11:16:00+02:00 2023-10-24 11:16:00+02:00 2023-10-24 11:16:59.999000+02:00 0 days 00:00:59.999000
2023-10-24 16:03:00+02:00 2023-10-24 16:03:00+02:00 2023-10-24 16:03:59.999000+02:00 0 days 00:00:59.999000
2023-10-24 16:05:00+02:00 2023-10-24 16:05:00+02:00 2023-10-24 16:05:59.999000+02:00 0 days 00:00:59.999000
...                                             ...                              ...                    ...
2023-11-15 04:10:00+01:00 2023-11-15 04:10:00+01:00 2023-11-15 04:10:59.999000+01:00 0 days 00:00:59.999000
2023-11-16 07:03:00+01:00 2023-11-16 07:03:00+01:00 2023-11-16 07:03:59.999000+01:00 0 days 00:00:59.999000
2023-11-16 07:07:00+01:00 2023-11-16 07:07:00+01:00 2023-11-16 07:07:59.999000+01:00 0 days 00:00:59.999000
2023-11-20 17:48:00+01:00 2023-11-20 17:48:00+01:00 2023-11-20 17:48:59.999000+01:00 0 days 00:00:59.999000
2023-11-24 10:14:00+01:00 2023-11-24 10:14:00+01:00 2023-11-24 10:14:59.999000+01:00 0 days 00:00:59.999000

[30 rows x 3 columns]

In [19]:
sym.repair_continuity()

2023-12-01	 17:23:43     INFO Repairing kline discontinuity with selective ffill...
2023-12-01	 17:23:43     INFO Common interval found: 60000 ms. Inserting 109 missing rows...
E:\PycharmProjects\binpan_studio\binpan\auxiliar.py:252: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_copy = pd.concat([df_copy, df_], axis=0, ignore_index=False)
2023-12-01	 17:23:45     INFO Filling missing values...
2023-12-01	 17:23:46     INFO Klines continuity verification after repair
2023-12-01	 17:23:46     INFO Klines continuity OK

In [20]:
type(sym.df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [21]:
df = sym.df
df

                                          Open time     Open     High      Low    Close     Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Open timestamp  Close timestamp  First TradeId  Last TradeId
ETHUSDT 1m Europe/Madrid
2022-12-01 11:24:00+01:00 2022-12-01 11:24:00+01:00  1282.05  1282.05  1281.72  1281.90   236.5318 2022-12-01 11:24:59.999000+01:00  3.032104e+05     263                50.2517            6.441734e+04   1669890240000    1669890299999            NaN           NaN
2022-12-01 11:25:00+01:00 2022-12-01 11:25:00+01:00  1281.89  1282.30  1281.89  1282.19   291.4002 2022-12-01 11:25:59.999000+01:00  3.736375e+05     265                60.8242            7.798500e+04   1669890300000    1669890359999            NaN           NaN
2022-12-01 11:26:00+01:00 2022-12-01 11:26:00+01:00  1282.18  1282.20  1282.00  1282.00   179.4070 2022-12-01 11:26:59.999000+01:00  2.300303e+05     185                52.1602            6.687950e+04   1669890360000    1669890419999            NaN           NaN
2022-12-01 11:27:00+01:00 2022-12-01 11:27:00+01:00  1282.00  1282.31  1282.00  1282.31   124.5445 2022-12-01 11:27:59.999000+01:00  1.596820e+05     254                58.4104            7.489015e+04   1669890420000    1669890479999            NaN           NaN
2022-12-01 11:28:00+01:00 2022-12-01 11:28:00+01:00  1282.31  1282.71  1282.29  1282.39   392.6182 2022-12-01 11:28:59.999000+01:00  5.035363e+05     329               163.1079            2.091782e+05   1669890480000    1669890539999            NaN           NaN
...                                             ...      ...      ...      ...      ...        ...                              ...           ...     ...                    ...                     ...             ...              ...            ...           ...
2023-12-01 02:53:00+01:00 2023-12-01 02:53:00+01:00  2089.08  2091.12  2085.81  2085.95  1466.5159 2023-12-01 02:53:59.999000+01:00  3.063622e+06    2203               934.2887            1.952118e+06   1701395580000    1701395639999   1.242233e+09  1.242235e+09
2023-12-01 02:54:00+01:00 2023-12-01 02:54:00+01:00  2085.95  2088.30  2085.94  2088.18   427.8306 2023-12-01 02:54:59.999000+01:00  8.929806e+05     674               306.9634            6.406759e+05   1701395640000    1701395699999   1.242235e+09  1.242235e+09
2023-12-01 02:55:00+01:00 2023-12-01 02:55:00+01:00  2088.18  2089.60  2087.57  2089.59   568.1121 2023-12-01 02:55:59.999000+01:00  1.186444e+06     756               306.8323            6.408158e+05   1701395700000    1701395759999   1.242235e+09  1.242236e+09
2023-12-01 02:56:00+01:00 2023-12-01 02:56:00+01:00  2089.59  2090.27  2088.89  2089.77   450.6955 2023-12-01 02:56:59.999000+01:00  9.418826e+05     691               339.2465            7.089725e+05   1701395760000    1701395819999   1.242236e+09  1.242237e+09
2023-12-01 02:57:00+01:00 2023-12-01 02:57:00+01:00  2089.77  2090.46  2089.29  2089.66   244.2167 2023-12-01 02:57:59.999000+01:00  5.103874e+05     434               140.6932            2.940262e+05   1701395820000    1701395879999   1.242237e+09  1.242237e+09

[525094 rows x 15 columns]

In [22]:
sym.resample(tick_interval="30m")

                                          Open time     Open     High      Low    Close      Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Open timestamp  Close timestamp
ETHUSDT 30m Europe/Madrid
2022-12-01 11:00:00+01:00 2022-12-01 11:24:00+01:00  1282.05  1282.71  1281.52  1281.52   1782.9262 2022-12-01 11:29:59.999000+01:00  2.286018e+06    1685               427.5777            5.482559e+05   1669890240000    1669890599999
2022-12-01 11:30:00+01:00 2022-12-01 11:30:00+01:00  1281.53  1283.98  1279.76  1280.37  11754.6646 2022-12-01 11:59:59.999000+01:00  1.507093e+07   13556              7376.1970            9.457064e+06   1669890600000    1669892399999
2022-12-01 12:00:00+01:00 2022-12-01 12:00:00+01:00  1280.37  1281.69  1277.58  1279.65   8865.5131 2022-12-01 12:29:59.999000+01:00  1.134722e+07   10229              4648.9452            5.950567e+06   1669892400000    1669894199999
2022-12-01 12:30:00+01:00 2022-12-01 12:30:00+01:00  1279.66  1283.00  1279.46  1282.94   9867.6231 2022-12-01 12:59:59.999000+01:00  1.265019e+07    9432              7194.8779            9.224074e+06   1669894200000    1669895999999
2022-12-01 13:00:00+01:00 2022-12-01 13:00:00+01:00  1282.94  1288.69  1282.83  1286.20  15451.7655 2022-12-01 13:29:59.999000+01:00  1.985830e+07   15735             10757.8995            1.382341e+07   1669896000000    1669897799999
...                                             ...      ...      ...      ...      ...         ...                              ...           ...     ...                    ...                     ...             ...              ...
2023-12-01 00:30:00+01:00 2023-12-01 00:30:00+01:00  2048.11  2054.75  2048.11  2051.96   3701.6521 2023-12-01 00:59:59.999000+01:00  7.594064e+06    9468              2034.4225            4.173640e+06   1701387000000    1701388799999
2023-12-01 01:00:00+01:00 2023-12-01 01:00:00+01:00  2051.95  2053.21  2045.40  2047.00   4515.0676 2023-12-01 01:29:59.999000+01:00  9.251302e+06    8752              2106.3740            4.315823e+06   1701388800000    1701390599999
2023-12-01 01:30:00+01:00 2023-12-01 01:30:00+01:00  2047.00  2050.06  2045.04  2049.80   3424.4967 2023-12-01 01:59:59.999000+01:00  7.014001e+06    8252              1795.8413            3.678425e+06   1701390600000    1701392399999
2023-12-01 02:00:00+01:00 2023-12-01 02:00:00+01:00  2049.80  2074.58  2047.34  2073.60  19202.5180 2023-12-01 02:29:59.999000+01:00  3.961840e+07   25458             12599.2216            2.598903e+07   1701392400000    1701394199999
2023-12-01 02:30:00+01:00 2023-12-01 02:30:00+01:00  2073.60  2091.12  2072.80  2089.66  26205.3350 2023-12-01 02:57:59.999000+01:00  5.456604e+07   37588             15402.6022            3.206880e+07   1701394200000    1701395879999

[17504 rows x 13 columns]