In [1]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
!python -V

Python 3.11.2

In [3]:
import binpan
import pandas as pd

Cannot import numba: only Python versions >=3.7,<3.11 are supported. Using Numpy.

In [4]:
binpan.__version__

'0.6.03'

# Database connector

In [5]:
db = binpan.Database(host="192.168.89.242")

Host: 192.168.89.242
Port: 5432
User: nando
Database: crypto

In [6]:
db.status()

Host: 192.168.89.242
Port: 5432
User: nando
Password: XXXXXXXXXXXX
Database: crypto
Connection: <connection object at 0x000001CC0B6A47B0; dsn: 'user=nando password=xxx connect_timeout=10 dbname=crypto host=192.168.89.242 port=5432', closed: 0>
Cursor: <cursor object at 0x000001CC59FC5E00; closed: 0>

In [7]:
tables = db.get_tables(table_type="kline_1m")
tables

['btcusdt_kline_1m',
 'iotausdt_kline_1m',
 'ontusdt_kline_1m',
 'wavesusdt_kline_1m',
 'belusdt_kline_1m',
 'fetusdt_kline_1m',
 'xmrusdt_kline_1m',
 'zecusdt_kline_1m',
 'maticusdt_kline_1m',
 'wingusdt_kline_1m',
 'dogeusdt_kline_1m',
 'duskusdt_kline_1m',
 'dockusdt_kline_1m',
 'funusdt_kline_1m',
 'busdusdt_kline_1m',
 'arpausdt_kline_1m',
 'ognusdt_kline_1m',
 'mblusdt_kline_1m',
 'stptusdt_kline_1m',
 'datausdt_kline_1m',
 'chessusdt_kline_1m',
 'ethupusdt_kline_1m',
 'btcupusdt_kline_1m',
 'ardrusdt_kline_1m',
 'compusdt_kline_1m',
 'snxusdt_kline_1m',
 'dgbusdt_kline_1m',
 'sxpusdt_kline_1m',
 'icxusdt_kline_1m',
 'qtumusdt_kline_1m',
 'xrpusdt_kline_1m',
 'eosusdt_kline_1m',
 'trxusdt_kline_1m',
 'usdcusdt_kline_1m',
 'ongusdt_kline_1m',
 'ankrusdt_kline_1m',
 'hotusdt_kline_1m',
 'celrusdt_kline_1m',
 'tfuelusdt_kline_1m',
 'ftmusdt_kline_1m',
 'keyusdt_kline_1m',
 'wanusdt_kline_1m',
 'adxusdt_kline_1m',
 'kavausdt_kline_1m',
 'chzusdt_kline_1m',
 'bandusdt_kline_1m',
 'hbarusdt_kline_1m',
 'stxusdt_kline_1m',
 'rlcusdt_kline_1m',
 'bchusdt_kline_1m',
 'neousdt_kline_1m',
 'cotiusdt_kline_1m',
 'solusdt_kline_1m',
 'pntusdt_kline_1m',
 'bnbusdt_kline_1m',
 'ltcusdt_kline_1m',
 'adausdt_kline_1m',
 'iostusdt_kline_1m',
 'tusdusdt_kline_1m',
 'xlmusdt_kline_1m',
 'nulsusdt_kline_1m',
 'batusdt_kline_1m',
 'dashusdt_kline_1m',
 'omgusdt_kline_1m',
 'ensusdt_kline_1m',
 'perlusdt_kline_1m',
 'thetausdt_kline_1m',
 'enjusdt_kline_1m',
 'oneusdt_kline_1m',
 'algousdt_kline_1m',
 'cvcusdt_kline_1m',
 'xtzusdt_kline_1m',
 'drepusdt_kline_1m',
 'renusdt_kline_1m',
 'ctxcusdt_kline_1m',
 'viteusdt_kline_1m',
 'fttusdt_kline_1m',
 'wrxusdt_kline_1m',
 'kp3rusdt_kline_1m',
 'lskusdt_kline_1m',
 'ctsiusdt_kline_1m',
 'hiveusdt_kline_1m',
 'chrusdt_kline_1m',
 'stmxusdt_kline_1m',
 'scusdt_kline_1m',
 'gbpusdt_kline_1m',
 'ethusdt_kline_1m',
 'etcusdt_kline_1m',
 'vetusdt_kline_1m',
 'linkusdt_kline_1m',
 'zilusdt_kline_1m',
 'zrxusdt_kline_1m',
 'atomusdt_kline_1m',
 'winusdt_kline_1m',
 'cosusdt_kline_1m',
 'mtlusdt_kline_1m',
 'tomousdt_kline_1m',
 'dentusdt_kline_1m',
 'rvnusdt_kline_1m',
 'nknusdt_kline_1m',
 'qiusdt_kline_1m',
 'iotxusdt_kline_1m',
 'troyusdt_kline_1m',
 'eurusdt_kline_1m',
 'btsusdt_kline_1m',
 'bntusdt_kline_1m',
 'ltousdt_kline_1m',
 'wtcusdt_kline_1m',
 'btcdownusdt_kline_1m',
 'mdtusdt_kline_1m',
 'kncusdt_kline_1m',
 'lrcusdt_kline_1m',
 'zenusdt_kline_1m',
 'ethdownusdt_kline_1m',
 'vthousdt_kline_1m',
 'jstusdt_kline_1m',
 'nmrusdt_kline_1m',
 'paxgusdt_kline_1m',
 'ksmusdt_kline_1m',
 'diausdt_kline_1m',
 'oxtusdt_kline_1m',
 'sunusdt_kline_1m',
 'jasmyusdt_kline_1m',
 'ornusdt_kline_1m',
 'utkusdt_kline_1m',
 'xvsusdt_kline_1m',
 'aaveusdt_kline_1m',
 'nearusdt_kline_1m',
 'akrousdt_kline_1m',
 'roseusdt_kline_1m',
 'avausdt_kline_1m',
 'sklusdt_kline_1m',
 'grtusdt_kline_1m',
 'juvusdt_kline_1m',
 'psgusdt_kline_1m',
 'ogusdt_kline_1m',
 'asrusdt_kline_1m',
 'rifusdt_kline_1m',
 'truusdt_kline_1m',
 'ckbusdt_kline_1m',
 'twtusdt_kline_1m',
 'linausdt_kline_1m',
 'cfxusdt_kline_1m',
 'forthusdt_kline_1m',
 'ampusdt_kline_1m',
 'bakeusdt_kline_1m',
 'shibusdt_kline_1m',
 'arusdt_kline_1m',
 'lptusdt_kline_1m',
 'gtcusdt_kline_1m',
 'ernusdt_kline_1m',
 'clvusdt_kline_1m',
 'tvkusdt_kline_1m',
 'rayusdt_kline_1m',
 'mboxusdt_kline_1m',
 'waxpusdt_kline_1m',
 'vidtusdt_kline_1m',
 'dfusdt_kline_1m',
 'fidausdt_kline_1m',
 'mkrusdt_kline_1m',
 'storjusdt_kline_1m',
 'bnbupusdt_kline_1m',
 'bnbdownusdt_kline_1m',
 'blzusdt_kline_1m',
 'sandusdt_kline_1m',
 'oceanusdt_kline_1m',
 'alcxusdt_kline_1m',
 'dotusdt_kline_1m',
 'trbusdt_kline_1m',
 'sushiusdt_kline_1m',
 'filusdt_kline_1m',
 'unfiusdt_kline_1m',
 'litusdt_kline_1m',
 'badgerusdt_kline_1m',
 'omusdt_kline_1m',
 'tkousdt_kline_1m',
 'barusdt_kline_1m',
 'slpusdt_kline_1m',
 'polsusdt_kline_1m',
 'maskusdt_kline_1m',
 'qntusdt_kline_1m',
 'alpacausdt_kline_1m',
 'requsdt_kline_1m',
 'xecusdt_kline_1m',
 'elfusdt_kline_1m',
 'dydxusdt_kline_1m',
 'galausdt_kline_1m',
 'agldusdt_kline_1m',
 'fxsusdt_kline_1m',
 'betausdt_kline_1m',
 'yfiusdt_kline_1m',
 'balusdt_kline_1m',
 'kmdusdt_kline_1m',
 'crvusdt_kline_1m',
 'umausdt_kline_1m',
 'flmusdt_kline_1m',
 'alphausdt_kline_1m',
 'audiousdt_kline_1m',
 'axsusdt_kline_1m',
 'hardusdt_kline_1m',
 'xemusdt_kline_1m',
 't_1inchusdt_kline_1m',
 'atmusdt_kline_1m',
 'cakeusdt_kline_1m',
 'aliceusdt_kline_1m',
 'perpusdt_kline_1m',
 'superusdt_kline_1m',
 'pundixusdt_kline_1m',
 'tlmusdt_kline_1m',
 'icpusdt_kline_1m',
 'voxelusdt_kline_1m',
 'mdxusdt_kline_1m',
 'xvgusdt_kline_1m',
 'atausdt_kline_1m',
 'phausdt_kline_1m',
 'bondusdt_kline_1m',
 'mlnusdt_kline_1m',
 'minausdt_kline_1m',
 'farmusdt_kline_1m',
 'quickusdt_kline_1m',
 'forusdt_kline_1m',
 'ghstusdt_kline_1m',
 'usdpusdt_kline_1m',
 'ilvusdt_kline_1m',
 'sysusdt_kline_1m',
 'radusdt_kline_1m',
 'dcrusdt_kline_1m',
 'manausdt_kline_1m',
 'irisusdt_kline_1m',
 'antusdt_kline_1m',
 'lunausdt_kline_1m',
 'rsrusdt_kline_1m',
 'ookiusdt_kline_1m',
 'wnxmusdt_kline_1m',
 'egldusdt_kline_1m',
 'runeusdt_kline_1m',
 'fiousdt_kline_1m',
 'uniusdt_kline_1m',
 'avaxusdt_kline_1m',
 'injusdt_kline_1m',
 'firousdt_kline_1m',
 'ctkusdt_kline_1m',
 'straxusdt_kline_1m',
 'reefusdt_kline_1m',
 'celousdt_kline_1m',
 'sfpusdt_kline_1m',
 'dodousdt_kline_1m',
 'burgerusdt_kline_1m',
 'acmusdt_kline_1m',
 'fisusdt_kline_1m',
 'pondusdt_kline_1m',
 'degousdt_kline_1m',
 'klayusdt_kline_1m',
 'dexeusdt_kline_1m',
 'yggusdt_kline_1m',
 'c98usdt_kline_1m',
 'flowusdt_kline_1m',
 'gnousdt_kline_1m',
 'idexusdt_kline_1m',
 'frontusdt_kline_1m',
 'cvpusdt_kline_1m',
 'highusdt_kline_1m',
 'rareusdt_kline_1m',
 'auctionusdt_kline_1m',
 'bnxusdt_kline_1m',
 'santosusdt_kline_1m',
 'spellusdt_kline_1m',
 'darusdt_kline_1m',
 'mcusdt_kline_1m',
 'portousdt_kline_1m',
 'vgxusdt_kline_1m',
 'plausdt_kline_1m',
 'rndrusdt_kline_1m',
 'fluxusdt_kline_1m',
 'cvxusdt_kline_1m',
 'pyrusdt_kline_1m',
 'laziousdt_kline_1m',
 'movrusdt_kline_1m',
 'cityusdt_kline_1m',
 'powrusdt_kline_1m',
 'bicousdt_kline_1m',
 'peopleusdt_kline_1m',
 'multiusdt_kline_1m',
 'joeusdt_kline_1m',
 'acausdt_kline_1m',
 'kdausdt_kline_1m',
 'bifiusdt_kline_1m',
 'nexousdt_kline_1m',
 'reiusdt_kline_1m',
 'uftusdt_kline_1m',
 'galusdt_kline_1m',
 'opusdt_kline_1m',
 'magicusdt_kline_1m',
 'hifiusdt_kline_1m',
 'loomusdt_kline_1m',
 'oaxusdt_kline_1m',
 'arkmusdt_kline_1m',
 'suiusdt_kline_1m',
 'aergousdt_kline_1m',
 'pepeusdt_kline_1m',
 'sntusdt_kline_1m',
 'wbethusdt_kline_1m',
 'glmrusdt_kline_1m',
 'agixusdt_kline_1m',
 'steemusdt_kline_1m',
 'gmxusdt_kline_1m',
 'polyxusdt_kline_1m',
 'phbusdt_kline_1m',
 'gnsusdt_kline_1m',
 'lqtyusdt_kline_1m',
 'astusdt_kline_1m',
 'gasusdt_kline_1m',
 'arbusdt_kline_1m',
 'wbtcusdt_kline_1m',
 'eduusdt_kline_1m',
 'arkusdt_kline_1m',
 'iqusdt_kline_1m',
 'bttcusdt_kline_1m',
 'achusdt_kline_1m',
 'imxusdt_kline_1m',
 'lokausdt_kline_1m',
 'api3usdt_kline_1m',
 'xnousdt_kline_1m',
 'woousdt_kline_1m',
 'leverusdt_kline_1m',
 'tusdt_kline_1m',
 'astrusdt_kline_1m',
 'apeusdt_kline_1m',
 'bswusdt_kline_1m',
 'aptusdt_kline_1m',
 'hftusdt_kline_1m',
 'glmusdt_kline_1m',
 'hookusdt_kline_1m',
 'rplusdt_kline_1m',
 'vibusdt_kline_1m',
 'bethusdt_kline_1m',
 'promusdt_kline_1m',
 'qkcusdt_kline_1m',
 'cyberusdt_kline_1m',
 'rdntusdt_kline_1m',
 'flokiusdt_kline_1m',
 'mavusdt_kline_1m',
 'pendleusdt_kline_1m',
 'gftusdt_kline_1m',
 'scrtusdt_kline_1m',
 'epxusdt_kline_1m',
 'alpineusdt_kline_1m',
 'gmtusdt_kline_1m',
 'mobusdt_kline_1m',
 'ldousdt_kline_1m',
 'stgusdt_kline_1m',
 'luncusdt_kline_1m',
 'ambusdt_kline_1m',
 'osmousdt_kline_1m',
 'prosusdt_kline_1m',
 'synusdt_kline_1m',
 'ssvusdt_kline_1m',
 'ustcusdt_kline_1m',
 'idusdt_kline_1m',
 'creamusdt_kline_1m',
 'combousdt_kline_1m',
 'wldusdt_kline_1m',
 'fdusdusdt_kline_1m',
 'seiusdt_kline_1m',
 'ntrnusdt_kline_1m']

In [8]:
table_counts = db.get_table_counts()

In [9]:
ser = pd.Series(table_counts)
ser.sort_values(ascending=False, inplace=True)

In [10]:
table = ser.index[0]
table

'umausdt_kline_1m'

In [11]:
db.get_columns(table_name=table)

['time',
 'close_timestamp',
 'first_trade_id',
 'last_trade_id',
 'open',
 'close',
 'high',
 'low',
 'volume',
 'trades',
 'quote_volume',
 'taker_buy_base_volume',
 'taker_buy_quote_volume']

In [12]:
symbol = table.split("_")[0]
tick_interval = table.split("_")[-1]

In [13]:
sym = binpan.Symbol(symbol=symbol,
                    tick_interval="1m",
                    time_zone='Europe/Madrid',
                    hours=8766,
                    postgres_klines="192.168.89.242")

2023-10-17	 19:31:34     INFO Postgres connection requested as str: 192.168.89.242
2023-10-17	 19:31:34     INFO Getting data from table umausdt_kline_1m from 2022-10-17 13:31:34 to 2023-10-17 19:30:58
2023-10-17	 19:31:46  WARNING BinPan Warning: Dataframe has gaps in klines continuity:
                                     Open timestamp                  Close timestamp             Gap length
UMAUSDT 1m Europe/Madrid
2023-03-24 15:00:00+01:00 2023-03-24 15:00:00+01:00 2023-03-24 15:00:59.999000+01:00 0 days 00:00:59.999000
2023-10-17	 19:31:46  WARNING
Timestamp discontinuities detected:
DatetimeIndex(['2023-03-24 15:00:00+01:00'], dtype='datetime64[ns, Europe/Madrid]', name='UMAUSDT 1m Europe/Madrid', freq=None)

In [14]:
sym.discontinuities

                                     Open timestamp                  Close timestamp             Gap length
UMAUSDT 1m Europe/Madrid
2023-03-24 15:00:00+01:00 2023-03-24 15:00:00+01:00 2023-03-24 15:00:59.999000+01:00 0 days 00:00:59.999000

In [15]:
df = sym.df
df

                                          Open time   Open   High    Low  Close  Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Open timestamp  Close timestamp  First TradeId  Last TradeId
UMAUSDT 1m Europe/Madrid
2022-10-20 02:00:00+02:00 2022-10-20 02:00:00+02:00  2.145  2.145  2.143  2.143    37.4 2022-10-20 02:00:59.999000+02:00       80.2136       2                    0.0                  0.0000   1666224000000    1666224059999            NaN           NaN
2022-10-20 02:01:00+02:00 2022-10-20 02:01:00+02:00  2.143  2.143  2.143  2.143     0.0 2022-10-20 02:01:59.999000+02:00        0.0000       0                    0.0                  0.0000   1666224060000    1666224119999            NaN           NaN
2022-10-20 02:02:00+02:00 2022-10-20 02:02:00+02:00  2.143  2.143  2.143  2.143     0.0 2022-10-20 02:02:59.999000+02:00        0.0000       0                    0.0                  0.0000   1666224120000    1666224179999            NaN           NaN
2022-10-20 02:03:00+02:00 2022-10-20 02:03:00+02:00  2.144  2.144  2.144  2.144     5.5 2022-10-20 02:03:59.999000+02:00       11.7920       1                    5.5                 11.7920   1666224180000    1666224239999            NaN           NaN
2022-10-20 02:04:00+02:00 2022-10-20 02:04:00+02:00  2.144  2.144  2.143  2.143    12.6 2022-10-20 02:04:59.999000+02:00       27.0074       2                    0.0                  0.0000   1666224240000    1666224299999            NaN           NaN
...                                             ...    ...    ...    ...    ...     ...                              ...           ...     ...                    ...                     ...             ...              ...            ...           ...
2023-10-17 19:26:00+02:00 2023-10-17 19:26:00+02:00  1.471  1.471  1.468  1.469  1368.5 2023-10-17 19:26:59.999000+02:00     2011.4829      17                  212.3                311.8687   1697563560000    1697563619999     27172672.0    27172688.0
2023-10-17 19:27:00+02:00 2023-10-17 19:27:00+02:00  1.469  1.469  1.467  1.467  1019.4 2023-10-17 19:27:59.999000+02:00     1496.4843       8                   50.0                 73.3561   1697563620000    1697563679999     27172689.0    27172696.0
2023-10-17 19:28:00+02:00 2023-10-17 19:28:00+02:00  1.467  1.468  1.466  1.468  1152.0 2023-10-17 19:28:59.999000+02:00     1689.4967      17                  138.4                203.0859   1697563680000    1697563739999     27172697.0    27172713.0
2023-10-17 19:29:00+02:00 2023-10-17 19:29:00+02:00  1.467  1.468  1.466  1.468  2124.0 2023-10-17 19:29:59.999000+02:00     3114.4962      25                  603.5                885.3615   1697563740000    1697563799999     27172714.0    27172738.0
2023-10-17 19:30:00+02:00 2023-10-17 19:30:00+02:00  1.468  1.468  1.466  1.467   556.2 2023-10-17 19:30:59.999000+02:00      816.0259      14                  215.6                316.5008   1697563800000    1697563859999     27172739.0    27172752.0

[522251 rows x 15 columns]

In [16]:
sym.resample(tick_interval="30m")

                                          Open time   Open   High    Low  Close   Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Open timestamp  Close timestamp
UMAUSDT 30m Europe/Madrid
2022-10-20 02:00:00+02:00 2022-10-20 02:00:00+02:00  2.145  2.151  2.141  2.151    436.7 2022-10-20 02:29:59.999000+02:00      937.3677      34                  192.6                413.3525    1.666224e+12     1.666226e+12
2022-10-20 02:30:00+02:00 2022-10-20 02:30:00+02:00  2.151  2.151  2.132  2.132   3831.5 2022-10-20 02:59:59.999000+02:00     8196.6179      83                 2607.4               5571.8660    1.666226e+12     1.666228e+12
2022-10-20 03:00:00+02:00 2022-10-20 03:00:00+02:00  2.132  2.147  2.130  2.137   7594.6 2022-10-20 03:29:59.999000+02:00    16210.4018     133                 5076.4              10824.3249    1.666228e+12     1.666229e+12
2022-10-20 03:30:00+02:00 2022-10-20 03:30:00+02:00  2.137  2.138  2.129  2.138   1126.8 2022-10-20 03:59:59.999000+02:00     2402.4522      38                  310.9                663.2020    1.666229e+12     1.666231e+12
2022-10-20 04:00:00+02:00 2022-10-20 04:00:00+02:00  2.137  2.148  2.137  2.144   2887.7 2022-10-20 04:29:59.999000+02:00     6182.0949      58                 1066.2               2284.4145    1.666231e+12     1.666233e+12
...                                             ...    ...    ...    ...    ...      ...                              ...           ...     ...                    ...                     ...             ...              ...
2023-10-17 17:30:00+02:00 2023-10-17 17:30:00+02:00  1.470  1.476  1.468  1.470  29378.0 2023-10-17 17:59:59.999000+02:00    43234.6862     399                 9952.7              14657.9657    1.697557e+12     1.697558e+12
2023-10-17 18:00:00+02:00 2023-10-17 18:00:00+02:00  1.471  1.478  1.465  1.473  30649.3 2023-10-17 18:29:59.999000+02:00    45160.6390     502                15060.5              22194.6704    1.697558e+12     1.697560e+12
2023-10-17 18:30:00+02:00 2023-10-17 18:30:00+02:00  1.472  1.478  1.468  1.477  37377.7 2023-10-17 18:59:59.999000+02:00    55042.5903     481                15842.9              23343.9541    1.697560e+12     1.697562e+12
2023-10-17 19:00:00+02:00 2023-10-17 19:00:00+02:00  1.476  1.485  1.466  1.468  36580.9 2023-10-17 19:29:59.999000+02:00    53984.5444     519                17737.3              26206.9103    1.697562e+12     1.697564e+12
2023-10-17 19:30:00+02:00 2023-10-17 19:30:00+02:00  1.468  1.468  1.466  1.467    556.2 2023-10-17 19:30:59.999000+02:00      816.0259      14                  215.6                316.5008    1.697564e+12     1.697564e+12

[17412 rows x 13 columns]