In [1]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
from binpan import binpan
import redis
from handlers import redis_fetch
from random import choice

In [3]:
binpan.__version__

'0.0.80'

In [4]:
# test done calling redis docker in raspberry-pi running unicorn websockets

redis_conf = {'host': '192.168.89.241', 'port': 6379, 'db': 0, 'decode_responses': True}
redisClient = redis.StrictRedis(**redis_conf)

In [5]:
keys = redis_fetch.fetch_keys(redisClient=redisClient)

In [6]:
keys = list(keys)
keys[:15]

['klaybusd@kline_5m',
 'neobusd@kline_1m',
 'nearbusd@kline_5m',
 'wbtcbusd@kline_5m',
 'atmbusd@kline_5m',
 'xtzbusd@kline_1m',
 'dentbusd@kline_1m',
 'trxbusd@kline_1m',
 'cosbusd@kline_5m',
 'hntbusd@kline_1m',
 'mobbusd@kline_1m',
 'santosbusd@kline_1m',
 'ontbusd@kline_5m',
 'bchbusd@kline_1m',
 'qntbusd@kline_1m']

In [7]:
mykey = choice(keys)
mykey

'gmtbusd@kline_5m'

In [8]:
response = redis_fetch.fetch_zset_range(redisClient=redisClient, key=mykey)
response[-15:]

['{"t": 1661590200000, "o": "0.69700000", "h": "0.69780000", "l": "0.69570000", "c": "0.69730000", "v": "16497.20000000", "T": 1661590499999, "q": "11495.44026000", "n": 108, "V": "8133.90000000", "Q": "5669.29890000", "B": "0"}',
 '{"t": 1661590500000, "o": "0.69730000", "h": "0.69730000", "l": "0.69410000", "c": "0.69530000", "v": "25917.90000000", "T": 1661590799999, "q": "18016.88621000", "n": 177, "V": "13272.70000000", "Q": "9224.28130000", "B": "0"}',
 '{"t": 1661590800000, "o": "0.69530000", "h": "0.69540000", "l": "0.69290000", "c": "0.69440000", "v": "34284.70000000", "T": 1661591099999, "q": "23780.43650000", "n": 143, "V": "10268.10000000", "Q": "7123.98591000", "B": "0"}',
 '{"t": 1661591100000, "o": "0.69440000", "h": "0.69440000", "l": "0.69240000", "c": "0.69410000", "v": "54910.60000000", "T": 1661591399999, "q": "38082.21504000", "n": 185, "V": "27778.00000000", "Q": "19264.93597000", "B": "0"}',
 '{"t": 1661591400000, "o": "0.69420000", "h": "0.69440000", "l": "0.69350000", "c": "0.69360000", "v": "35413.60000000", "T": 1661591699999, "q": "24579.86010000", "n": 103, "V": "14267.10000000", "Q": "9901.67991000", "B": "0"}',
 '{"t": 1661591700000, "o": "0.69350000", "h": "0.69360000", "l": "0.69200000", "c": "0.69330000", "v": "49904.60000000", "T": 1661591999999, "q": "34572.96010000", "n": 207, "V": "28666.00000000", "Q": "19860.02956000", "B": "0"}',
 '{"t": 1661592000000, "o": "0.69330000", "h": "0.69380000", "l": "0.69250000", "c": "0.69300000", "v": "21067.00000000", "T": 1661592299999, "q": "14599.18911000", "n": 96, "V": "9471.50000000", "Q": "6564.84071000", "B": "0"}',
 '{"t": 1661592300000, "o": "0.69300000", "h": "0.69330000", "l": "0.69130000", "c": "0.69210000", "v": "24558.00000000", "T": 1661592599999, "q": "17002.61650000", "n": 125, "V": "14503.10000000", "Q": "10043.05880000", "B": "0"}',
 '{"t": 1661592600000, "o": "0.69210000", "h": "0.69470000", "l": "0.69190000", "c": "0.69410000", "v": "30576.30000000", "T": 1661592899999, "q": "21190.83514000", "n": 155, "V": "20318.80000000", "Q": "14083.42416000", "B": "0"}',
 '{"t": 1661592900000, "o": "0.69410000", "h": "0.69440000", "l": "0.69230000", "c": "0.69390000", "v": "10436.50000000", "T": 1661593199999, "q": "7237.29987000", "n": 77, "V": "4234.10000000", "Q": "2936.46537000", "B": "0"}',
 '{"t": 1661593200000, "o": "0.69390000", "h": "0.69630000", "l": "0.69370000", "c": "0.69560000", "v": "55783.80000000", "T": 1661593499999, "q": "38798.27875000", "n": 189, "V": "19666.60000000", "Q": "13672.56261000", "B": "0"}',
 '{"t": 1661593500000, "o": "0.69560000", "h": "0.69600000", "l": "0.69400000", "c": "0.69550000", "v": "33261.70000000", "T": 1661593799999, "q": "23132.67102000", "n": 119, "V": "11822.50000000", "Q": "8219.61134000", "B": "0"}',
 '{"t": 1661593800000, "o": "0.69530000", "h": "0.69540000", "l": "0.69320000", "c": "0.69410000", "v": "27017.80000000", "T": 1661594099999, "q": "18744.44701000", "n": 124, "V": "8591.80000000", "Q": "5961.65781000", "B": "0"}',
 '{"t": 1661594100000, "o": "0.69390000", "h": "0.69450000", "l": "0.69300000", "c": "0.69300000", "v": "23335.40000000", "T": 1661594399999, "q": "16191.88926000", "n": 96, "V": "4550.10000000", "Q": "3157.24035000", "B": "0"}',
 '{"t": 1661594400000, "o": "0.69300000", "h": "0.69530000", "l": "0.69290000", "c": "0.69500000", "v": "20263.70000000", "T": 1661594699999, "q": "14069.58293000", "n": 121, "V": "10967.50000000", "Q": "7614.40103000", "B": "0"}']

In [9]:
%timeit redis_fetch.fetch_zset_range(redisClient=redisClient, key=mykey)

3.56 ms ± 55.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [10]:
data = redis_fetch.fetch_set_and_parse(redisClient=redisClient, key=mykey)
data

                                     Open time    Open    High     Low   Close   Volume           Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
GMTBUSD 5m Europe/madrid
2022-08-25 17:50:00+02:00  2022-08-25 17:50:00  0.7847  0.7856  0.7834  0.7848  32278.3  2022-08-25 17:54:59   25330.34286     154                25924.1             20346.84585       0   1661442600000    1661442899999
2022-08-25 17:55:00+02:00  2022-08-25 17:55:00  0.7845  0.7855  0.7824  0.7850  23197.1  2022-08-25 17:59:59   18179.60657     157                10579.3              8292.35346       0   1661442900000    1661443199999
2022-08-25 18:00:00+02:00  2022-08-25 18:00:00  0.7851  0.7853  0.7810  0.7826  54099.1  2022-08-25 18:04:59   42333.64726     276                25293.5             19786.51387       0   1661443200000    1661443499999
2022-08-25 18:05:00+02:00  2022-08-25 18:05:00  0.7823  0.7852  0.7814  0.7840  68474.5  2022-08-25 18:09:59   53671.41381     233                52949.2             41509.79285       0   1661443500000    1661443799999
2022-08-25 18:10:00+02:00  2022-08-25 18:10:00  0.7839  0.7842  0.7800  0.7808  41363.5  2022-08-25 18:14:59   32324.26500     249                18204.5             14230.40005       0   1661443800000    1661444099999
...                                        ...     ...     ...     ...     ...      ...                  ...           ...     ...                    ...                     ...     ...             ...              ...
2022-08-27 11:40:00+02:00  2022-08-27 11:40:00  0.6939  0.6963  0.6937  0.6956  55783.8  2022-08-27 11:44:59   38798.27875     189                19666.6             13672.56261       0   1661593200000    1661593499999
2022-08-27 11:45:00+02:00  2022-08-27 11:45:00  0.6956  0.6960  0.6940  0.6955  33261.7  2022-08-27 11:49:59   23132.67102     119                11822.5              8219.61134       0   1661593500000    1661593799999
2022-08-27 11:50:00+02:00  2022-08-27 11:50:00  0.6953  0.6954  0.6932  0.6941  27017.8  2022-08-27 11:54:59   18744.44701     124                 8591.8              5961.65781       0   1661593800000    1661594099999
2022-08-27 11:55:00+02:00  2022-08-27 11:55:00  0.6939  0.6945  0.6930  0.6930  23335.4  2022-08-27 11:59:59   16191.88926      96                 4550.1              3157.24035       0   1661594100000    1661594399999
2022-08-27 12:00:00+02:00  2022-08-27 12:00:00  0.6930  0.6953  0.6929  0.6950  20263.7  2022-08-27 12:04:59   14069.58293     121                10967.5              7614.40103       0   1661594400000    1661594699999

[507 rows x 14 columns]

In [11]:
%%timeit
data = redis_fetch.fetch_set_and_parse(redisClient=redisClient, key=mykey)

33.4 ms ± 626 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

### Is possible to pass a redis client to Symbol class.

In [12]:
symbol = mykey.split('@')[0]
sym = binpan.Symbol(symbol=symbol, tick_interval=mykey[-2:], from_redis=redisClient, time_zone='Europe/Madrid')

In [13]:
sym.df

                                     Open time    Open    High     Low   Close   Volume           Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
GMTBUSD 5m Europe/Madrid
2022-08-25 17:50:00+02:00  2022-08-25 17:50:00  0.7847  0.7856  0.7834  0.7848  32278.3  2022-08-25 17:54:59   25330.34286     154                25924.1             20346.84585       0   1661442600000    1661442899999
2022-08-25 17:55:00+02:00  2022-08-25 17:55:00  0.7845  0.7855  0.7824  0.7850  23197.1  2022-08-25 17:59:59   18179.60657     157                10579.3              8292.35346       0   1661442900000    1661443199999
2022-08-25 18:00:00+02:00  2022-08-25 18:00:00  0.7851  0.7853  0.7810  0.7826  54099.1  2022-08-25 18:04:59   42333.64726     276                25293.5             19786.51387       0   1661443200000    1661443499999
2022-08-25 18:05:00+02:00  2022-08-25 18:05:00  0.7823  0.7852  0.7814  0.7840  68474.5  2022-08-25 18:09:59   53671.41381     233                52949.2             41509.79285       0   1661443500000    1661443799999
2022-08-25 18:10:00+02:00  2022-08-25 18:10:00  0.7839  0.7842  0.7800  0.7808  41363.5  2022-08-25 18:14:59   32324.26500     249                18204.5             14230.40005       0   1661443800000    1661444099999
...                                        ...     ...     ...     ...     ...      ...                  ...           ...     ...                    ...                     ...     ...             ...              ...
2022-08-27 11:45:00+02:00  2022-08-27 11:45:00  0.6956  0.6960  0.6940  0.6955  33261.7  2022-08-27 11:49:59   23132.67102     119                11822.5              8219.61134       0   1661593500000    1661593799999
2022-08-27 11:50:00+02:00  2022-08-27 11:50:00  0.6953  0.6954  0.6932  0.6941  27017.8  2022-08-27 11:54:59   18744.44701     124                 8591.8              5961.65781       0   1661593800000    1661594099999
2022-08-27 11:55:00+02:00  2022-08-27 11:55:00  0.6939  0.6945  0.6930  0.6930  23335.4  2022-08-27 11:59:59   16191.88926      96                 4550.1              3157.24035       0   1661594100000    1661594399999
2022-08-27 12:00:00+02:00  2022-08-27 12:00:00  0.6930  0.6953  0.6929  0.6950  20263.7  2022-08-27 12:04:59   14069.58293     121                10967.5              7614.40103       0   1661594400000    1661594699999
2022-08-27 12:05:00+02:00  2022-08-27 12:05:00  0.6950  0.6978  0.6950  0.6965  37332.3  2022-08-27 12:09:59   26008.21829     177                26742.2             18632.12584       0   1661594700000    1661594999999

[508 rows x 14 columns]