In [1]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
from binpan import binpan
import redis
from handlers import redis_fetch
from random import choice

In [3]:
binpan.__version__

'0.2.36'

In [4]:
# test done calling redis docker in raspberry-pi running unicorn websockets

redis_conf = {'host': '192.168.89.241', 'port': 6379, 'db': 0, 'decode_responses': True}
redisClient = redis.StrictRedis(**redis_conf)

In [5]:
keys = redis_fetch.fetch_keys(redisClient=redisClient)

In [6]:
keys = list(keys)
keys[:15]

['eurbusd@kline_5m',
 'wavesbusd@kline_1h',
 'mcbusd@kline_1h',
 'rarebusd@kline_1m',
 'audiobusd@kline_1h',
 'epxbusd@kline_1m',
 'cosbusd@kline_5m',
 'sfpbusd@kline_1m',
 'bnxbusd@kline_5m',
 'filbusd@kline_1h',
 'batbusd@kline_1h',
 'dydxbusd@kline_1h',
 'farmbusd@kline_1h',
 'perpbusd@kline_5m',
 'tomobusd@kline_1m']

In [7]:
mykey = choice(keys)
mykey

'degobusd@kline_1h'

In [8]:
response = redis_fetch.fetch_zset_range(redisClient=redisClient, key=mykey)
response[-15:]

['{"t": 1667707200000, "o": "1.90000000", "h": "1.92000000", "l": "1.89600000", "c": "1.92000000", "v": "11858.25000000", "T": 1667710799999, "q": "22579.42012000", "n": 93, "V": "7899.06000000", "Q": "15017.40626000", "B": "0"}',
 '{"t": 1667710800000, "o": "1.91400000", "h": "1.91600000", "l": "1.88600000", "c": "1.88800000", "v": "12708.54000000", "T": 1667714399999, "q": "24145.57942000", "n": 159, "V": "5719.55000000", "Q": "10884.32491000", "B": "0"}',
 '{"t": 1667714400000, "o": "1.89700000", "h": "1.90200000", "l": "1.89000000", "c": "1.90200000", "v": "274.42000000", "T": 1667717999999, "q": "519.94997000", "n": 7, "V": "145.19000000", "Q": "275.26666000", "B": "0"}',
 '{"t": 1667718000000, "o": "1.90300000", "h": "1.90700000", "l": "1.89800000", "c": "1.90400000", "v": "4559.34000000", "T": 1667721599999, "q": "8672.96592000", "n": 45, "V": "2808.20000000", "Q": "5340.51841000", "B": "0"}',
 '{"t": 1667721600000, "o": "1.89300000", "h": "1.90700000", "l": "1.88800000", "c": "1.90700000", "v": "5333.16000000", "T": 1667725199999, "q": "10117.32955000", "n": 82, "V": "2211.57000000", "Q": "4200.25444000", "B": "0"}',
 '{"t": 1667725200000, "o": "1.90700000", "h": "1.94400000", "l": "1.90500000", "c": "1.93800000", "v": "7750.26000000", "T": 1667728799999, "q": "14947.18254000", "n": 173, "V": "5244.82000000", "Q": "10107.84737000", "B": "0"}',
 '{"t": 1667728800000, "o": "1.94100000", "h": "1.95800000", "l": "1.92100000", "c": "1.92100000", "v": "11149.42000000", "T": 1667732399999, "q": "21634.42167000", "n": 188, "V": "4483.05000000", "Q": "8705.46889000", "B": "0"}',
 '{"t": 1667732400000, "o": "1.93100000", "h": "1.95400000", "l": "1.91000000", "c": "1.94400000", "v": "19403.27000000", "T": 1667735999999, "q": "37398.66066000", "n": 187, "V": "10129.47000000", "Q": "19505.15579000", "B": "0"}',
 '{"t": 1667736000000, "o": "1.94100000", "h": "1.94800000", "l": "1.92700000", "c": "1.93800000", "v": "9324.22000000", "T": 1667739599999, "q": "18068.23329000", "n": 88, "V": "3392.11000000", "Q": "6581.85022000", "B": "0"}',
 '{"t": 1667739600000, "o": "1.93700000", "h": "1.95400000", "l": "1.92900000", "c": "1.94100000", "v": "11794.36000000", "T": 1667743199999, "q": "22864.47783000", "n": 127, "V": "9503.50000000", "Q": "18434.72754000", "B": "0"}',
 '{"t": 1667743200000, "o": "1.94700000", "h": "1.94700000", "l": "1.92900000", "c": "1.93100000", "v": "4170.42000000", "T": 1667746799999, "q": "8073.11561000", "n": 41, "V": "1452.75000000", "Q": "2811.78255000", "B": "0"}',
 '{"t": 1667746800000, "o": "1.93000000", "h": "1.93300000", "l": "1.92400000", "c": "1.92500000", "v": "6440.86000000", "T": 1667750399999, "q": "12412.70463000", "n": 41, "V": "3683.61000000", "Q": "7104.33613000", "B": "0"}',
 '{"t": 1667750400000, "o": "1.92500000", "h": "1.92600000", "l": "1.90000000", "c": "1.91200000", "v": "7403.07000000", "T": 1667753999999, "q": "14166.28559000", "n": 142, "V": "2294.93000000", "Q": "4384.91205000", "B": "0"}',
 '{"t": 1667754000000, "o": "1.91200000", "h": "1.91400000", "l": "1.90100000", "c": "1.90900000", "v": "3049.40000000", "T": 1667757599999, "q": "5815.64724000", "n": 38, "V": "486.42000000", "Q": "929.62798000", "B": "0"}',
 '{"t": 1667757600000, "o": "1.90700000", "h": "1.90700000", "l": "1.88900000", "c": "1.89700000", "v": "4238.51000000", "T": 1667761199999, "q": "8054.72265000", "n": 44, "V": "705.53000000", "Q": "1340.88006000", "B": "0"}']

In [9]:
# %timeit redis_fetch.fetch_zset_range(redisClient=redisClient, key=mykey)
# 1.6 ms ± 24.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [10]:
data = redis_fetch.fetch_set_and_parse(redisClient=redisClient, key=mykey)
data

                                     Open time   Open   High    Low  Close    Volume           Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
DEGOBUSD 1h Europe/madrid
2022-10-23 05:00:00+02:00  2022-10-23 05:00:00  1.840  1.854  1.838  1.851   4395.52  2022-10-23 05:59:59    8114.74980      55                1832.37              3381.95177       0   1666494000000    1666497599999
2022-10-23 06:00:00+02:00  2022-10-23 06:00:00  1.851  1.856  1.823  1.833  12008.34  2022-10-23 06:59:59   22107.36029     163                2886.59              5304.40849       0   1666497600000    1666501199999
2022-10-23 07:00:00+02:00  2022-10-23 07:00:00  1.834  1.837  1.820  1.820   6124.74  2022-10-23 07:59:59   11199.20186      85                2210.73              4048.74834       0   1666501200000    1666504799999
2022-10-23 08:00:00+02:00  2022-10-23 08:00:00  1.820  1.820  1.805  1.806   7268.19  2022-10-23 08:59:59   13170.27586     118                1908.34              3461.31882       0   1666504800000    1666508399999
2022-10-23 09:00:00+02:00  2022-10-23 09:00:00  1.809  1.827  1.808  1.819   8018.07  2022-10-23 09:59:59   14524.83196      91                6341.26             11483.80549       0   1666508400000    1666511999999
...                                        ...    ...    ...    ...    ...       ...                  ...           ...     ...                    ...                     ...     ...             ...              ...
2022-11-06 15:00:00+01:00  2022-11-06 15:00:00  1.947  1.947  1.929  1.931   4170.42  2022-11-06 15:59:59    8073.11561      41                1452.75              2811.78255       0   1667743200000    1667746799999
2022-11-06 16:00:00+01:00  2022-11-06 16:00:00  1.930  1.933  1.924  1.925   6440.86  2022-11-06 16:59:59   12412.70463      41                3683.61              7104.33613       0   1667746800000    1667750399999
2022-11-06 17:00:00+01:00  2022-11-06 17:00:00  1.925  1.926  1.900  1.912   7403.07  2022-11-06 17:59:59   14166.28559     142                2294.93              4384.91205       0   1667750400000    1667753999999
2022-11-06 18:00:00+01:00  2022-11-06 18:00:00  1.912  1.914  1.901  1.909   3049.40  2022-11-06 18:59:59    5815.64724      38                 486.42               929.62798       0   1667754000000    1667757599999
2022-11-06 19:00:00+01:00  2022-11-06 19:00:00  1.907  1.907  1.889  1.897   4238.51  2022-11-06 19:59:59    8054.72265      44                 705.53              1340.88006       0   1667757600000    1667761199999

[352 rows x 14 columns]

In [11]:
# %%timeit
# data = redis_fetch.fetch_set_and_parse(redisClient=redisClient, key=mykey)
# 20.6 ms ± 412 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

# It is possible to pass a redis client to Symbol class.

In [12]:
symbol = mykey.split('@')[0].upper()
sym = binpan.Symbol(symbol=symbol, tick_interval='1m', from_redis=redisClient, time_zone='Europe/Madrid')

In [13]:
sym.df

                                     Open time   Open   High    Low  Close  Volume           Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
DEGOBUSD 1m Europe/Madrid
2022-11-06 13:41:00+01:00  2022-11-06 13:41:00  1.934  1.934  1.934  1.934    0.00  2022-11-06 13:41:59       0.00000       0                   0.00                  0.0000       0   1667738460000    1667738519999
2022-11-06 13:42:00+01:00  2022-11-06 13:42:00  1.934  1.934  1.934  1.934    0.00  2022-11-06 13:42:59       0.00000       0                   0.00                  0.0000       0   1667738520000    1667738579999
2022-11-06 13:43:00+01:00  2022-11-06 13:43:00  1.939  1.939  1.939  1.939  162.66  2022-11-06 13:43:59     315.39774       1                   0.00                  0.0000       0   1667738580000    1667738639999
2022-11-06 13:44:00+01:00  2022-11-06 13:44:00  1.939  1.939  1.939  1.939    0.00  2022-11-06 13:44:59       0.00000       0                   0.00                  0.0000       0   1667738640000    1667738699999
2022-11-06 13:45:00+01:00  2022-11-06 13:45:00  1.939  1.939  1.939  1.939    0.00  2022-11-06 13:45:59       0.00000       0                   0.00                  0.0000       0   1667738700000    1667738759999
...                                        ...    ...    ...    ...    ...     ...                  ...           ...     ...                    ...                     ...     ...             ...              ...
2022-11-06 20:09:00+01:00  2022-11-06 20:09:00  1.909  1.909  1.909  1.909    0.00  2022-11-06 20:09:59       0.00000       0                   0.00                  0.0000       0   1667761740000    1667761799999
2022-11-06 20:10:00+01:00  2022-11-06 20:10:00  1.909  1.909  1.909  1.909    0.00  2022-11-06 20:10:59       0.00000       0                   0.00                  0.0000       0   1667761800000    1667761859999
2022-11-06 20:11:00+01:00  2022-11-06 20:11:00  1.905  1.905  1.905  1.905   56.28  2022-11-06 20:11:59     107.21340       1                  56.28                107.2134       0   1667761860000    1667761919999
2022-11-06 20:12:00+01:00  2022-11-06 20:12:00  1.905  1.905  1.905  1.905    0.00  2022-11-06 20:12:59       0.00000       0                   0.00                  0.0000       0   1667761920000    1667761979999
2022-11-06 20:13:00+01:00  2022-11-06 20:13:00  1.905  1.905  1.905  1.905    0.00  2022-11-06 20:13:59       0.00000       0                   0.00                  0.0000       0   1667761980000    1667762039999

[393 rows x 14 columns]

In [14]:
binpan.Exchange().df.loc[symbol].to_dict()['status']

'TRADING'

But, the transactions will be collected from Binance because no redis client was declared for the transactions. They are independent.

In [15]:
sym.get_trades()

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 17/17 [00:04<00:00,  3.63it/s]

                                  Aggregate tradeId  Price  Quantity  First tradeId  Last tradeId            Timestamp  Buyer was maker  Best price match
DEGOBUSD Europe/Madrid
2022-11-06 03:34:32.394000+01:00            3695991  1.889    160.67        6218094       6218096  2022-11-06 03:34:32            False              True
2022-11-06 03:35:36.909000+01:00            3695992  1.889     16.07        6218097       6218097  2022-11-06 03:35:36             True              True
2022-11-06 03:40:48.579000+01:00            3695993  1.889    105.87        6218098       6218098  2022-11-06 03:40:48             True              True
2022-11-06 03:42:19.840000+01:00            3695994  1.889     80.02        6218099       6218099  2022-11-06 03:42:19            False              True
2022-11-06 03:43:22.887000+01:00            3695995  1.889     63.06        6218100       6218100  2022-11-06 03:43:22            False              True
...                                             ...    ...       ...            ...           ...                  ...              ...               ...
2022-11-06 20:07:37.062000+01:00            3697204  1.905    215.25        6219700       6219700  2022-11-06 20:07:37            False              True
2022-11-06 20:07:37.062000+01:00            3697205  1.906     84.21        6219701       6219701  2022-11-06 20:07:37            False              True
2022-11-06 20:07:37.062000+01:00            3697206  1.908    182.71        6219702       6219703  2022-11-06 20:07:37            False              True
2022-11-06 20:07:37.062000+01:00            3697207  1.909      5.81        6219704       6219704  2022-11-06 20:07:37            False              True
2022-11-06 20:11:41.506000+01:00            3697208  1.905     56.28        6219705       6219705  2022-11-06 20:11:41            False              True

[1218 rows x 8 columns]

# Trades from Redis
If a Redis trades server available, also can be requested trades from redis server, usually in another node with different configuration.

In [16]:
redis_conf_trades = {'host': '192.168.89.242', 'port': 6379, 'db': 0, 'decode_responses': True}
redisClient_trades = redis.StrictRedis(**redis_conf_trades)

In [17]:
sym = binpan.Symbol(symbol=symbol, tick_interval='1m', from_redis=redisClient, from_redis_trades=redisClient_trades, time_zone='Europe/Madrid')

In [18]:
sym.df

                                     Open time   Open   High    Low  Close  Volume           Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
DEGOBUSD 1m Europe/Madrid
2022-11-06 13:41:00+01:00  2022-11-06 13:41:00  1.934  1.934  1.934  1.934    0.00  2022-11-06 13:41:59       0.00000       0                   0.00                  0.0000       0   1667738460000    1667738519999
2022-11-06 13:42:00+01:00  2022-11-06 13:42:00  1.934  1.934  1.934  1.934    0.00  2022-11-06 13:42:59       0.00000       0                   0.00                  0.0000       0   1667738520000    1667738579999
2022-11-06 13:43:00+01:00  2022-11-06 13:43:00  1.939  1.939  1.939  1.939  162.66  2022-11-06 13:43:59     315.39774       1                   0.00                  0.0000       0   1667738580000    1667738639999
2022-11-06 13:44:00+01:00  2022-11-06 13:44:00  1.939  1.939  1.939  1.939    0.00  2022-11-06 13:44:59       0.00000       0                   0.00                  0.0000       0   1667738640000    1667738699999
2022-11-06 13:45:00+01:00  2022-11-06 13:45:00  1.939  1.939  1.939  1.939    0.00  2022-11-06 13:45:59       0.00000       0                   0.00                  0.0000       0   1667738700000    1667738759999
...                                        ...    ...    ...    ...    ...     ...                  ...           ...     ...                    ...                     ...     ...             ...              ...
2022-11-06 20:09:00+01:00  2022-11-06 20:09:00  1.909  1.909  1.909  1.909    0.00  2022-11-06 20:09:59       0.00000       0                   0.00                  0.0000       0   1667761740000    1667761799999
2022-11-06 20:10:00+01:00  2022-11-06 20:10:00  1.909  1.909  1.909  1.909    0.00  2022-11-06 20:10:59       0.00000       0                   0.00                  0.0000       0   1667761800000    1667761859999
2022-11-06 20:11:00+01:00  2022-11-06 20:11:00  1.905  1.905  1.905  1.905   56.28  2022-11-06 20:11:59     107.21340       1                  56.28                107.2134       0   1667761860000    1667761919999
2022-11-06 20:12:00+01:00  2022-11-06 20:12:00  1.905  1.905  1.905  1.905    0.00  2022-11-06 20:12:59       0.00000       0                   0.00                  0.0000       0   1667761920000    1667761979999
2022-11-06 20:13:00+01:00  2022-11-06 20:13:00  1.905  1.905  1.905  1.905    0.00  2022-11-06 20:13:59       0.00000       0                   0.00                  0.0000       0   1667761980000    1667762039999

[393 rows x 14 columns]

By default, trades ar not requested, because it can be slow.

In [19]:
# will get just EXISTING trades in the server
sym.get_trades()

2022-11-06	 20:14:25     INFO Fetching all trades from redis server for DEGOBUSD
2022-11-06	 20:14:25     INFO No trade ids found for DEGOBUSD for given interval in server.

Empty DataFrame
Columns: [Best price match, Buyer was maker, Timestamp, Last tradeId, First tradeId, Quantity, Price, Aggregate tradeId]
Index: []

In [20]:
sym.plot_trades_scatter()

2022-11-06	 20:14:25     INFO Trades not downloaded. Please add trades data with: my_binpan.get_trades()