In [1]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
!python -V

Python 3.11.2

In [3]:
import binpan
from binpan import handlers

from random import choice
import pandas as pd

Cannot import numba: only Python versions >=3.7,<3.11 are supported. Using Numpy.

In [4]:
binpan.__version__

'0.5.21'

# Database connector

In [5]:
db = binpan.Database(host="192.168.89.242")

Host: 192.168.89.242
Port: 5432
User: nando
Database: crypto

In [6]:
db.status()

Host: 192.168.89.242
Port: 5432
User: nando
Password: I6d4imwC0arZSr98WaIN5w==
Database: crypto
Connection: <connection object at 0x000001EA878A8E10; dsn: 'user=nando password=xxx connect_timeout=10 dbname=crypto host=192.168.89.242 port=5432', closed: 0>
Cursor: <cursor object at 0x000001EA878EFCA0; closed: 0>

In [7]:
tables = db.get_tables(table_type="kline_1m")
tables

['btcusdt_kline_1m',
 'iotausdt_kline_1m',
 'ontusdt_kline_1m',
 'wavesusdt_kline_1m',
 'belusdt_kline_1m',
 'fetusdt_kline_1m',
 'xmrusdt_kline_1m',
 'zecusdt_kline_1m',
 'maticusdt_kline_1m',
 'wingusdt_kline_1m',
 'dogeusdt_kline_1m',
 'duskusdt_kline_1m',
 'dockusdt_kline_1m',
 'funusdt_kline_1m',
 'busdusdt_kline_1m',
 'arpausdt_kline_1m',
 'ognusdt_kline_1m',
 'mblusdt_kline_1m',
 'stptusdt_kline_1m',
 'datausdt_kline_1m',
 'chessusdt_kline_1m',
 'ethupusdt_kline_1m',
 'btcupusdt_kline_1m',
 'ardrusdt_kline_1m',
 'compusdt_kline_1m',
 'snxusdt_kline_1m',
 'dgbusdt_kline_1m',
 'sxpusdt_kline_1m',
 'icxusdt_kline_1m',
 'qtumusdt_kline_1m',
 'xrpusdt_kline_1m',
 'eosusdt_kline_1m',
 'trxusdt_kline_1m',
 'usdcusdt_kline_1m',
 'ongusdt_kline_1m',
 'ankrusdt_kline_1m',
 'hotusdt_kline_1m',
 'celrusdt_kline_1m',
 'tfuelusdt_kline_1m',
 'ftmusdt_kline_1m',
 'keyusdt_kline_1m',
 'wanusdt_kline_1m',
 'adxusdt_kline_1m',
 'kavausdt_kline_1m',
 'chzusdt_kline_1m',
 'bandusdt_kline_1m',
 'hbarusdt_kline_1m',
 'stxusdt_kline_1m',
 'rlcusdt_kline_1m',
 'bchusdt_kline_1m',
 'neousdt_kline_1m',
 'cotiusdt_kline_1m',
 'solusdt_kline_1m',
 'pntusdt_kline_1m',
 'bnbusdt_kline_1m',
 'ltcusdt_kline_1m',
 'adausdt_kline_1m',
 'iostusdt_kline_1m',
 'tusdusdt_kline_1m',
 'xlmusdt_kline_1m',
 'nulsusdt_kline_1m',
 'batusdt_kline_1m',
 'dashusdt_kline_1m',
 'omgusdt_kline_1m',
 'ensusdt_kline_1m',
 'perlusdt_kline_1m',
 'thetausdt_kline_1m',
 'enjusdt_kline_1m',
 'oneusdt_kline_1m',
 'algousdt_kline_1m',
 'cvcusdt_kline_1m',
 'xtzusdt_kline_1m',
 'drepusdt_kline_1m',
 'renusdt_kline_1m',
 'ctxcusdt_kline_1m',
 'viteusdt_kline_1m',
 'fttusdt_kline_1m',
 'wrxusdt_kline_1m',
 'kp3rusdt_kline_1m',
 'lskusdt_kline_1m',
 'ctsiusdt_kline_1m',
 'hiveusdt_kline_1m',
 'chrusdt_kline_1m',
 'stmxusdt_kline_1m',
 'scusdt_kline_1m',
 'gbpusdt_kline_1m',
 'ethusdt_kline_1m',
 'etcusdt_kline_1m',
 'vetusdt_kline_1m',
 'linkusdt_kline_1m',
 'zilusdt_kline_1m',
 'zrxusdt_kline_1m',
 'atomusdt_kline_1m',
 'winusdt_kline_1m',
 'cosusdt_kline_1m',
 'mtlusdt_kline_1m',
 'tomousdt_kline_1m',
 'dentusdt_kline_1m',
 'rvnusdt_kline_1m',
 'nknusdt_kline_1m',
 'qiusdt_kline_1m',
 'iotxusdt_kline_1m',
 'troyusdt_kline_1m',
 'eurusdt_kline_1m',
 'btsusdt_kline_1m',
 'bntusdt_kline_1m',
 'ltousdt_kline_1m',
 'wtcusdt_kline_1m',
 'btcdownusdt_kline_1m',
 'mdtusdt_kline_1m',
 'kncusdt_kline_1m',
 'lrcusdt_kline_1m',
 'zenusdt_kline_1m',
 'ethdownusdt_kline_1m',
 'vthousdt_kline_1m',
 'jstusdt_kline_1m',
 'nmrusdt_kline_1m',
 'paxgusdt_kline_1m',
 'ksmusdt_kline_1m',
 'diausdt_kline_1m',
 'oxtusdt_kline_1m',
 'sunusdt_kline_1m',
 'jasmyusdt_kline_1m',
 'ornusdt_kline_1m',
 'utkusdt_kline_1m',
 'xvsusdt_kline_1m',
 'aaveusdt_kline_1m',
 'nearusdt_kline_1m',
 'akrousdt_kline_1m',
 'roseusdt_kline_1m',
 'avausdt_kline_1m',
 'sklusdt_kline_1m',
 'grtusdt_kline_1m',
 'juvusdt_kline_1m',
 'psgusdt_kline_1m',
 'ogusdt_kline_1m',
 'asrusdt_kline_1m',
 'rifusdt_kline_1m',
 'truusdt_kline_1m',
 'ckbusdt_kline_1m',
 'twtusdt_kline_1m',
 'linausdt_kline_1m',
 'cfxusdt_kline_1m',
 'forthusdt_kline_1m',
 'ampusdt_kline_1m',
 'bakeusdt_kline_1m',
 'shibusdt_kline_1m',
 'arusdt_kline_1m',
 'lptusdt_kline_1m',
 'gtcusdt_kline_1m',
 'ernusdt_kline_1m',
 'clvusdt_kline_1m',
 'tvkusdt_kline_1m',
 'rayusdt_kline_1m',
 'mboxusdt_kline_1m',
 'waxpusdt_kline_1m',
 'vidtusdt_kline_1m',
 'dfusdt_kline_1m',
 'fidausdt_kline_1m',
 'mkrusdt_kline_1m',
 'storjusdt_kline_1m',
 'bnbupusdt_kline_1m',
 'bnbdownusdt_kline_1m',
 'blzusdt_kline_1m',
 'sandusdt_kline_1m',
 'oceanusdt_kline_1m',
 'alcxusdt_kline_1m',
 'dotusdt_kline_1m',
 'trbusdt_kline_1m',
 'sushiusdt_kline_1m',
 'filusdt_kline_1m',
 'unfiusdt_kline_1m',
 'litusdt_kline_1m',
 'badgerusdt_kline_1m',
 'omusdt_kline_1m',
 'tkousdt_kline_1m',
 'barusdt_kline_1m',
 'slpusdt_kline_1m',
 'polsusdt_kline_1m',
 'maskusdt_kline_1m',
 'qntusdt_kline_1m',
 'alpacausdt_kline_1m',
 'requsdt_kline_1m',
 'xecusdt_kline_1m',
 'elfusdt_kline_1m',
 'dydxusdt_kline_1m',
 'galausdt_kline_1m',
 'agldusdt_kline_1m',
 'fxsusdt_kline_1m',
 'betausdt_kline_1m',
 'yfiusdt_kline_1m',
 'balusdt_kline_1m',
 'kmdusdt_kline_1m',
 'crvusdt_kline_1m',
 'umausdt_kline_1m',
 'flmusdt_kline_1m',
 'alphausdt_kline_1m',
 'audiousdt_kline_1m',
 'axsusdt_kline_1m',
 'hardusdt_kline_1m',
 'xemusdt_kline_1m',
 't_1inchusdt_kline_1m',
 'atmusdt_kline_1m',
 'cakeusdt_kline_1m',
 'aliceusdt_kline_1m',
 'perpusdt_kline_1m',
 'superusdt_kline_1m',
 'pundixusdt_kline_1m',
 'tlmusdt_kline_1m',
 'icpusdt_kline_1m',
 'voxelusdt_kline_1m',
 'mdxusdt_kline_1m',
 'xvgusdt_kline_1m',
 'atausdt_kline_1m',
 'phausdt_kline_1m',
 'bondusdt_kline_1m',
 'mlnusdt_kline_1m',
 'minausdt_kline_1m',
 'farmusdt_kline_1m',
 'quickusdt_kline_1m',
 'forusdt_kline_1m',
 'ghstusdt_kline_1m',
 'usdpusdt_kline_1m',
 'ilvusdt_kline_1m',
 'sysusdt_kline_1m',
 'radusdt_kline_1m',
 'dcrusdt_kline_1m',
 'manausdt_kline_1m',
 'irisusdt_kline_1m',
 'antusdt_kline_1m',
 'lunausdt_kline_1m',
 'rsrusdt_kline_1m',
 'ookiusdt_kline_1m',
 'wnxmusdt_kline_1m',
 'egldusdt_kline_1m',
 'runeusdt_kline_1m',
 'fiousdt_kline_1m',
 'uniusdt_kline_1m',
 'avaxusdt_kline_1m',
 'injusdt_kline_1m',
 'firousdt_kline_1m',
 'ctkusdt_kline_1m',
 'straxusdt_kline_1m',
 'reefusdt_kline_1m',
 'celousdt_kline_1m',
 'sfpusdt_kline_1m',
 'dodousdt_kline_1m',
 'burgerusdt_kline_1m',
 'acmusdt_kline_1m',
 'fisusdt_kline_1m',
 'pondusdt_kline_1m',
 'degousdt_kline_1m',
 'klayusdt_kline_1m',
 'dexeusdt_kline_1m',
 'yggusdt_kline_1m',
 'c98usdt_kline_1m',
 'flowusdt_kline_1m',
 'gnousdt_kline_1m',
 'idexusdt_kline_1m',
 'frontusdt_kline_1m',
 'cvpusdt_kline_1m',
 'highusdt_kline_1m',
 'rareusdt_kline_1m',
 'auctionusdt_kline_1m',
 'bnxusdt_kline_1m',
 'santosusdt_kline_1m',
 'spellusdt_kline_1m',
 'darusdt_kline_1m',
 'mcusdt_kline_1m',
 'portousdt_kline_1m',
 'vgxusdt_kline_1m',
 'plausdt_kline_1m',
 'rndrusdt_kline_1m',
 'fluxusdt_kline_1m',
 'cvxusdt_kline_1m',
 'pyrusdt_kline_1m',
 'laziousdt_kline_1m',
 'movrusdt_kline_1m',
 'cityusdt_kline_1m',
 'powrusdt_kline_1m',
 'bicousdt_kline_1m',
 'peopleusdt_kline_1m',
 'multiusdt_kline_1m',
 'joeusdt_kline_1m',
 'acausdt_kline_1m',
 'kdausdt_kline_1m',
 'bifiusdt_kline_1m',
 'nexousdt_kline_1m',
 'reiusdt_kline_1m',
 'uftusdt_kline_1m',
 'galusdt_kline_1m',
 'opusdt_kline_1m',
 'magicusdt_kline_1m',
 'hifiusdt_kline_1m',
 'loomusdt_kline_1m',
 'oaxusdt_kline_1m',
 'arkmusdt_kline_1m',
 'suiusdt_kline_1m',
 'aergousdt_kline_1m',
 'pepeusdt_kline_1m',
 'sntusdt_kline_1m',
 'wbethusdt_kline_1m',
 'glmrusdt_kline_1m',
 'agixusdt_kline_1m',
 'steemusdt_kline_1m',
 'gmxusdt_kline_1m',
 'polyxusdt_kline_1m',
 'phbusdt_kline_1m',
 'gnsusdt_kline_1m',
 'lqtyusdt_kline_1m',
 'astusdt_kline_1m',
 'gasusdt_kline_1m',
 'arbusdt_kline_1m',
 'wbtcusdt_kline_1m',
 'eduusdt_kline_1m',
 'arkusdt_kline_1m',
 'iqusdt_kline_1m',
 'bttcusdt_kline_1m',
 'achusdt_kline_1m',
 'imxusdt_kline_1m',
 'lokausdt_kline_1m',
 'api3usdt_kline_1m',
 'xnousdt_kline_1m',
 'woousdt_kline_1m',
 'leverusdt_kline_1m',
 'tusdt_kline_1m',
 'astrusdt_kline_1m',
 'apeusdt_kline_1m',
 'bswusdt_kline_1m',
 'aptusdt_kline_1m',
 'hftusdt_kline_1m',
 'glmusdt_kline_1m',
 'hookusdt_kline_1m',
 'rplusdt_kline_1m',
 'vibusdt_kline_1m',
 'bethusdt_kline_1m',
 'promusdt_kline_1m',
 'qkcusdt_kline_1m',
 'cyberusdt_kline_1m',
 'rdntusdt_kline_1m',
 'flokiusdt_kline_1m',
 'mavusdt_kline_1m',
 'pendleusdt_kline_1m',
 'gftusdt_kline_1m',
 'scrtusdt_kline_1m',
 'epxusdt_kline_1m',
 'alpineusdt_kline_1m',
 'gmtusdt_kline_1m',
 'mobusdt_kline_1m',
 'ldousdt_kline_1m',
 'stgusdt_kline_1m',
 'luncusdt_kline_1m',
 'ambusdt_kline_1m',
 'osmousdt_kline_1m',
 'prosusdt_kline_1m',
 'synusdt_kline_1m',
 'ssvusdt_kline_1m',
 'ustcusdt_kline_1m',
 'idusdt_kline_1m',
 'creamusdt_kline_1m',
 'combousdt_kline_1m',
 'wldusdt_kline_1m',
 'fdusdusdt_kline_1m',
 'seiusdt_kline_1m']

In [8]:
table_counts = db.get_table_counts()

In [9]:
ser = pd.Series(table_counts)
ser.sort_values(ascending=False, inplace=True)

In [10]:
table = ser.index[0]
table

'multiusdt_kline_1m'

In [11]:
db.get_columns(table_name=table)

['time',
 'close_timestamp',
 'first_trade_id',
 'last_trade_id',
 'open',
 'close',
 'high',
 'low',
 'volume',
 'trades',
 'quote_volume',
 'taker_buy_base_volume',
 'taker_buy_quote_volume']

In [12]:
symbol = table.split("_")[0]
tick_interval = table.split("_")[-1]

In [13]:
sym = binpan.Symbol(symbol=symbol,
                    tick_interval="1m",
                    time_zone='Europe/Madrid',
                    hours=8766,
                    postgres_klines="192.168.89.242")

2023-10-10	 16:24:39     INFO Postgres connection requested as str: 192.168.89.242
2023-10-10	 16:24:39     INFO Getting data from table multiusdt_kline_1m from 2022-10-10 10:24:39 to 2023-10-10 16:23:58
2023-10-10	 16:24:51  WARNING BinPan Warning: Dataframe has gaps in klines continuity:
                                      Open timestamp                  Close timestamp             Gap length
MULTIUSDT 1m Europe/Madrid
2022-10-11 02:14:00+02:00  2022-10-11 02:14:00+02:00 2022-10-11 02:14:59.999000+02:00 0 days 00:00:59.999000
2022-10-11 18:54:00+02:00  2022-10-11 18:54:00+02:00 2022-10-11 18:54:59.999000+02:00 0 days 00:00:59.999000
2022-10-12 11:34:00+02:00  2022-10-12 11:34:00+02:00 2022-10-12 11:34:59.999000+02:00 0 days 00:00:59.999000
2022-10-13 04:14:00+02:00  2022-10-13 04:14:00+02:00 2022-10-13 04:14:59.999000+02:00 0 days 00:00:59.999000
2022-10-13 20:54:00+02:00  2022-10-13 20:54:00+02:00 2022-10-13 20:54:59.999000+02:00 0 days 00:00:59.999000
...                                              ...                              ...                    ...
2023-10-09 23:34:00+02:00  2023-10-09 23:34:00+02:00 2023-10-09 23:34:59.999000+02:00 0 days 00:00:59.999000
2023-10-10 16:03:00+02:00  2023-10-10 16:03:00+02:00 2023-10-10 16:03:59.999000+02:00 0 days 00:00:59.999000
2023-10-10 16:09:00+02:00  2023-10-10 16:09:00+02:00 2023-10-10 16:09:59.999000+02:00 0 days 00:00:59.999000
2023-10-10 16:14:00+02:00  2023-10-10 16:14:00+02:00 2023-10-10 16:14:59.999000+02:00 0 days 00:00:59.999000
2023-10-10 16:21:00+02:00  2023-10-10 16:21:00+02:00 2023-10-10 16:21:59.999000+02:00 0 days 00:00:59.999000

[530 rows x 3 columns]
2023-10-10	 16:24:51  WARNING
Timestamp discontinuities detected:
DatetimeIndex(['2022-10-11 02:14:00+02:00', '2022-10-11 18:54:00+02:00', '2022-10-12 11:34:00+02:00', '2022-10-13 04:14:00+02:00', '2022-10-13 20:54:00+02:00', '2022-10-14 13:34:00+02:00', '2022-10-15 06:14:00+02:00', '2022-10-15 22:54:00+02:00', '2022-10-16 15:34:00+02:00', '2022-10-17 08:14:00+02:00',
               ...
               '2023-10-06 12:14:00+02:00', '2023-10-07 04:54:00+02:00', '2023-10-07 21:34:00+02:00', '2023-10-08 14:14:00+02:00', '2023-10-09 06:54:00+02:00', '2023-10-09 23:34:00+02:00', '2023-10-10 16:03:00+02:00', '2023-10-10 16:09:00+02:00', '2023-10-10 16:14:00+02:00', '2023-10-10 16:21:00+02:00'],
              dtype='datetime64[ns, Europe/Madrid]', name='MULTIUSDT 1m Europe/Madrid', length=530, freq=None)

In [16]:
sym.discontinuities

                                      Open timestamp                  Close timestamp             Gap length
MULTIUSDT 1m Europe/Madrid
2022-10-11 02:14:00+02:00  2022-10-11 02:14:00+02:00 2022-10-11 02:14:59.999000+02:00 0 days 00:00:59.999000
2022-10-11 18:54:00+02:00  2022-10-11 18:54:00+02:00 2022-10-11 18:54:59.999000+02:00 0 days 00:00:59.999000
2022-10-12 11:34:00+02:00  2022-10-12 11:34:00+02:00 2022-10-12 11:34:59.999000+02:00 0 days 00:00:59.999000
2022-10-13 04:14:00+02:00  2022-10-13 04:14:00+02:00 2022-10-13 04:14:59.999000+02:00 0 days 00:00:59.999000
2022-10-13 20:54:00+02:00  2022-10-13 20:54:00+02:00 2022-10-13 20:54:59.999000+02:00 0 days 00:00:59.999000
...                                              ...                              ...                    ...
2023-10-09 23:34:00+02:00  2023-10-09 23:34:00+02:00 2023-10-09 23:34:59.999000+02:00 0 days 00:00:59.999000
2023-10-10 16:03:00+02:00  2023-10-10 16:03:00+02:00 2023-10-10 16:03:59.999000+02:00 0 days 00:00:59.999000
2023-10-10 16:09:00+02:00  2023-10-10 16:09:00+02:00 2023-10-10 16:09:59.999000+02:00 0 days 00:00:59.999000
2023-10-10 16:14:00+02:00  2023-10-10 16:14:00+02:00 2023-10-10 16:14:59.999000+02:00 0 days 00:00:59.999000
2023-10-10 16:21:00+02:00  2023-10-10 16:21:00+02:00 2023-10-10 16:21:59.999000+02:00 0 days 00:00:59.999000

[530 rows x 3 columns]

In [17]:
df = sym.df
df

                                           Open time   Open   High    Low  Close    Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Open timestamp  Close timestamp  First TradeId  Last TradeId
MULTIUSDT 1m Europe/Madrid
2022-10-10 10:25:00+02:00  2022-10-10 10:25:00+02:00  3.800  3.800  3.790  3.790   467.476 2022-10-10 10:25:59.999000+02:00   1774.899420      15                 83.359              316.764200   1665390300000    1665390359999            NaN           NaN
2022-10-10 10:26:00+02:00  2022-10-10 10:26:00+02:00  3.790  3.790  3.790  3.790     0.000 2022-10-10 10:26:59.999000+02:00      0.000000       0                  0.000                0.000000   1665390360000    1665390419999            NaN           NaN
2022-10-10 10:27:00+02:00  2022-10-10 10:27:00+02:00  3.790  3.790  3.790  3.790     9.414 2022-10-10 10:27:59.999000+02:00     35.679060       2                  0.000                0.000000   1665390420000    1665390479999            NaN           NaN
2022-10-10 10:28:00+02:00  2022-10-10 10:28:00+02:00  3.790  3.790  3.780  3.790   297.049 2022-10-10 10:28:59.999000+02:00   1125.642500      15                  0.000                0.000000   1665390480000    1665390539999            NaN           NaN
2022-10-10 10:29:00+02:00  2022-10-10 10:29:00+02:00  3.800  3.800  3.800  3.800    26.315 2022-10-10 10:29:59.999000+02:00     99.997000       1                 26.315               99.997000   1665390540000    1665390599999            NaN           NaN
...                                              ...    ...    ...    ...    ...       ...                              ...           ...     ...                    ...                     ...             ...              ...            ...           ...
2023-10-10 16:18:00+02:00  2023-10-10 16:18:00+02:00  2.248  2.250  2.246  2.247  1200.294 2023-10-10 16:18:59.999000+02:00   2697.506650      26                332.826              748.245465   1696947480000    1696947539999     10187006.0    10187031.0
2023-10-10 16:19:00+02:00  2023-10-10 16:19:00+02:00  2.248  2.248  2.246  2.248   496.098 2023-10-10 16:19:59.999000+02:00   1114.968263      11                331.527              745.240553   1696947540000    1696947599999     10187032.0    10187042.0
2023-10-10 16:21:00+02:00  2023-10-10 16:21:00+02:00  2.250  2.251  2.248  2.248  1046.020 2023-10-10 16:21:59.999000+02:00   2353.492601      15                777.548             1749.646946   1696947660000    1696947719999     10187059.0    10187073.0
2023-10-10 16:22:00+02:00  2023-10-10 16:22:00+02:00  2.248  2.248  2.247  2.247   187.506 2023-10-10 16:22:59.999000+02:00    421.409983       3                  0.000                0.000000   1696947720000    1696947779999     10187074.0    10187076.0
2023-10-10 16:23:00+02:00  2023-10-10 16:23:00+02:00  2.247  2.253  2.247  2.249   598.466 2023-10-10 16:23:59.999000+02:00   1346.929589      11                539.029             1213.255776   1696947780000    1696947839999     10187077.0    10187087.0

[525347 rows x 15 columns]

In [19]:
sym.resample(tick_interval="30m")

                                            Open time   Open   High    Low  Close     Volume                       Close time   Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Open timestamp  Close timestamp
MULTIUSDT 30m Europe/Madrid
2022-10-10 10:00:00+02:00   2022-10-10 10:25:00+02:00  3.800  3.800  3.780  3.800    800.254 2022-10-10 10:29:59.999000+02:00    3036.217980      33                109.674              416.761200    1.665390e+12     1.665391e+12
2022-10-10 10:30:00+02:00   2022-10-10 10:30:00+02:00  3.800  3.800  3.770  3.790   2400.592 2022-10-10 10:59:59.999000+02:00    9079.307800      69                753.970             2852.441120    1.665391e+12     1.665392e+12
2022-10-10 11:00:00+02:00   2022-10-10 11:00:00+02:00  3.790  3.810  3.790  3.800    485.602 2022-10-10 11:29:59.999000+02:00    1844.568220      36                350.089             1329.694260    1.665392e+12     1.665394e+12
2022-10-10 11:30:00+02:00   2022-10-10 11:30:00+02:00  3.800  3.830  3.790  3.820   3295.821 2022-10-10 11:59:59.999000+02:00   12521.179510      53                449.190             1711.595980    1.665394e+12     1.665396e+12
2022-10-10 12:00:00+02:00   2022-10-10 12:00:00+02:00  3.820  3.820  3.800  3.810    426.314 2022-10-10 12:29:59.999000+02:00    1624.051830      25                101.144              385.714500    1.665396e+12     1.665398e+12
...                                               ...    ...    ...    ...    ...        ...                              ...            ...     ...                    ...                     ...             ...              ...
2023-10-10 14:00:00+02:00   2023-10-10 14:00:00+02:00  2.257  2.264  2.230  2.249  48417.650 2023-10-10 14:29:59.999000+02:00  108880.759681     939              21654.684            48691.337783    1.696939e+12     1.696941e+12
2023-10-10 14:30:00+02:00   2023-10-10 14:30:00+02:00  2.249  2.255  2.228  2.242  26909.202 2023-10-10 14:59:59.999000+02:00   60295.805400     569              10601.371            23767.672896    1.696941e+12     1.696943e+12
2023-10-10 15:00:00+02:00   2023-10-10 15:00:00+02:00  2.243  2.250  2.227  2.235  37243.173 2023-10-10 15:29:59.999000+02:00   83300.653173     657              16520.998            37000.684945    1.696943e+12     1.696945e+12
2023-10-10 15:30:00+02:00   2023-10-10 15:30:00+02:00  2.235  2.246  2.222  2.234  25990.836 2023-10-10 15:59:59.999000+02:00   57983.196446     434               9658.938            21576.041398    1.696945e+12     1.696946e+12
2023-10-10 16:00:00+02:00   2023-10-10 16:00:00+02:00  2.233  2.254  2.232  2.249  15941.386 2023-10-10 16:23:59.999000+02:00   35792.384559     277               8417.712            18910.159815    1.696946e+12     1.696948e+12

[17533 rows x 13 columns]