In [1]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
from binpan import binpan
import redis
from handlers import redis_fetch
from random import choice

In [3]:
binpan.__version__

'Developing'

In [4]:
redis_client = binpan.redis_client(ip='192.168.89.241')

In [5]:
keys = redis_fetch.fetch_keys(redisClient=redis_client)

In [6]:
keys = list(keys)
keys[:15]

['batusdt@kline_1m',
 'btsusdt@kline_5m',
 'funusdt@kline_5m',
 'databusd@kline_5m',
 'luncbusd@kline_5m',
 'axsusdt@kline_1m',
 'cakeusdt@kline_5m',
 'batbusd@kline_5m',
 'xnousdt@kline_1m',
 'galabusd@kline_1m',
 'woousdt@kline_1m',
 'phabusd@kline_1m',
 'requsdt@kline_1m',
 'apebusd@kline_5m',
 'idexbusd@kline_1m']

In [7]:
mykey = choice(keys)
mykey

'sunusdt@kline_1m'

In [8]:
response = redis_fetch.fetch_zset_range(redisClient=redis_client, key=mykey)
response[-15:]

['{"t": 1658477460000, "o": "0.00605000", "h": "0.00606000", "l": "0.00604000", "c": "0.00604000", "v": "305338.00000000", "T": 1658477519999, "q": "1847.30115000", "n": 7, "V": "190487.00000000", "Q": "1153.60111000", "B": "0"}',
 '{"t": 1658477520000, "o": "0.00604000", "h": "0.00606000", "l": "0.00604000", "c": "0.00604000", "v": "1998975.00000000", "T": 1658477579999, "q": "12093.36748000", "n": 26, "V": "1191209.00000000", "Q": "7211.96090000", "B": "0"}',
 '{"t": 1658477580000, "o": "0.00605000", "h": "0.00606000", "l": "0.00605000", "c": "0.00605000", "v": "500962.00000000", "T": 1658477639999, "q": "3032.50913000", "n": 8, "V": "336657.00000000", "Q": "2038.46388000", "B": "0"}',
 '{"t": 1658477640000, "o": "0.00607000", "h": "0.00607000", "l": "0.00606000", "c": "0.00606000", "v": "588710.00000000", "T": 1658477699999, "q": "3570.53865000", "n": 9, "V": "295605.00000000", "Q": "1794.32235000", "B": "0"}',
 '{"t": 1658477700000, "o": "0.00606000", "h": "0.00606000", "l": "0.00606000", "c": "0.00606000", "v": "0.00000000", "T": 1658477759999, "q": "0.00000000", "n": 0, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1658477760000, "o": "0.00607000", "h": "0.00607000", "l": "0.00607000", "c": "0.00607000", "v": "154000.00000000", "T": 1658477819999, "q": "934.78000000", "n": 2, "V": "154000.00000000", "Q": "934.78000000", "B": "0"}',
 '{"t": 1658477820000, "o": "0.00607000", "h": "0.00608000", "l": "0.00607000", "c": "0.00607000", "v": "1080768.00000000", "T": 1658477879999, "q": "6567.39168000", "n": 21, "V": "787992.00000000", "Q": "4790.24136000", "B": "0"}',
 '{"t": 1658477880000, "o": "0.00607000", "h": "0.00608000", "l": "0.00607000", "c": "0.00608000", "v": "75484.00000000", "T": 1658477939999, "q": "458.24544000", "n": 3, "V": "5756.00000000", "Q": "34.99648000", "B": "0"}',
 '{"t": 1658477940000, "o": "0.00608000", "h": "0.00609000", "l": "0.00608000", "c": "0.00609000", "v": "46946.00000000", "T": 1658477999999, "q": "285.68917000", "n": 2, "V": "46946.00000000", "Q": "285.68917000", "B": "0"}',
 '{"t": 1658478000000, "o": "0.00609000", "h": "0.00609000", "l": "0.00609000", "c": "0.00609000", "v": "3407.00000000", "T": 1658478059999, "q": "20.74863000", "n": 2, "V": "3407.00000000", "Q": "20.74863000", "B": "0"}',
 '{"t": 1658478060000, "o": "0.00608000", "h": "0.00608000", "l": "0.00608000", "c": "0.00608000", "v": "10568.00000000", "T": 1658478119999, "q": "64.25344000", "n": 2, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1658478120000, "o": "0.00608000", "h": "0.00608000", "l": "0.00608000", "c": "0.00608000", "v": "7193.00000000", "T": 1658478179999, "q": "43.73344000", "n": 2, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1658478180000, "o": "0.00609000", "h": "0.00609000", "l": "0.00608000", "c": "0.00608000", "v": "194172.00000000", "T": 1658478239999, "q": "1181.05748000", "n": 3, "V": "49172.00000000", "Q": "299.45748000", "B": "0"}',
 '{"t": 1658478240000, "o": "0.00609000", "h": "0.00609000", "l": "0.00609000", "c": "0.00609000", "v": "20773.00000000", "T": 1658478299999, "q": "126.50757000", "n": 1, "V": "20773.00000000", "Q": "126.50757000", "B": "0"}',
 '{"t": 1658478300000, "o": "0.00609000", "h": "0.00609000", "l": "0.00609000", "c": "0.00609000", "v": "2569.00000000", "T": 1658478359999, "q": "15.64521000", "n": 1, "V": "2569.00000000", "Q": "15.64521000", "B": "0"}']

In [9]:
%timeit redis_fetch.fetch_zset_range(redisClient=redis_client, key=mykey)

21.2 ms ± 1.62 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [10]:
data = redis_fetch.fetch_set_and_parse(redisClient=redis_client, key=mykey)
data

                                            Open time     Open     High      Low    Close   Volume                  Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
SUNUSDT 1m UTC
2022-07-17 18:26:00+00:00  2022-07-17 18:26:00.000000  0.00576  0.00576  0.00575  0.00575  1228824  2022-07-17 18:26:59.999000    7072.09665      14                 428936              2466.38200       0   1658082360000    1658082419999
2022-07-17 18:27:00+00:00  2022-07-17 18:27:00.000000  0.00575  0.00575  0.00575  0.00575        0  2022-07-17 18:27:59.999000       0.00000       0                      0                 0.00000       0   1658082420000    1658082479999
2022-07-17 18:28:00+00:00  2022-07-17 18:28:00.000000  0.00575  0.00575  0.00575  0.00575        0  2022-07-17 18:28:59.999000       0.00000       0                      0                 0.00000       0   1658082480000    1658082539999
2022-07-17 18:29:00+00:00  2022-07-17 18:29:00.000000  0.00575  0.00575  0.00575  0.00575        0  2022-07-17 18:29:59.999000       0.00000       0                      0                 0.00000       0   1658082540000    1658082599999
2022-07-17 18:30:00+00:00  2022-07-17 18:30:00.000000  0.00575  0.00575  0.00575  0.00575        0  2022-07-17 18:30:59.999000       0.00000       0                      0                 0.00000       0   1658082600000    1658082659999
...                                               ...      ...      ...      ...      ...      ...                         ...           ...     ...                    ...                     ...     ...             ...              ...
2022-07-22 08:21:00+00:00  2022-07-22 08:21:00.000000  0.00608  0.00608  0.00608  0.00608    10568  2022-07-22 08:21:59.999000      64.25344       2                      0                 0.00000       0   1658478060000    1658478119999
2022-07-22 08:22:00+00:00  2022-07-22 08:22:00.000000  0.00608  0.00608  0.00608  0.00608     7193  2022-07-22 08:22:59.999000      43.73344       2                      0                 0.00000       0   1658478120000    1658478179999
2022-07-22 08:23:00+00:00  2022-07-22 08:23:00.000000  0.00609  0.00609  0.00608  0.00608   194172  2022-07-22 08:23:59.999000    1181.05748       3                  49172               299.45748       0   1658478180000    1658478239999
2022-07-22 08:24:00+00:00  2022-07-22 08:24:00.000000  0.00609  0.00609  0.00609  0.00609    20773  2022-07-22 08:24:59.999000     126.50757       1                  20773               126.50757       0   1658478240000    1658478299999
2022-07-22 08:25:00+00:00  2022-07-22 08:25:00.000000  0.00609  0.00609  0.00609  0.00609     2569  2022-07-22 08:25:59.999000      15.64521       1                   2569                15.64521       0   1658478300000    1658478359999

[6600 rows x 14 columns]

In [11]:
%%timeit
data = redis_fetch.fetch_set_and_parse(redisClient=redis_client, key=mykey)

190 ms ± 1.08 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)