In [1]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
from binpan import binpan
import redis
from handlers import redis_fetch

In [3]:
binpan.__version__

'0.0.43'

In [4]:
redis_client = binpan.redis_client(ip='127.0.0.1')

In [13]:
keys = redis_fetch.fetch_keys(redisClient=redis_client)
keys[:15]

['polsusdt@kline_5m',
 'nulsusdt@kline_1m',
 'lrcbusd@kline_1m',
 'tusdt@kline_1m',
 'qiusdt@kline_5m',
 'dogeusdt@kline_5m',
 'icxbusd@kline_1m',
 'autousdt@kline_5m',
 'xemusdt@kline_5m',
 'acabusd@kline_5m',
 'vidtbusd@kline_1m',
 'arbusd@kline_5m',
 'mlnbusd@kline_1m',
 'zecusdt@kline_1m',
 'litusdt@kline_5m']

In [14]:
keys = list(keys)
keys[:15]

['polsusdt@kline_5m',
 'nulsusdt@kline_1m',
 'lrcbusd@kline_1m',
 'tusdt@kline_1m',
 'qiusdt@kline_5m',
 'dogeusdt@kline_5m',
 'icxbusd@kline_1m',
 'autousdt@kline_5m',
 'xemusdt@kline_5m',
 'acabusd@kline_5m',
 'vidtbusd@kline_1m',
 'arbusd@kline_5m',
 'mlnbusd@kline_1m',
 'zecusdt@kline_1m',
 'litusdt@kline_5m']

In [15]:
mykey = keys[0]

In [18]:
response = redis_fetch.fetch_zset_range(redisClient=redis_client, key=mykey)
response[-15:]

['{"t": 1658049600000, "o": "0.55700000", "h": "0.55700000", "l": "0.55300000", "c": "0.55300000", "v": "10606.00000000", "T": 1658049899999, "q": "5885.17540000", "n": 20, "V": "989.20000000", "Q": "550.88260000", "B": "0"}',
 '{"t": 1658049900000, "o": "0.55200000", "h": "0.55300000", "l": "0.55100000", "c": "0.55200000", "v": "8000.00000000", "T": 1658050199999, "q": "4413.89640000", "n": 33, "V": "2264.50000000", "Q": "1249.91320000", "B": "0"}',
 '{"t": 1658050200000, "o": "0.55200000", "h": "0.55300000", "l": "0.55100000", "c": "0.55100000", "v": "5632.90000000", "T": 1658050499999, "q": "3106.13910000", "n": 23, "V": "2060.80000000", "Q": "1137.91200000", "B": "0"}',
 '{"t": 1658050500000, "o": "0.55100000", "h": "0.55300000", "l": "0.55100000", "c": "0.55300000", "v": "4489.90000000", "T": 1658050799999, "q": "2482.04390000", "n": 16, "V": "3467.60000000", "Q": "1917.58280000", "B": "0"}',
 '{"t": 1658050800000, "o": "0.55400000", "h": "0.55400000", "l": "0.55200000", "c": "0.55200000", "v": "3144.30000000", "T": 1658051099999, "q": "1739.76640000", "n": 11, "V": "1999.70000000", "Q": "1107.47220000", "B": "0"}',
 '{"t": 1658051100000, "o": "0.55400000", "h": "0.55400000", "l": "0.55200000", "c": "0.55300000", "v": "8779.90000000", "T": 1658051399999, "q": "4855.29770000", "n": 20, "V": "2318.60000000", "Q": "1283.74380000", "B": "0"}',
 '{"t": 1658051400000, "o": "0.55400000", "h": "0.55400000", "l": "0.55300000", "c": "0.55300000", "v": "1095.20000000", "T": 1658051699999, "q": "606.12060000", "n": 4, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1658051700000, "o": "0.55300000", "h": "0.55300000", "l": "0.55300000", "c": "0.55300000", "v": "191.20000000", "T": 1658051999999, "q": "105.73360000", "n": 1, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1658052000000, "o": "0.55300000", "h": "0.55300000", "l": "0.55300000", "c": "0.55300000", "v": "1126.30000000", "T": 1658052299999, "q": "622.84390000", "n": 5, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1658052300000, "o": "0.55300000", "h": "0.55500000", "l": "0.55000000", "c": "0.55000000", "v": "20175.10000000", "T": 1658052599999, "q": "11124.06980000", "n": 52, "V": "4745.20000000", "Q": "2625.14200000", "B": "0"}',
 '{"t": 1658052600000, "o": "0.55000000", "h": "0.55100000", "l": "0.54900000", "c": "0.54900000", "v": "7461.60000000", "T": 1658052899999, "q": "4100.73350000", "n": 23, "V": "1871.90000000", "Q": "1029.74890000", "B": "0"}',
 '{"t": 1658052900000, "o": "0.54900000", "h": "0.54900000", "l": "0.54800000", "c": "0.54900000", "v": "12483.40000000", "T": 1658053199999, "q": "6849.55550000", "n": 30, "V": "2096.50000000", "Q": "1150.97850000", "B": "0"}',
 '{"t": 1658053200000, "o": "0.54900000", "h": "0.55000000", "l": "0.54800000", "c": "0.54900000", "v": "4630.70000000", "T": 1658053499999, "q": "2544.16890000", "n": 15, "V": "4444.20000000", "Q": "2441.96690000", "B": "0"}',
 '{"t": 1658053500000, "o": "0.54900000", "h": "0.54900000", "l": "0.54900000", "c": "0.54900000", "v": "2957.50000000", "T": 1658053799999, "q": "1623.66750000", "n": 9, "V": "0.00000000", "Q": "0.00000000", "B": "0"}',
 '{"t": 1658053800000, "o": "0.55000000", "h": "0.55000000", "l": "0.54900000", "c": "0.54900000", "v": "858.90000000", "T": 1658054099999, "q": "471.69490000", "n": 10, "V": "158.80000000", "Q": "87.34000000", "B": "0"}']

In [19]:
%timeit redis_fetch.fetch_zset_range(redisClient=redis_client, key=mykey)

6.57 ms ± 55.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [20]:
data = redis_fetch.fetch_set_and_parse(redisClient=redis_client, key=mykey)
data

                                            Open time   Open   High    Low  Close   Volume                  Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
POLSUSDT 5m UTC
2022-07-12 18:05:00+00:00  2022-07-12 18:05:00.000000  0.487  0.487  0.486  0.486   5648.6  2022-07-12 18:09:59.999000     2747.6076      12                  975.0                474.8250       0   1657649100000    1657649399999
2022-07-12 18:10:00+00:00  2022-07-12 18:10:00.000000  0.488  0.488  0.488  0.488     72.3  2022-07-12 18:14:59.999000       35.2824       1                   72.3                 35.2824       0   1657649400000    1657649699999
2022-07-12 18:15:00+00:00  2022-07-12 18:15:00.000000  0.488  0.488  0.488  0.488   1165.1  2022-07-12 18:19:59.999000      568.5688      22                 1165.1                568.5688       0   1657649700000    1657649999999
2022-07-12 18:20:00+00:00  2022-07-12 18:20:00.000000  0.488  0.488  0.488  0.488     39.6  2022-07-12 18:24:59.999000       19.3248       1                   39.6                 19.3248       0   1657650000000    1657650299999
2022-07-12 18:25:00+00:00  2022-07-12 18:25:00.000000  0.487  0.488  0.486  0.488   1205.8  2022-07-12 18:29:59.999000      587.2629       4                  204.9                 99.9912       0   1657650300000    1657650599999
...                                               ...    ...    ...    ...    ...      ...                         ...           ...     ...                    ...                     ...     ...             ...              ...
2022-07-17 10:10:00+00:00  2022-07-17 10:10:00.000000  0.550  0.551  0.549  0.549   7461.6  2022-07-17 10:14:59.999000     4100.7335      23                 1871.9               1029.7489       0   1658052600000    1658052899999
2022-07-17 10:15:00+00:00  2022-07-17 10:15:00.000000  0.549  0.549  0.548  0.549  12483.4  2022-07-17 10:19:59.999000     6849.5555      30                 2096.5               1150.9785       0   1658052900000    1658053199999
2022-07-17 10:20:00+00:00  2022-07-17 10:20:00.000000  0.549  0.550  0.548  0.549   4630.7  2022-07-17 10:24:59.999000     2544.1689      15                 4444.2               2441.9669       0   1658053200000    1658053499999
2022-07-17 10:25:00+00:00  2022-07-17 10:25:00.000000  0.549  0.549  0.549  0.549   2957.5  2022-07-17 10:29:59.999000     1623.6675       9                    0.0                  0.0000       0   1658053500000    1658053799999
2022-07-17 10:30:00+00:00  2022-07-17 10:30:00.000000  0.550  0.550  0.549  0.549    858.9  2022-07-17 10:34:59.999000      471.6949      10                  158.8                 87.3400       0   1658053800000    1658054099999

[1350 rows x 14 columns]

In [21]:
%%timeit
data = redis_fetch.fetch_set_and_parse(redisClient=redis_client, key=mykey)

48.2 ms ± 533 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)