In [1]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
!python -V

Python 3.7.9

In [3]:
import binpan

No API Key or API Secret

API key would be needed for personal API calls. Any other calls will work.

Adding:

binpan.handlers.files_filters.add_api_key("xxxx")
binpan.handlers.files_filters.add_api_secret("xxxx")

API keys will be added to a file called secret.py in an encrypted way. API keys in memory stay encrypted except in the API call instant.

In [4]:
btcusdt = binpan.Symbol(symbol='btcusdt',
                        tick_interval='1h',
                        time_zone='Europe/Madrid')

2022-07-04	 14:35:12  WARNING Fees cannot be requested without api key added. Add it with binpan.handlers.files_filters.add_api_key('xxxxxxxxxx')
2022-07-04	 14:35:12     INFO New instance of CandlesManager 0.0.10: BTCUSDT, 1h, limit=1000, start=None, end=None, Europe/Madrid, time_index=True, closed_candles=True

In [5]:
btcusdt.df

                                     Open time      Open      High       Low     Close      Volume           Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
BTCUSDT 1h Europe/Madrid
2022-05-23 23:00:00+02:00  2022-05-23 23:00:00  29345.88  29499.03  29286.77  29346.34  1690.24433  2022-05-23 23:59:59  4.967436e+07   39665              742.54869            2.182065e+07       0   1653339600000    1653343199999
2022-05-24 00:00:00+02:00  2022-05-24 00:00:00  29346.33  29346.34  29035.58  29211.24  4062.98069  2022-05-24 00:59:59  1.185382e+08   54055             1859.89481            5.426609e+07       0   1653343200000    1653346799999
2022-05-24 01:00:00+02:00  2022-05-24 01:00:00  29211.24  29211.25  28866.35  29109.15  4022.61348  2022-05-24 01:59:59  1.169131e+08   59205             1698.81187            4.941351e+07       0   1653346800000    1653350399999
2022-05-24 02:00:00+02:00  2022-05-24 02:00:00  29109.14  29257.39  29056.70  29147.93  2120.99891  2022-05-24 02:59:59  6.191039e+07   41847             1157.82888            3.379184e+07       0   1653350400000    1653353999999
2022-05-24 03:00:00+02:00  2022-05-24 03:00:00  29147.93  29243.17  29106.26  29224.82  1192.06029  2022-05-24 03:59:59  3.477356e+07   35847              630.65244            1.839584e+07       0   1653354000000    1653357599999
...                                        ...       ...       ...       ...       ...         ...                  ...           ...     ...                    ...                     ...     ...             ...              ...
2022-07-04 09:00:00+02:00  2022-07-04 09:00:00  19101.43  19140.54  19084.29  19120.60  1461.55337  2022-07-04 09:59:59  2.793403e+07   25127              711.34528            1.359467e+07       0   1656918000000    1656921599999
2022-07-04 10:00:00+02:00  2022-07-04 10:00:00  19120.60  19174.15  19110.04  19147.25  1260.26650  2022-07-04 10:59:59  2.413039e+07   31762              624.98442            1.196563e+07       0   1656921600000    1656925199999
2022-07-04 11:00:00+02:00  2022-07-04 11:00:00  19147.25  19445.48  19140.19  19367.05  4510.71372  2022-07-04 11:59:59  8.707607e+07   72593             2469.36795            4.766957e+07       0   1656925200000    1656928799999
2022-07-04 12:00:00+02:00  2022-07-04 12:00:00  19367.06  19554.97  19367.05  19470.65  4752.88148  2022-07-04 12:59:59  9.253502e+07   68829             2271.40909            4.421817e+07       0   1656928800000    1656932399999
2022-07-04 13:00:00+02:00  2022-07-04 13:00:00  19470.64  19855.70  19463.63  19806.49  6575.38314  2022-07-04 13:59:59  1.291441e+08   91650             3597.08295            7.065329e+07       0   1656932400000    1656935999999

[999 rows x 14 columns]

In [6]:
btcusdt.sma(21)
btcusdt.df

                                     Open time      Open      High       Low     Close      Volume           Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp        SMA_21
BTCUSDT 1h Europe/Madrid
2022-05-23 23:00:00+02:00  2022-05-23 23:00:00  29345.88  29499.03  29286.77  29346.34  1690.24433  2022-05-23 23:59:59  4.967436e+07   39665              742.54869            2.182065e+07       0   1653339600000    1653343199999           NaN
2022-05-24 00:00:00+02:00  2022-05-24 00:00:00  29346.33  29346.34  29035.58  29211.24  4062.98069  2022-05-24 00:59:59  1.185382e+08   54055             1859.89481            5.426609e+07       0   1653343200000    1653346799999           NaN
2022-05-24 01:00:00+02:00  2022-05-24 01:00:00  29211.24  29211.25  28866.35  29109.15  4022.61348  2022-05-24 01:59:59  1.169131e+08   59205             1698.81187            4.941351e+07       0   1653346800000    1653350399999           NaN
2022-05-24 02:00:00+02:00  2022-05-24 02:00:00  29109.14  29257.39  29056.70  29147.93  2120.99891  2022-05-24 02:59:59  6.191039e+07   41847             1157.82888            3.379184e+07       0   1653350400000    1653353999999           NaN
2022-05-24 03:00:00+02:00  2022-05-24 03:00:00  29147.93  29243.17  29106.26  29224.82  1192.06029  2022-05-24 03:59:59  3.477356e+07   35847              630.65244            1.839584e+07       0   1653354000000    1653357599999           NaN
...                                        ...       ...       ...       ...       ...         ...                  ...           ...     ...                    ...                     ...     ...             ...              ...           ...
2022-07-04 09:00:00+02:00  2022-07-04 09:00:00  19101.43  19140.54  19084.29  19120.60  1461.55337  2022-07-04 09:59:59  2.793403e+07   25127              711.34528            1.359467e+07       0   1656918000000    1656921599999  19184.892857
2022-07-04 10:00:00+02:00  2022-07-04 10:00:00  19120.60  19174.15  19110.04  19147.25  1260.26650  2022-07-04 10:59:59  2.413039e+07   31762              624.98442            1.196563e+07       0   1656921600000    1656925199999  19187.628571
2022-07-04 11:00:00+02:00  2022-07-04 11:00:00  19147.25  19445.48  19140.19  19367.05  4510.71372  2022-07-04 11:59:59  8.707607e+07   72593             2469.36795            4.766957e+07       0   1656925200000    1656928799999  19201.797143
2022-07-04 12:00:00+02:00  2022-07-04 12:00:00  19367.06  19554.97  19367.05  19470.65  4752.88148  2022-07-04 12:59:59  9.253502e+07   68829             2271.40909            4.421817e+07       0   1656928800000    1656932399999  19225.293810
2022-07-04 13:00:00+02:00  2022-07-04 13:00:00  19470.64  19855.70  19463.63  19806.49  6575.38314  2022-07-04 13:59:59  1.291441e+08   91650             3597.08295            7.065329e+07       0   1656932400000    1656935999999  19259.939048

[999 rows x 15 columns]

In [8]:
btcusdt.ema(21)
btcusdt.df

                                     Open time      Open      High       Low     Close      Volume           Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp        SMA_21        EMA_21
BTCUSDT 1h Europe/Madrid
2022-05-23 23:00:00+02:00  2022-05-23 23:00:00  29345.88  29499.03  29286.77  29346.34  1690.24433  2022-05-23 23:59:59  4.967436e+07   39665              742.54869            2.182065e+07       0   1653339600000    1653343199999           NaN           NaN
2022-05-24 00:00:00+02:00  2022-05-24 00:00:00  29346.33  29346.34  29035.58  29211.24  4062.98069  2022-05-24 00:59:59  1.185382e+08   54055             1859.89481            5.426609e+07       0   1653343200000    1653346799999           NaN           NaN
2022-05-24 01:00:00+02:00  2022-05-24 01:00:00  29211.24  29211.25  28866.35  29109.15  4022.61348  2022-05-24 01:59:59  1.169131e+08   59205             1698.81187            4.941351e+07       0   1653346800000    1653350399999           NaN           NaN
2022-05-24 02:00:00+02:00  2022-05-24 02:00:00  29109.14  29257.39  29056.70  29147.93  2120.99891  2022-05-24 02:59:59  6.191039e+07   41847             1157.82888            3.379184e+07       0   1653350400000    1653353999999           NaN           NaN
2022-05-24 03:00:00+02:00  2022-05-24 03:00:00  29147.93  29243.17  29106.26  29224.82  1192.06029  2022-05-24 03:59:59  3.477356e+07   35847              630.65244            1.839584e+07       0   1653354000000    1653357599999           NaN           NaN
...                                        ...       ...       ...       ...       ...         ...                  ...           ...     ...                    ...                     ...     ...             ...              ...           ...           ...
2022-07-04 09:00:00+02:00  2022-07-04 09:00:00  19101.43  19140.54  19084.29  19120.60  1461.55337  2022-07-04 09:59:59  2.793403e+07   25127              711.34528            1.359467e+07       0   1656918000000    1656921599999  19184.892857  19180.626148
2022-07-04 10:00:00+02:00  2022-07-04 10:00:00  19120.60  19174.15  19110.04  19147.25  1260.26650  2022-07-04 10:59:59  2.413039e+07   31762              624.98442            1.196563e+07       0   1656921600000    1656925199999  19187.628571  19177.591953
2022-07-04 11:00:00+02:00  2022-07-04 11:00:00  19147.25  19445.48  19140.19  19367.05  4510.71372  2022-07-04 11:59:59  8.707607e+07   72593             2469.36795            4.766957e+07       0   1656925200000    1656928799999  19201.797143  19194.815412
2022-07-04 12:00:00+02:00  2022-07-04 12:00:00  19367.06  19554.97  19367.05  19470.65  4752.88148  2022-07-04 12:59:59  9.253502e+07   68829             2271.40909            4.421817e+07       0   1656928800000    1656932399999  19225.293810  19219.891283
2022-07-04 13:00:00+02:00  2022-07-04 13:00:00  19470.64  19855.70  19463.63  19806.49  6575.38314  2022-07-04 13:59:59  1.291441e+08   91650             3597.08295            7.065329e+07       0   1656932400000    1656935999999  19259.939048  19273.218439

[999 rows x 16 columns]

In [10]:
btcusdt.stoch_rsi(14,14,3,3)
btcusdt.df

AttributeError: 'str' object has no attribute 'name'

In [7]:
import pandas_ta as ta

In [19]:
ta.stochrsi(btcusdt.df['Close'], 14,14,3,3)

                           STOCHRSIk_14_14_3_3  STOCHRSId_14_14_3_3
BTCUSDT 1h Europe/Madrid
2022-05-23 22:00:00+02:00                  NaN                  NaN
2022-05-23 23:00:00+02:00                  NaN                  NaN
2022-05-24 00:00:00+02:00                  NaN                  NaN
2022-05-24 01:00:00+02:00                  NaN                  NaN
2022-05-24 02:00:00+02:00                  NaN                  NaN
...                                        ...                  ...
2022-07-04 08:00:00+02:00            12.997336            12.899960
2022-07-04 09:00:00+02:00            13.196350            13.007448
2022-07-04 10:00:00+02:00            15.010348            13.734678
2022-07-04 11:00:00+02:00            40.947170            23.051289
2022-07-04 12:00:00+02:00            69.537867            41.831795

[999 rows x 2 columns]

In [12]:
btcusdt.df

                                     Open time      Open      High       Low     Close      Volume           Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp  Stoch_RSI_14  StochRSI_k_14  StochRSI_d_14
BTCUSDT 1h Europe/Madrid
2022-05-23 21:00:00+02:00  2022-05-23 21:00:00  29879.36  29883.44  29078.30  29089.90  8407.03264  2022-05-23 21:59:59  2.472318e+08  146571             3428.30912            1.007875e+08       0   1653332400000    1653335999999           NaN            NaN            NaN
2022-05-23 22:00:00+02:00  2022-05-23 22:00:00  29089.91  29459.45  29041.54  29345.89  4103.87872  2022-05-23 22:59:59  1.200745e+08   80333             2157.85136            6.313185e+07       0   1653336000000    1653339599999           NaN            NaN            NaN
2022-05-23 23:00:00+02:00  2022-05-23 23:00:00  29345.88  29499.03  29286.77  29346.34  1690.24433  2022-05-23 23:59:59  4.967436e+07   39665              742.54869            2.182065e+07       0   1653339600000    1653343199999           NaN            NaN            NaN
2022-05-24 00:00:00+02:00  2022-05-24 00:00:00  29346.33  29346.34  29035.58  29211.24  4062.98069  2022-05-24 00:59:59  1.185382e+08   54055             1859.89481            5.426609e+07       0   1653343200000    1653346799999           NaN            NaN            NaN
2022-05-24 01:00:00+02:00  2022-05-24 01:00:00  29211.24  29211.25  28866.35  29109.15  4022.61348  2022-05-24 01:59:59  1.169131e+08   59205             1698.81187            4.941351e+07       0   1653346800000    1653350399999           NaN            NaN            NaN
...                                        ...       ...       ...       ...       ...         ...                  ...           ...     ...                    ...                     ...     ...             ...              ...           ...            ...            ...
2022-07-04 07:00:00+02:00  2022-07-04 07:00:00  19125.19  19150.00  19115.02  19137.19   769.55275  2022-07-04 07:59:59  1.472453e+07   17742              352.14319            6.737627e+06       0   1656910800000    1656914399999      0.128287      12.828656      16.245723
2022-07-04 08:00:00+02:00  2022-07-04 08:00:00  19137.19  19189.00  19084.19  19101.42  1296.50582  2022-07-04 08:59:59  2.482637e+07   23707              609.61550            1.167416e+07       0   1656914400000    1656917999999      0.129973      12.997336      12.899960
2022-07-04 09:00:00+02:00  2022-07-04 09:00:00  19101.43  19140.54  19084.29  19120.60  1461.55337  2022-07-04 09:59:59  2.793403e+07   25127              711.34528            1.359467e+07       0   1656918000000    1656921599999      0.131964      13.196350      13.007448
2022-07-04 10:00:00+02:00  2022-07-04 10:00:00  19120.60  19174.15  19110.04  19147.25  1260.26650  2022-07-04 10:59:59  2.413039e+07   31762              624.98442            1.196563e+07       0   1656921600000    1656925199999      0.150103      15.010348      13.734678
2022-07-04 11:00:00+02:00  2022-07-04 11:00:00  19147.25  19445.48  19140.19  19367.05  4510.71372  2022-07-04 11:59:59  8.707607e+07   72593             2469.36795            4.766957e+07       0   1656925200000    1656928799999      0.409472      40.947170      23.051289

[999 rows x 17 columns]

In [13]:
btcusdt.macd()

fill detected

                           MACD_12_26_9_  MACDh_12_26_9_  MACDs_12_26_9_
BTCUSDT 1h Europe/Madrid
2022-05-23 21:00:00+02:00            NaN             NaN             NaN
2022-05-23 22:00:00+02:00            NaN             NaN             NaN
2022-05-23 23:00:00+02:00            NaN             NaN             NaN
2022-05-24 00:00:00+02:00            NaN             NaN             NaN
2022-05-24 01:00:00+02:00            NaN             NaN             NaN
...                                  ...             ...             ...
2022-07-04 07:00:00+02:00     -12.045901      -13.878107        1.832206
2022-07-04 08:00:00+02:00     -17.956768      -15.831179       -2.125589
2022-07-04 09:00:00+02:00     -20.853125      -14.982029       -5.871096
2022-07-04 10:00:00+02:00     -20.758782      -11.910149       -8.848633
2022-07-04 11:00:00+02:00      -2.914397        4.747389       -7.661786

[999 rows x 3 columns]

In [14]:
binpan.handlers.ta.MACD(data=btcusdt.df)

                                macd  macd_signal  macd_histogram
BTCUSDT 1h Europe/Madrid
2022-05-23 21:00:00+02:00   0.000000     0.000000        0.000000
2022-05-23 22:00:00+02:00  20.420855     4.084171       16.336684
2022-05-23 23:00:00+02:00  36.223281    10.511993       25.711288
2022-05-24 00:00:00+02:00  37.414090    15.892412       21.521678
2022-05-24 01:00:00+02:00  29.776758    18.669281       11.107476
...                              ...          ...             ...
2022-07-04 07:00:00+02:00 -12.045901     1.832206      -13.878107
2022-07-04 08:00:00+02:00 -17.956768    -2.125589      -15.831179
2022-07-04 09:00:00+02:00 -20.853125    -5.871096      -14.982029
2022-07-04 10:00:00+02:00 -20.758782    -8.848633      -11.910149
2022-07-04 11:00:00+02:00  -2.914397    -7.661786        4.747389

[999 rows x 3 columns]