In [8]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [9]:
!python -V

Python 3.11.2

In [10]:
import binpan
from binpan import handlers

In [11]:
binpan.__version__

'0.5.9'

# Get some data

In [12]:
sym = binpan.Symbol(symbol='AAVEUSDT',
                    tick_interval='1m',
                    hours=7800,
                    time_zone='Europe/Madrid',
                    postgres_klines=True)
sym.df

2023-10-07	 12:20:19     INFO Getting data from table aaveusdt_kline_1m from 1668594019005 to 1696673998000
2023-10-07	 12:20:19     INFO From first Open date 2023-10-06 20:42:00 to last Open date 2023-10-07 12:19:00

                                          Open time   Open   High    Low  Close  Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Open timestamp  Close timestamp  First TradeId  Last TradeId
AAVEUSDT 1m Europe/Madrid
2023-10-06 20:42:00+02:00 2023-10-06 20:42:00+02:00  69.24  69.24  69.24  69.24   0.516 2023-10-06 18:42:59.999000+02:00      35.72784       3                  0.000                 0.00000   1696617720000    1696617779999    106271112.0   106271114.0
2023-10-06 20:43:00+02:00 2023-10-06 20:43:00+02:00  69.24  69.24  69.23  69.23   1.869 2023-10-06 18:43:59.999000+02:00     129.39980       4                  0.893                61.83132   1696617780000    1696617839999    106271115.0   106271118.0
2023-10-06 20:44:00+02:00 2023-10-06 20:44:00+02:00  69.22  69.22  69.18  69.20  56.562 2023-10-06 18:44:59.999000+02:00    3913.65373      29                 39.452              2729.69834   1696617840000    1696617899999    106271119.0   106271147.0
2023-10-06 20:45:00+02:00 2023-10-06 20:45:00+02:00  69.20  69.21  69.18  69.21  44.183 2023-10-06 18:45:59.999000+02:00    3057.45985      21                 40.684              2815.34708   1696617900000    1696617959999    106271148.0   106271168.0
2023-10-06 20:46:00+02:00 2023-10-06 20:46:00+02:00  69.22  69.22  69.21  69.21   3.076 2023-10-06 18:46:59.999000+02:00     212.90020       5                  1.024                70.88128   1696617960000    1696618019999            NaN           NaN
...                                             ...    ...    ...    ...    ...     ...                              ...           ...     ...                    ...                     ...             ...              ...            ...           ...
2023-10-07 12:15:00+02:00 2023-10-07 12:15:00+02:00  66.24  66.27  66.24  66.25  65.669 2023-10-07 10:15:59.999000+02:00    4351.04158      22                 62.035              4110.28505   1696673700000    1696673759999    106311519.0   106311540.0
2023-10-07 12:16:00+02:00 2023-10-07 12:16:00+02:00  66.25  66.26  66.24  66.25   3.963 2023-10-07 10:16:59.999000+02:00     262.54849       6                  3.963               262.54849   1696673760000    1696673819999    106311541.0   106311546.0
2023-10-07 12:17:00+02:00 2023-10-07 12:17:00+02:00  66.25  66.25  66.25  66.25   1.417 2023-10-07 10:17:59.999000+02:00      93.87625       6                  1.417                93.87625   1696673820000    1696673879999    106311547.0   106311552.0
2023-10-07 12:18:00+02:00 2023-10-07 12:18:00+02:00  66.25  66.25  66.24  66.24   2.449 2023-10-07 10:18:59.999000+02:00     162.22325       4                  0.149                 9.87125   1696673880000    1696673939999    106311553.0   106311556.0
2023-10-07 12:19:00+02:00 2023-10-07 12:19:00+02:00  66.24  66.24  66.24  66.24   0.885 2023-10-07 10:19:59.999000+02:00      58.62240       1                  0.000                 0.00000   1696673940000    1696673999999    106311557.0   106311557.0

[938 rows x 15 columns]

In [13]:
sym.resample("1d")

                                          Open time   Open   High    Low  Close     Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Open timestamp  Close timestamp
AAVEUSDT 1d Europe/Madrid
2023-10-06 00:00:00+02:00 2023-10-06 20:42:00+02:00  69.24  69.77  69.11  69.39   5452.020 2023-10-06 21:59:59.999000+02:00  3.780282e+05    3037               2899.450            2.011152e+05   1696617720000    1696629599999
2023-10-07 00:00:00+02:00 2023-10-07 00:00:00+02:00  69.40  69.51  65.89  66.24  70458.286 2023-10-07 10:19:59.999000+02:00  4.729391e+06   37409              31525.464            2.118048e+06   1696629600000    1696673999999

In [14]:
stop

NameError: name 'stop' is not defined

In [ ]:
sym.time_centroids()

In [ ]:
sym.plot()

In [ ]:
sym.time_centroids(simple=False)

In [ ]:
sym.plot()

In [ ]:
sym.get_atomic_trades()

In [ ]:
sym.time_centroids(from_atomic=True, simple=False)

In [ ]:
sym.plot()

In [ ]:
sym.time_centroids(from_atomic=True, simple=True)
sym.plot()