In [1]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
!python -V

Python 3.11.2

In [3]:
from binpan import binpan
from binpan import handlers

In [4]:
binpan.__version__

'0.4.31'

# Get some data

In [5]:
sym = binpan.Symbol(symbol='ltcbtc',
                        tick_interval='1m',
                        limit=1000,
                        time_zone='Europe/Madrid')

2023-08-03	 15:25:13     INFO get_candles_by_time_stamps -> symbol=LTCBTC tick_interval=1m start=2023-08-02 22:45:13 end=2023-08-03 15:24:58 channel:ltcbtc@kline_1m
2023-08-03	 15:25:13     INFO API request: LTCBTC 2023-08-02 22:45:13 to 2023-08-03 15:25:13

In [6]:
sym.df

                                          Open time      Open      High       Low     Close   Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Ignore  Open timestamp  Close timestamp
LTCBTC 1m Europe/Madrid
2023-08-02 22:46:00+02:00 2023-08-02 22:46:00+02:00  0.003008  0.003010  0.003008  0.003010   63.212 2023-08-02 22:46:59.999000+02:00      0.190251      15                 57.688                0.173624       0   1691009160000    1691009219999
2023-08-02 22:47:00+02:00 2023-08-02 22:47:00+02:00  0.003009  0.003010  0.003009  0.003010  155.438 2023-08-02 22:47:59.999000+02:00      0.467714      36                  5.818                0.017508       0   1691009220000    1691009279999
2023-08-02 22:48:00+02:00 2023-08-02 22:48:00+02:00  0.003009  0.003009  0.003008  0.003008    6.478 2023-08-02 22:48:59.999000+02:00      0.019491      17                  0.200                0.000602       0   1691009280000    1691009339999
2023-08-02 22:49:00+02:00 2023-08-02 22:49:00+02:00  0.003008  0.003008  0.003007  0.003008   14.107 2023-08-02 22:49:59.999000+02:00      0.042434       6                  4.671                0.014050       0   1691009340000    1691009399999
2023-08-02 22:50:00+02:00 2023-08-02 22:50:00+02:00  0.003007  0.003007  0.003007  0.003007    0.625 2023-08-02 22:50:59.999000+02:00      0.001879       2                  0.303                0.000911       0   1691009400000    1691009459999
...                                             ...       ...       ...       ...       ...      ...                              ...           ...     ...                    ...                     ...     ...             ...              ...
2023-08-03 15:20:00+02:00 2023-08-03 15:20:00+02:00  0.002961  0.002961  0.002959  0.002959   61.765 2023-08-03 15:20:59.999000+02:00      0.182809       9                 19.135                0.056624       0   1691068800000    1691068859999
2023-08-03 15:21:00+02:00 2023-08-03 15:21:00+02:00  0.002959  0.002959  0.002959  0.002959   16.418 2023-08-03 15:21:59.999000+02:00      0.048581       7                  4.084                0.012085       0   1691068860000    1691068919999
2023-08-03 15:22:00+02:00 2023-08-03 15:22:00+02:00  0.002958  0.002958  0.002957  0.002957    7.914 2023-08-03 15:22:59.999000+02:00      0.023409       4                  7.657                0.022649       0   1691068920000    1691068979999
2023-08-03 15:23:00+02:00 2023-08-03 15:23:00+02:00  0.002957  0.002958  0.002957  0.002957   26.636 2023-08-03 15:23:59.999000+02:00      0.078763       7                 16.465                0.048688       0   1691068980000    1691069039999
2023-08-03 15:24:00+02:00 2023-08-03 15:24:00+02:00  0.002957  0.002957  0.002955  0.002955   18.795 2023-08-03 15:24:59.999000+02:00      0.055561      11                  0.000                0.000000       0   1691069040000    1691069099999

[999 rows x 14 columns]

In [7]:
sym.get_atomic_trades()

Requesting atomic trades between 2023-08-02 22:46:00 and 2023-08-03 15:24:59

2023-08-03	 15:25:14     INFO Requests API for atomic trades searching STARTIME LTCBTC: 1 current_first_trade:92992018
2023-08-03	 15:25:14     INFO Requests API for atomic trades searching STARTIME LTCBTC: 2 current_first_trade:92991018
2023-08-03	 15:25:14     INFO Requests API for atomic trades searching STARTIME LTCBTC: 3 current_first_trade:92990018
2023-08-03	 15:25:15     INFO Requests API for atomic trades searching STARTIME LTCBTC: 4 current_first_trade:92989018
2023-08-03	 15:25:15     INFO Requests API for atomic trades searching STARTIME LTCBTC: 5 current_first_trade:92988018
2023-08-03	 15:25:15     INFO Requests API for atomic trades searching STARTIME LTCBTC: 6 current_first_trade:92987018
2023-08-03	 15:25:15     INFO Requests API for atomic trades searching STARTIME LTCBTC: 7 current_first_trade:92986018
2023-08-03	 15:25:16     INFO Requests API for atomic trades searching STARTIME LTCBTC: 8 current_first_trade:92985018
2023-08-03	 15:25:16     INFO Requests API for atomic trades searching STARTIME LTCBTC: 9 current_first_trade:92984018
2023-08-03	 15:25:16     INFO Requests API for atomic trades searching STARTIME LTCBTC: 10 current_first_trade:92983018
2023-08-03	 15:25:16     INFO Requests API for atomic trades searching STARTIME LTCBTC: 11 current_first_trade:92982018
2023-08-03	 15:25:17     INFO Requests API for atomic trades searching STARTIME LTCBTC: 12 current_first_trade:92981018
2023-08-03	 15:25:17     INFO Requests API for atomic trades searching STARTIME LTCBTC: 13 current_first_trade:92980018
2023-08-03	 15:25:18     INFO Requests API for atomic trades searching STARTIME LTCBTC: 14 current_first_trade:92979018
2023-08-03	 15:25:18     INFO Requests API for atomic trades searching STARTIME LTCBTC: 15 current_first_trade:92978018
2023-08-03	 15:25:18     INFO Requests API for atomic trades searching ENDTIME LTCBTC: 16 current_last_trade:92993017
2023-08-03	 15:25:18     INFO Requests API for atomic trades searching ENDTIME LTCBTC: 17 current_last_trade:92993017
2023-08-03	 15:25:19     INFO Requests API for atomic trades searching ENDTIME LTCBTC: 18 current_last_trade:92993017

                                  Trade Id     Price  Quantity  Quote quantity                 Date      Timestamp  Buyer was maker  Best price match
LTCBTC Europe/Madrid
2023-08-02 22:46:11.398000+02:00  92977813  0.003008     5.532        0.016640  1691009171000000000  1691009171398            False              True
2023-08-02 22:46:21.334000+02:00  92977814  0.003009     2.153        0.006478  1691009181000000000  1691009181334            False              True
2023-08-02 22:46:42.165000+02:00  92977815  0.003009     2.535        0.007628  1691009202000000000  1691009202165            False              True
2023-08-02 22:46:53.627000+02:00  92977816  0.003008     0.141        0.000424  1691009213000000000  1691009213627             True              True
2023-08-02 22:46:54.384000+02:00  92977817  0.003009     1.291        0.003885  1691009214000000000  1691009214384            False              True
...                                    ...       ...       ...             ...                  ...            ...              ...               ...
2023-08-03 15:24:44.492000+02:00  92993013  0.002956     7.264        0.021472  1691069084000000000  1691069084492             True              True
2023-08-03 15:24:44.492000+02:00  92993014  0.002956     0.326        0.000964  1691069084000000000  1691069084492             True              True
2023-08-03 15:24:44.492000+02:00  92993015  0.002955     3.384        0.010000  1691069084000000000  1691069084492             True              True
2023-08-03 15:24:44.492000+02:00  92993016  0.002955     0.326        0.000963  1691069084000000000  1691069084492             True              True
2023-08-03 15:24:44.492000+02:00  92993017  0.002955     0.255        0.000754  1691069084000000000  1691069084492             True              True

[15205 rows x 8 columns]

In [8]:
sym.rolling_support_resistance(from_atomic=True)

TypeError: Invalid type <class 'str'>. Must be int or float.

In [ ]:
from handlers import time_helper

In [ ]:
df = sym.atomic_trades
df

In [ ]:
time_ranges = time_helper.get_dataframe_time_index_ranges(data=df)
time_ranges

In [ ]:
remove_initial_included_ranges(time_ranges, initial_minutes=60)

In [ ]:
for start_time, end_time in time_ranges:
    df_window = df.loc[start_time:end_time]
    print(len(df_window))

In [ ]:
sym.support_resistance(from_atomic=True, by_quantity=True)