In [1]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
!python -V

Python 3.11.2

In [3]:
import binpan
from binpan import handlers

Cannot import numba: only Python versions >=3.7,<3.11 are supported. Using Numpy.

In [4]:
binpan.__version__

'0.5.13'

# Get some data

In [5]:
sym = binpan.Symbol(symbol='AAVEUSDT',
                    tick_interval='1m',
                    hours=7800,
                    time_zone='Europe/Madrid',
                    postgres_klines="192.168.89.242")
sym.df

2023-10-08	 11:49:49     INFO Getting data from table aaveusdt_kline_1m from 1668678589073 to 1696758538000
2023-10-08	 11:49:49     INFO From first Open date 2023-10-06 20:42:00 to last Open date 2023-10-08 11:48:00
2023-10-08	 11:49:50  WARNING BinPan Warning: Dataframe has gaps in klines continuity:
                               Open timestamp         Close timestamp
AAVEUSDT 1m Europe/Madrid
2023-10-08 09:40:00+02:00 2023-10-08 07:40:00 2023-10-08 07:40:59.999
2023-10-08	 11:49:50  WARNING
Timestamp discontinuities detected:
DatetimeIndex(['2023-10-08 09:40:00+02:00'], dtype='datetime64[ns, Europe/Madrid]', name='AAVEUSDT 1m Europe/Madrid', freq=None)

                                          Open time   Open   High    Low  Close  Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Open timestamp  Close timestamp  First TradeId  Last TradeId
AAVEUSDT 1m Europe/Madrid
2023-10-06 20:42:00+02:00 2023-10-06 20:42:00+02:00  69.24  69.24  69.24  69.24   0.516 2023-10-06 18:42:59.999000+02:00      35.72784       3                  0.000                 0.00000   1696617720000    1696617779999    106271112.0   106271114.0
2023-10-06 20:43:00+02:00 2023-10-06 20:43:00+02:00  69.24  69.24  69.23  69.23   1.869 2023-10-06 18:43:59.999000+02:00     129.39980       4                  0.893                61.83132   1696617780000    1696617839999    106271115.0   106271118.0
2023-10-06 20:44:00+02:00 2023-10-06 20:44:00+02:00  69.22  69.22  69.18  69.20  56.562 2023-10-06 18:44:59.999000+02:00    3913.65373      29                 39.452              2729.69834   1696617840000    1696617899999    106271119.0   106271147.0
2023-10-06 20:45:00+02:00 2023-10-06 20:45:00+02:00  69.20  69.21  69.18  69.21  44.183 2023-10-06 18:45:59.999000+02:00    3057.45985      21                 40.684              2815.34708   1696617900000    1696617959999    106271148.0   106271168.0
2023-10-06 20:46:00+02:00 2023-10-06 20:46:00+02:00  69.22  69.22  69.21  69.21   3.076 2023-10-06 18:46:59.999000+02:00     212.90020       5                  1.024                70.88128   1696617960000    1696618019999            NaN           NaN
...                                             ...    ...    ...    ...    ...     ...                              ...           ...     ...                    ...                     ...             ...              ...            ...           ...
2023-10-08 11:44:00+02:00 2023-10-08 11:44:00+02:00  65.84  65.84  65.84  65.84   0.442 2023-10-08 09:44:59.999000+02:00      29.10128       1                  0.000                 0.00000   1696758240000    1696758299999    106341031.0   106341031.0
2023-10-08 11:45:00+02:00 2023-10-08 11:45:00+02:00  65.85  65.86  65.85  65.86   2.764 2023-10-08 09:45:59.999000+02:00     182.03361       5                  0.602                39.64429   1696758300000    1696758359999    106341032.0   106341036.0
2023-10-08 11:46:00+02:00 2023-10-08 11:46:00+02:00  65.80  65.80  65.79  65.80   5.236 2023-10-08 09:46:59.999000+02:00     344.50743       9                  4.187               275.48941   1696758360000    1696758419999    106341037.0   106341045.0
2023-10-08 11:47:00+02:00 2023-10-08 11:47:00+02:00  65.83  65.83  65.80  65.83   9.105 2023-10-08 09:47:59.999000+02:00     599.33658       7                  6.067               399.34504   1696758420000    1696758479999    106341046.0   106341052.0
2023-10-08 11:48:00+02:00 2023-10-08 11:48:00+02:00  65.81  65.82  65.80  65.80  10.664 2023-10-08 09:48:59.999000+02:00     701.82867      11                  1.519                99.98058   1696758480000    1696758539999    106341053.0   106341063.0

[2321 rows x 15 columns]

In [6]:
sym.resample("1d")

                                          Open time   Open   High    Low  Close      Volume                       Close time  Quote volume  Trades  Taker buy base volume  Taker buy quote volume  Open timestamp  Close timestamp
AAVEUSDT 1d Europe/Madrid
2023-10-06 00:00:00+02:00 2023-10-06 20:42:00+02:00  69.24  69.77  69.11  69.39    5452.020 2023-10-06 21:59:59.999000+02:00  3.780282e+05    3037               2899.450            2.011152e+05   1696617720000    1696629599999
2023-10-07 00:00:00+02:00 2023-10-07 00:00:00+02:00  69.40  69.51  65.89  67.00  111469.546 2023-10-07 21:59:59.999000+02:00  7.477523e+06   53711              50679.797            3.401501e+06   1696629600000    1696715999999
2023-10-08 00:00:00+02:00 2023-10-08 00:00:00+02:00  67.00  67.38  65.64  65.80   21580.182 2023-10-08 09:48:59.999000+02:00  1.435365e+06   12715               9712.101            6.459799e+05   1696716000000    1696758539999

In [14]:
stop

NameError: name 'stop' is not defined

In [ ]:
sym.time_centroids()

In [ ]:
sym.plot()

In [ ]:
sym.time_centroids(simple=False)

In [ ]:
sym.plot()

In [ ]:
sym.get_atomic_trades()

In [ ]:
sym.time_centroids(from_atomic=True, simple=False)

In [ ]:
sym.plot()

In [ ]:
sym.time_centroids(from_atomic=True, simple=True)
sym.plot()